@font-face {
    font-family: light;
    src: url('/fonts/proxima/Proxima-Nova-Alt-Light.otf');
}

@font-face {
    font-family: regular;
    src: url('./fonts/proxima/ProximaNova-Regular.otf');
}

@font-face {
    font-family: semiBold;
    src: url('./fonts/proxima/proximanova-semibold.otf');
}

@font-face {
    font-family: bold;
    src: url('./fonts/proxima/Proxima Nova Bold.otf');
}

@font-face {
    font-family: arialBold;
    src: url('./fonts/arial/arlrdbd.ttf');
}

.arialBold {
    font-family: arialBold;
}

.light {
    font-family: light !important;
} 

.regular {
    font-family: regular !important;
}

.semiBold {
    font-family: semiBold !important;
}

.bold {
    font-family: bold !important;
}

.size_16 {
    font-size: 16px !important;
}

.size_18 {
    font-size: 18px !important;
}

.size_20 {
    font-size: 20px !important;
}

.size_22 {
    font-size: 22px !important;
}

.size_40 {
    font-size: 40px !important;
}

body {
    font-family: regular !important;
    font-size: 14px;
    color: black;
}

div {
    font-family: regular !important;
    font-size: 14px;
    color: black;
}

a:hover {
    text-decoration: none !important;
}

.no_margin {
    margin: 0 !important;
}

.flex {
    display: flex !important;
}

.block {
    display: block !important;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.margin_auto {
    margin: 0 auto;
}

.margin_none {
    margin: 0 !important;
}

.blue {
    color: #0376ff !important;
}

.white {
    color: white !important;
}

.grey {
    color: #a7a7a7 !important;
}

.lite_blue {
    color: #32C5FF !important;
}

.grid {
    display: grid !important;
}

.bg_none {
    background: none !important;
}

.border_none {
    border: none !important;
}

textarea {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 13px;
    height: 115px;
}

textarea:focus {
    outline: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 420px !important;
    }
}

@media only screen and (min-width: 992px) {
    .custom_job_seeker {
        background-position-y: -18px !important;
    }
    .header_with_login a.nav-item.nav-link.active {
       /* border: none !important;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        z-index: -1;*/
        margin-left: auto;
        margin-right: auto;
    }
    .active img{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .header_with_login a.nav-item.nav-link.active,
    .nav-item.nav-link.active img {
        height: 48px;
        margin-top: -5px;
    }
    .plan_compare {
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 1100px) {
    .page_desc {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .share_mobile {
        display: block !important;
    }
    .share_web {
        display: none !important;
    }
    .custom_share .custom_social_icon .share i {
        font-size: 26px !important;
    }
    .page_header.download {
        background-position-y: 68px !important;
    }
    .short_width {
        width: 100% !important;
    }
    .collapse:not(.show) ~ .lang {
        position: absolute;
        right: 15px;
    }
    .lang .lang a.dropdown-item {
        color: #0277FF !important;
    }
    .lang a.dropdown-item {
        color: white !important;
    }
    /*welcome page css with temparily csss*/
    .custom_share_button {
        background: transparent !important;
        bottom: 140px !important;
        border: 2px solid white !important;
        font-size: 16px !important;
        padding: 9px 30px !important;
        position: fixed !important;
    }
    /*.site_header_2 .navbar.navbar-expand-lg.navbar-light.custom_header {
        height: 57px;
    }*/
    /*.site_header_2 .header .site_logo img {
        width: 115px !important;
        margin-top: 3px;
        margin-left: -5px;
    }*/
   /* .site_header_2 .site_logo.navbar-brand {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }*/
    /*.site_header_2 span.navbar-toggler-icon {
        display: none;
    }*/
    .text_welcome {
        margin-top: -25px;
    }
    /* ene temp css*/
    .nav-item.nav-link.login_btn.desktop.header_logout {
        display: block !important;
        z-index: 99999;
        position: absolute;
        margin-top: 90px !important;
    }
    .header .navbar-light .navbar-nav .nav-link.menu_training:after {
        content: 'Training';
        position: absolute;
        left: 90px;
        color: grey;
    }
    .header .navbar-light .navbar-nav .nav-link.menu_chat:after {
        content: 'Chat';
        position: absolute;
        left: 90px;
        color: grey;
    }
    .header .navbar-light .navbar-nav .nav-link.menu_account:after {
        content: 'Account';
        position: absolute;
        left: 90px;
        color: grey;
    }
    .header .navbar-light .navbar-nav .nav-link.menu_job:after {
        content: 'Jobs';
        position: absolute;
        left: 90px;
        color: grey;
    }
    .header .navbar-light .navbar-nav .nav-link.active:after {
        margin-top: -28px;
        color: #0277ff;
    }
    .desktop_img {
        display: none !important;
    }
    .show .dropdown-item.active, .dropdown-item:active {
        background: transparent !important;
        color: #0875fe;
    }
    .show .dropdown-item:hover {
        background: transparent !important;
        color: #0875fe;
    }
    .user_header {
         margin-top: 0px !important;
    },
    .features.dropdown-menu.show{
        margin-left: 0px !important;
        background-color: none;
    },
    .header.header_with_login .navbar-light .navbar-nav .nav-link {
        /*background: #e2e2e2;*/
        margin: 0;
        padding: 12px !important;
        margin-bottom: 3px;
    }
    .download_header_content .app_title {
        line-height: 40px !important;
    }
    .create_account {
        margin-top: 22px;
    }
    a.nav-item.nav-link.login_btn.mobile {
        display: block !important;
        background: transparent !important;
        border: 2px solid white !important;
        height: 48px;
        line-height: 28px;
        font-style: normal !important;
        font-family: regular !important;
        position: absolute;
        left: 0;
        right: 0;
        color: white !important;
        width: 190px !important;
        margin: 0 auto !important;
        margin-top: 20px !important;
    }
    .desktop {
        display: none !important;
    }
    .download_header_content .play_store_btn a {
        margin: inherit;
        margin-right: 10px;
    }
    .download_img {
        display: none;
    }
    .download_header_content .col-md-6 {
        min-width: 100%;
    }
    .navbar-collapse.collapse.show~.lang .show {
        /*margin-left: 24px;*/
    }
    .navbar-collapse.collapse.show~.lang {
       position: absolute;
        top: 19px;
        right: 15px;
        z-index: 9999;
    }
    .dropdown-menu.show {
        margin-left: -46px;
    }
    .main_header {
        height: 100vh !important;
        background-position-y: 68px !important;
    }
    .header_title {
        font-size: 40px !important;
        line-height: 40px !important;
        padding: 15px 160px !important;
        bottom: 150px !important;
    }
    .header_img img {
        height: 150px !important;
    }
    .header_images {
        height: 485px !important;
    }
    .header_images:after {
        height: 485px !important;
    }
    .testimonial {
        /*margin-top: -20px !important;*/
    }
    .head_logo {
        top: 83px !important;
    }
    .app_title {
        font-size: 30px !important;
        margin-top: 55px !important;
    }
    .footer_section_1 .col-md-3 {
        text-align: center;
    }
    .footer_section_1 .col-md-9 {
        text-align: center;
    }
    .play_store_btn a {
        text-align: center;
        margin: 0 auto;
    }
    .play_store_btn a img {
        margin-right: 0px !important;
    }
    a.nav-item.nav-link.login_btn {
        width: 155px !important;
        margin: 15px 15px 15px 30px !important;
    }
    .header {
        position: absolute;
        z-index: 99;
        width: 100%;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0 0 0));
    }
    a.site_logo.navbar-brand.mobile {
        display: block !important;
        margin-left: 30px;
    }
    a.site_logo.navbar-brand.desktop {
        display: none !important;
    }
    .site_logo img {
        width: 150px !important;
        margin-left: 34px;
    }
    .header .lang a {
        /*color: #ffffff;*/
        text-transform: none;
        padding-left: 0;
        font-size: 16px;
    }
    .header a.nav-item.nav-link.login_btn {
        border-radius: 25px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto !important;
        top: 415px;
        background: transparent;
        border: 2px solid white;
        /*width: 252px !important;*/
    }
    .header .lang a {
        padding: 0 !important;
        font-size: 14px;
        margin-right: -7px;
    }
    .header_images .head_logo {
        display: none !important;
    }
    span.navbar-toggler-icon {
        position: absolute;
        left: 5px;
        top: 14px;
        background-size: 23px;
    }
    .header_inner .fa-language {
        margin-right: 8px;
        font-size: 17px !important;
    }
    .header_images:after {
        background: rgba(0, 0, 0, 0.7) !important;
    }
    .navbar-nav.ml-auto.lang {
        /*background: rgba(0, 0, 0, 0.7) !important;*/
        /*padding: 10px 0px;*/
        /*padding-bottom: 45px;*/
    }
    .header .navbar-light .navbar-nav .nav-link {
        color: white !important;
        text-transform: inherit !important;
        margin: 8px 23px;
    }
    .dropdown-menu.show a {
        color: #0875fe;
        padding-left: 12px !important;
        margin: 8px 0px;
    }
    .navbar-collapse .dropdown-menu {
        display: block !important;
        background: transparent;
        margin: -11px;
        border: none;
        overflow: hidden;
    }
    .navbar-collapse .dropdown-menu a {
        padding: 6px !important;
        margin-left: 56px;
    }
    /*.navbar-collapse .dropdown-menu a:before {
        content: '';
        width: 8px;
        height: 8px;
        background: white;
        position: absolute;
        margin-left: -20px;
        margin-top: 7px;
        border-radius: 50%;
    }*/
    .site_header_2 {
        background: #0776ff !important;
        height: 71px;
    }
    #first {
        order: 1;
    }
    #second {
        order: 2;
    }
    .feature_img_block {
        margin-bottom: 60px;
    }
    .right_block .back_color {
        right: 0 !important;
    }
    .single_plan {
        width: 50% !important;
    }
    .coming_soon {
        margin-top: 0px !important;
    }
    .desktop_img {
        display:none;
    }
    .mobile_img {
        display:block !important;
    }
}

@media only screen and (max-width: 767px) {
    .download_header_content {
        top: 20% !important;
    }
    .page_sub {
        display: none;
    }
    .file_upload_label {
        background: none !important;
        color: black !important;
        top: -20px !important;
        left: -4px !important;
        display: none;
    }
    .custom_file_upload input {
        padding-left: 15px !important;
    }
    .blog_thumb img {
        margin-bottom: 15px;
    }
    .header_title {
        padding: 15px 23px !important;
        font-style: italic;
    }
    .slider {
        max-width: 685px !important;
    }
    .custom_top2 {
        margin-top: 25px;
    }
    .col-md-9 .app_title {
        margin-top: 15px !important;
    }
    .phc_logo img {
        display: none;
    }
    .page_name {
        font-size: 50px !important;
        line-height: 45px;
    }
    .page_header {
        height: 300px !important;
    }
    .page_header_content {
        padding: 120px 15px !important;
    }
    .apply_form input[type="email"] {
        margin-top: 15px;
    }
    .page_sub {
        font-size: 20px !important;
        line-height: 24px !important;
        margin-top: 9px;
    }
    .plans .single_plan {
        width: 100% !important;
    }
}

@media only screen and (max-width: 575px) {
    .page_title {
        font-size: 28px !important;
    }

    .short_heading h1 {
        font-size: 20px;
    }
    .short_heading1 h1 {
        font-size: 30px;
    }
    .main_header {
        background-position-x: -191px !important; 
    },
    .form_bg.form_bg_2 {
        padding: 30px 0px !important;
    }
    .form_bg {
        padding: 30px 15px !important;
    }
    .account_logo img {
        width: 240px !important;
    }
    .account_logo {
        margin: 12px 15px !important;
    }
    .single_img .header_img img {
        height: 280px !important;
    }
    .header_images .head_logo img {
        width: 230px;
    }
    .header_images .head_logo {
        top: 38px !important;
    }
    .header_images .header_title {
        top: 30% !important;
        font-size: 25px !important;
        line-height: 30px !important;
        font-style: italic;
    }
    .main_header .header_images {
        min-height: 100% !important;
        overflow: hidden;
    }
    .main_header .header_images:after {
        height: 100% !important;
    }
    .single_img {
        width: 49.66% !important;
    }
    .app_title {
        line-height: 38px;
    }
    .play_store_btn img {
        width: 130px !important;
    }
    .custom_top {
        margin-top: 15px;
    }
    .header .site_logo img {
        width: 115px !important;
        margin-top: 3px;
    }
    .footer_section_2 .col-sm-4 {
        max-width: 50%;
    }
    .head_logo {
        display: none;
    }
    .subscribe_section {
        display: block !important;
    }
    .email_submit {
        margin-left: 0px !important;
        margin-top: 14px;
    }
    .job_type {
        margin: 20px 0px !important;
    }
    .job_type {
        padding: 15px !important;
    }
    .front_img {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .back_color {
        width: 100% !important;
    }
    .two_column {
        display: block !important;
    }
    .date_picker.two_column .custom_column {
        min-width: 100% !important;
    }
}

@media only screen and (max-width: 470px) {
    .main_header .header_images .header_title {
        top: 20% !important;
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .footer_section_3 .flex {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    .radio_2 {
        margin-top: 43px;
    }
    .blog_title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .plan_inner {
        min-height: 320px;
    }
}

.main_header {
    background-image: url(../../assets/img/index_bg.webp) !important;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
    background-position-y: 80px;
}

.header_img img {
    width: 100%;
    height: 88px;
    object-fit: cover;
}

.custom_hover {
    position: relative;
}

.lang a.dropdown-item {
    text-transform: capitalize;
    color: #0277FF;
}

.custom_hover:hover~.custom_submenu {
    display: block !important;
}

.footer_section_1 .col-md-3 img {
    width: 165px;
}

.single_img {
    width: 16.66%;
    float: left;
}

.header_img {
    margin: 7px;
}

.header_images:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 635px;
    background: rgba(0, 0, 0, 0.4);
}

.header_images {
    position: relative;
    background: black;
    height: 600px;
    display: inline-block;
    margin-bottom: 29px;
}

.header_title {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding: 15px 85px;
    line-height: 75px;
    text-shadow: 2px 4px 15px #404040;
    font-family: bold !important;
    margin: 0 auto;
}

.site_logo img {
    width: 185px;
}

.header nav.navbar {
    margin: 5px 15px;
}

.header .navbar-light .navbar-nav .nav-link {
    color: white !important;
    text-transform: capitalize;
    margin-left: 35px;
    font-size: 16px;
    padding: 4px 0px;
}

a.nav-item.nav-link.login_btn {
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    /*background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);*/
    text-align: center;
    color: #0277FF !important;
    padding-left: 0px !important;
    padding: 9px 30px 9px 30px !important;
    border-radius: 25px;
    margin-left: 23px;
    text-transform: capitalize;
    font-size: 16px;
    background:white;
}

.create_account a {
    text-shadow: none !important;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 45px;
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    padding: 14px 65px;
    color: white;
    font-style: normal;
}

.head_logo {
    margin-bottom: 25px;
}

.head_logo img {
    width: 525px;
}

.create_account a:hover {
    text-decoration: none;
    color: white;
    /*background-image: linear-gradient(to right, #6A0FF1, #0677FE);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
}

.slider {
    max-width: 1125px;
    margin: 0 auto;
}

.slick-slide {
    margin: 0 5px;
}

.slick-list {
    margin: 0px -5px 0px -5px;
}

button.slick-next,
button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: 54px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
}

button.slick-prev,
button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
    background-position-x: right;
}

.slick-prev:before,
.slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
}

.slider .single_testimonial {
    min-height: 250px;
    position: relative;
    border: 1px solid #e8e8e8;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #ececec;
}

.slider .single_testimonial:focus {
    outline: none;
}


/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide .single_testimonial {
    display: block;
}

.slick-slide.slick-loading .single_testimonial {
    display: none;
}

.slick-slide.dragging .single_testimonial {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
    font-weight: bold;
    font-size: 20px;
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}


/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.tes_left {
    font-size: 18px;
    font-family: semiBold !important;
    border-bottom: 1px solid #e6e6e6;
    width: 80%;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.tes_right {
    position: absolute;
    right: 13px;
    top: 20px;
}

.tes_right img {
    width: 32px;
}

.testimonial {
    margin-top: 15px;
    margin-bottom:15px;
}

.tes_desc {
    font-size: 16px;
    color:black;
}

.designation {
    color: grey;
    margin-top: -3px;
}

.footer_section_1 {
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    padding: 20px 0px;
}

.play_store_btn img {
    width: 170px;
    margin-right: 15px;
}

.app_title {
    color: white;
    /*font-style: italic;*/
    font-size: 40px;
    font-family: 'arialBold' !important;
    /*font-family: "Arial Rounded MT Bold" !important;*/
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left !important;
}

.footer_heading {
    font-size: 18px;
    font-family: bold !important;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 3px;
    font-style: italic;
}

.footer_links {
    display: grid;
}

.footer_links a {
    color: inherit;
    font-size: 16px;
    margin-top: 2px;
}

.footer_links a:hover {
    color: #0875fe !important;
    text-decoration: none;
}

.footer_section_2 {
    padding: 15px 0px;
}


/*.footer_heading:after {
    width: 45px;
    height: 3px;
    background: black;
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
}*/

.social_icon {
    display: flex;
}

.social_icon a div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    color: white;
    margin-right: 7px;
}

.social_icon a div i {
    font-size: 20px;
}

.link_heading {
    font-size: 18px;
    font-family: bold !important;
    position: relative;
    margin-bottom: 14px;
    margin-right: 12px;
    margin-top: 7px;
}

.footer_section_3 {
    padding: 15px 0px;
    border-top: 1px solid#dcdcdc;
}

.newsletter {
    position: relative;
    width: 250px;
}

.newsletter input {
    border: 1px solid #b3b3b3;
    padding: 7px 13px;
    width: 100%;
    border-radius: 30px;
    padding-right: 35px;
}

.newsletter .fa {
    position: absolute;
    right: 15px;
    top: 11px;
    z-index: 99;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.footer_section_4 {
    padding: 15px 0px;
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    color: white;
    text-align: center;
}

.footer_section_4 .col-md-12 {
    color: white !important;
}

button:focus {
    outline: none !important;
}

.header_inner .fa-language {
    margin-right: 8px;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.dropdown-toggle::after {
    display: none !important;
}

.lang.show {
    position: relative;
}

.navbar-light .navbar-toggler {
    border: none;
}

.features.dropdown-menu.show {
    margin-left: 114px;
}

.lang a {
    color: white;
    padding-left: 30px;
    font-size: 16px;
}

.tes_right .qoute {
    padding: 0;
}

.mobile {
    display: none !important;
}

.heading {
    font-family: semiBold !important;
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
}

.subscribe_section {
    display: flex;
}

.or {
    margin: 9px 9px;
}

.email_submit {
    width: 65px;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 38px;
    border-radius: 25px;
    margin-left: 15px;
    /*background-image: linear-gradient(to bottom, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to bottom, #6D56EF, #4A3FDA, #0277FF);
    cursor: pointer;
}

.page_header {
    width: 100%;
    background-image: url(../../assets/img/about_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    display: grid;
    background-position-y: 67px;
    /*padding-top: 35px;*/
}

.page_header.about_us {
    background-image: url(../../assets/img/about_us_bg.webp);
}

.page_header_content {
    text-align: center;
    /*padding: 150px 15px;*/
}

.phc_logo img {
    width: 440px;
    filter: drop-shadow(0px 4px 12px black);
}

.page_name {
    font-size: 75px;
    font-family: bold !important;
    color: white;
    text-shadow: 2px 4px 15px #404040;
}

.qoute {
    background: #eaeaea;
    padding: 28px 15px 20px 15px;
    line-height: 30px;
    font-size: 25.5px;
    font-family: semiBold !important;
    box-shadow: 2px 2px 3px #ababab;
    border-radius: 8px;
    margin-bottom: 25px;
    background-image: url(../../assets/img/qoute_icon_new.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 31px;
    background-position-y: 7px;
}

.page {
    margin: 40px 0px;
}

.page_inner {
    font-size: 16px;
    text-align: justify;
    font-size: 18px;
}

.footer {
    border-top: 1px solid #dcdcdc;
}

.page_sub {
    font-size: 35px;
    font-family: bold !important;
    max-width: 750px;
    color: white;
    text-shadow: 2px 4px 15px #404040;
    line-height: 40px;
    font-style: italic;
}

.custom_padding {
    padding: 0px 150px;
}

.page_desc {
    font-size: 20px;
    color: white;
    font-family: semiBold !important;
    line-height: 25px;
    max-width: 950px;
    width: 100%;
    text-shadow: 2px 4px 15px #404040;
    margin-top: 30px;
}

.job_title {
    font-size: 18px;
    font-family: bold !important;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.job_type {
    box-shadow: 0px 1px 9px #d2d2d2;
    padding: 20px;
    border-left: 5px solid #0b75fe;
    margin-bottom: 30px;
}

.theme_btn input {
    text-shadow: none !important;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 45px !important;
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1) !important;*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF) !important;
    padding: 12px 65px;
    color: white;
    font-style: normal;
    border: none !important;
}

.theme_btn {
    text-align: right;
    margin-top: 20px;
}

.page_title {
    font-size: 32px;
    font-family: bold !important;
    margin: 0px 0px 20px 0px;
    /*text-align: center;*/
}

.job_apply {
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    padding: 35px 0px;
}

.apply_form input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.apply_form {
    max-width: 740px;
    width: 100%;
    margin: 0 auto !important;
}

.apply_job_title {
    color: white;
    font-family: 'semiBold';
    margin-bottom: 18px !important;
    margin: 0 auto;
    text-align: center;
}

.submit_form input.file {
    padding: 7px;
    color: inherit;
}

input.file {
    background: white;
    margin-top: 22px;
    padding: 7px;
}

.apply_form .theme_btn {
    text-align: center;
}

.apply_form .theme_btn input {
    /*background-image: linear-gradient(to bottom, #8cafff, #0539cc);*/
    background-image: linear-gradient(to bottom, #6D56EF, #4A3FDA, #0277FF);
    border: none !important;
    border-radius: 25px;
}

.submit_form .apply_form .theme_btn input {
    max-width: 300px;
    width: 100%;
}

.site_header_2 {
    /*box-shadow: 0 1px 10px -5px;*/
    border-bottom: 2px solid #c5c5c5;
    position: relative;
    background: white;
}

.back_color {
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    width: 450px;
    height: 320px;
}

.front_img {
    background: #e6e6e6;
    width: 450px;
    height: 320px;
    margin-top: -358px;
    padding: 15px;
    text-align: center;
    margin-left: 40px;
}

.front_img img {
    height: 100%;
}

.features_title {
    font-size: 20px;
    font-family: bold !important;
    margin-top: 25px;
}

.features_title:after {
    content: '';
    width: 110px;
    height: 5px;
    background: #5e5bf1;
    position: absolute;
    left: 16px;
    top: 12px;
}


.features_single {
    margin-top: 60px;
}

.features_desc {
    font-size: 18px;
    margin-top: 10px;
}

.right_block .back_color {
    position: relative;
    z-index: -9;
    right: -83px;
}

.have_fun {
    margin: 35px 0px;
    margin-top: 90px;
}

.job_detail .job_type {
    box-shadow: none;
    padding: 0;
    border-left: none;
    margin-bottom: 35px;
}

.job_detail ul li {
    margin-bottom: 10px;
}

.job_detail .job_title {
    font-size: 25px !important;
}


/*.download_header_content {
    margin: 0;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}*/

.page_header.download {
    background-image: url(../../assets/img/index_bg.webp) !important;
    background-position: top;
    background-position-y: 80px;
}

.download_img {
    text-align: right;
    margin-right: 16px;
}

.download_img img {
    width: 365px;
    margin-top: 85px;
}

.download_header_content .app_title {
    margin-top: 205px;
    font-style: normal;
    font-size: 55px;
    line-height: 63px;
    margin-bottom: 25px;
    font-family: bold !important;
}

.submit_form .apply_form input {
    border: 1px solid grey;
    margin-top: 0px;
}

.apply_form label {
    margin-top: 16px;
}

.custom_radio .custom-radio {
    margin-top: -6px;
}

.form-check.custom_checkbox input.form-check-input {
    width: auto;
    margin-top: 3px;
}

#main {
    margin: 30px 0;
    width: 100%;
}

#main #faq .card {
    /*box-shadow: 0 2px 6px -4px;*/
    margin-bottom: 15px;
    border: 0;
}

#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

#main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    color: white;
    padding: 12px 20px;
    padding-right: 30px;
}

#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    position: absolute;
    right: 20px;
    top: 14px;
}

#main #faq .card .card-header .btn-header-link.collapsed {
    background: #e8e8e8;
    color: black;
    padding-right: 30px;
}

#main #faq .card-body {
    background: #e8e8e8;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
    transform: rotate(90deg);
    position: absolute;
    right: 20px;
    top: 14px;
}

#main #faq .card .collapsing {
    background: #FFE472;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: #FFE472;
    line-height: 30px;
    color: #222;
}

a.btn.btn-header-link.collapsed {
    padding-left: 40px !important;
}

a.btn.btn-header-link.collapsed:before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: -18px;
}

a.btn.btn-header-link {
    padding-left: 40px !important;
}

a.btn.btn-header-link:before {
    content: '';
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: -18px;
}

.accordion_margin {
    margin-top: 40px;
}

.date_picker [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    padding-top: 9px;
    padding-bottom: 9px;
}

.date_picker [type="date"]::-webkit-inner-spin-button {
    display: none;
}

.date_picker [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* custom styles */

.date_picker label {
    display: block;
}

.two_column {
    display: flex;
}

.custom_column {
    width: 100%;
}

.date_picker input {
    padding-right: 0px !important;
}

.append img {
    width: 18px;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.append {
    margin: 15px;
}

.custom_form_top {
    margin-top: 20px !important;
}

.plan_company_logo img {
    width: 100px;
}

.single_plan {
    float: left;
    width: 25%;
}

.plans {
    margin: 0px -7px;
}

.plan_inner {
    box-shadow: 0 0px 11px -7px;
    margin: 10px;
    padding: 23px;
    border-radius: 10px;
    position: relative;
}

.plan_header {
    display: flex;
}

.plan_header div {
    width: 50% !important;
    margin: 0px 10px;
}

.plan_company_logo {
    text-align: right;
}

.plan_type {
    transform: skew(-20deg);
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    display: inline-table;
}

.plan_basic {
    background: #a0a0a0;
}

.plan_standard {
    background: #808080;
}

.plan_price {
    color: #0376ff;
    text-align: center;
    font-size: 20px;
    margin: 15px 0px;
    font-family: semiBold !important;
}

.single_point {
    background-image: url(../../assets/img/check.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 28px;
    font-size: 16px;
    background-position-y: 3px;
    font-family: 'semiBold' !important;
}

.plan_btn {
    /*background-image: linear-gradient(to right, #0677FE, #6A0FF1);*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
}

.plan_button {
    text-align: center;
    margin-top: 15px;
}

.plan_premium {
    background: orange;
}

.plan_experience {
    background: #0476ff;
}

.plan_jobseeker {
    background: #ea9696;
}

.free_plan {
    float: inherit;
    margin: 0 auto;
}
.single_plan.free_plan {
    max-width: 370px !important;
    width: 100%;
}

.plan_compare {
    overflow: auto;
    margin: 0px 15px;
    border: 1px solid #a5a5a5;
}

.plan_compare table {
    width: 100%;
    min-width: 800px;
    margin-bottom: 0;
}

.plan_table_logo img {
    width: 100px;
    margin-bottom: 7px;
}

.plan_compare table tr {
    text-align: center;
}

.plan_compare .plan_type {
    font-size: 14px;
    width: 115px;
}

.table_desc {
    font-size: 16px;
    width: 290px;
    line-height: 51px;
    font-family: bold !important;
}

.plan_compare .table td img {
    width: 20px;
}

button.close {
    opacity: 1 !important;
    position: absolute;
    right: 15px;
}

button.close img {
    width: 28px;
    border: 2px solid #BFBFBF;
    padding: 5px;
    border-radius: 50%;
    background: white;
}

.modal_logo img {
    width: 200px;
}

.login_detail .modal-header {
    /*background-image: linear-gradient(to top, #6A0FF1, #0677FE);*/
    background-image: linear-gradient(to bottom, #6D56EF, #4A3FDA, #0277FF);
    border-radius: 0% 0% 49% 52% / 10% 10% 16% 16%;
    height: 340px;
    position: absolute;
    width: 100%;
    border-bottom: none;
}

.login_detail .modal-title {
    margin: 0 auto;
    text-align: center;
}

.login_detail a:hover {
    text-decoration: none;
}

.job_image {
    margin: 10px 0px;
}

.login_detail .modal-body {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 65px;
    max-width: 420px !important;
    width: 100% !important;
}

.modal_form {
    padding: 8px 20px;
    border-radius: 10px;
    margin: 0px 20px;
}

.modal_form input {
    width: 100%;
    border: 1px solid grey;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 12px;
}

.register_img {
    margin-top: -18px;
}

.modal-social img {
    width: 40px;
    margin: 0px 5px;
}

.register_img img {
    width: 125px;
    margin: 10px 0px;
}

.modal-social {
    margin-bottom: -18px;
}

.verity_code input {
    width: 32px;
    margin: 10px 1px;
    text-align: center;
    background: #a79fff;
    border: none;
    padding: 5px;
}

.gendar .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.gendar .radio-toolbar label {
    display: inline-block;
    background-color: white;
    padding: 9px 20px;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 4px;
    margin-right: 4px;
}

.gendar .radio-toolbar label:hover {
    background-color: #dcdcdc;
}

.gendar .radio-toolbar input[type="radio"]:checked+label {
    background-color: #0676fe;
    color: white;
    border: 1px solid #0676fe;
}

.gendar .radio-toolbar label:focus {
    outline: none;
}

input.dd {
    width: 28%;
}

input.mm {
    width: 28%;
}

input.yy {
    width: 44%;
}

.custom_date input {
    margin: 0px 4px;
}

.custom_date {
    margin: 0px -4px;
}

.apply_form .radio-toolbar {
    margin-top: -8px;
    margin-bottom: -6px;
}

.login_detail.send_friend .modal-header {
    background-image: none;
    border-radius: 0;
    height: inherit;
    position: absolute;
}

.send_friend .modal-social {
    margin: 25px 0px;
}

input.send_link {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
}

.send_friend .theme_btn input {
    width: 100%;
}

.skip {
    margin-top: 20px;
}

.skip a {
    font-size: 18px;
    color: grey !important;
}

.green_check img {
    width: 65px;
    margin: 20px 0px;
}

.modal_form.login {
    background: none;
}

.login .register_img {
    margin-top: -10px;
}

a.forgot_link {
    color: grey;
    float: left;
    margin-top: 6px;
    margin-bottom: 5px;
}

.login .register_img img {
    width: 185px;
}

.modal-body a {
    cursor: pointer;
}

.nav_icon img {
    height: 28px;
}

.user_image {
    text-align: center;
}

.user_image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}

.user_header {
    /*background-image: linear-gradient(to top, #6A0FF1, #0677FE);*/
    background-image: linear-gradient(to bottom, #6D56EF, #4A3FDA, #0277FF);
    margin-top: 80px;
    padding: 25px 15px 25px 15px;
    border-radius: 0% 0% 50% 50% / 10% 10% 25% 25%;
    height: 300px;
}

.user_name {
    text-align: center;
    margin-top: 16px;
    font-size: 30px;
    font-family: bold !important;
    color: white;
}

.profile_option {
    font-size: 20px;
    font-family: semiBold !important;
    background: white;
    padding: 15px;
    margin: 15px 0px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px;
}

.po_icon {
    width: 21px;
    position: relative;
    top: -2px;
    margin-right: 9px;
}

.po_arrow {
    width: 15px;
    float: right;
    margin-top: 7px;
}

.profile_options {
    width: 100%;
}

.no_blog {
    text-align: center;
    margin: 110px 0px;
}

.blog_thumb img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.blog_title {
    font-family: bold !important;
    font-size: 22px;
    margin: 8px 0px;
}

.blog_entry {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c3c3c3;
}

.blog_title a {
    color: inherit;
}


/*.coming_soon {
    font-size: 130px;
    font-family: bold !important;
    border: 10px solid black;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    margin-top: 90px;
    border-radius: 15px;
}*/

.coming_soon img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.account_logo {
    text-align: center;
    margin: 34px 15px;
}

.account_logo img {
    width: 380px;
}

.profile_type {
    text-align: center;
    font-size: 30px;
    font-family: bold !important;
    color: #0875fe;
    margin-top: -14px;
    margin-bottom: 14px;
}

.grey_bg {
    background: #f5f5f5;
}

.grey_bg #main #faq .card .card-header .btn-header-link {
    background: white !important;
    color: inherit !important;
    font-family: 'semiBold';
}

.grey_bg a.btn.btn-header-link:before {
    display: none;
}

.grey_bg #main #faq .card-body {
    background: whitesmoke;
    color: inherit !important;
    font-size: 1rem;
}

.grey_bg #main #faq .card .card-header {
    border-radius: 0px;
}

.grey_bg a.btn.btn-header-link {
    padding-left: 20px !important;
}

.card-body .modal-social {
    margin-bottom: inherit;
    text-align: center;
}

.no_arrow:after {
    display: none !important;
}

.accordion_logo {
    text-align: center;
}

.accordion_logo img {
    width: 130px;
}

.block a {
    display: block;
}

.account_footer_links {
    margin-top: 30px;
}

.account_footer_links a {
    text-align: center;
    font-size: 18px;
    font-family: 'semiBold';
    color: inherit;
    margin-top: 5px;
}

.custom_file_upload {
    margin-bottom: 20px;
    position: relative;
    background: #047aff;
}

.custom_file_upload input {
    border: none !important;
    color: white;
    border-radius: 0px;
    padding-left: 133px;
    z-index: 9999;
    background: transparent;
}

.file_upload_label {
    position: absolute;
    font-size: 16px;
    background: #047aff;
    color: white;
    padding: 5px;
    top: 6px;
    left: 10px;
}

.file_upload_icon {
    width: 24px;
    position: absolute;
    right: 11px;
    top: 12px;
    z-index: 99;
}

.custom_left_right_margin {
    margin: 0px -15px;
}

.mobile {
    display: none;
}

.navbar-nav>.active>a {
    color: aqua;
    background-color: chartreuse;
}

.nav-item>a:hover {
    color: aqua;
}

.apply_form .theme_btn.job_list input {
    /*background-image: linear-gradient(to bottom, #2CC4FF, #1491FF) !important;*/
    background-image: linear-gradient(to bottom, #6D56EF, #4A3FDA, #0277FF) !important;
    border: 1px solid white !important;
    padding: 9px;
}

.attach_cv {
    background-image: url(../../assets/img/attach.png) !important;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.blue_bg {
    background: #0875fe;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    scroll-behavior: revert;
    z-index: 99999;
}

.landing_page {
    align-items: center;
    display: flex;
    height: 98vh;
}

.landing_page img {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.landing_page {
    display: flex;
    align-items: center;
    height: 98vh;
    margin: 0px 30px;
}

.country_code {
    position: relative;
}

.country_code select {
    width: 35px;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 9px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-right: 1px solid grey !important;
    border-radius: 0;
    background: transparent;
}

.country_code select:focus {
    box-shadow: none;
}

.country_code input[type="number"] {
    padding-left: 52px;
}

.modal_form a:hover {
    color: inherit;
}

.feature_img_blocks img {
    max-width: 380px;
    width: 100%;
}

.right_block {
    float: right;
}

.country_code.country_code_2 select {
    top: 3px;
}

.country_code_2 {
    /*margin-top: -38px;*/
}

.form_bg {
    margin-top: -192px !important;
    background: #ececec;
    border-radius: 10px;
    padding: 30px;
}

.account_main_title {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 12px;
}

.profile_type_2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.form_bg_2 {
    max-width: 740px;
    width: 100%;
    margin: 0 auto !important;
    margin-top: -192px !important;
    padding: 30px 15px;
}

.custom_media_upload input[type="file"] {
    border: none;
    padding-left: 0;
}

input[type="file"] {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 64px;
}

.custom_media_upload .file_upload_icon {
    width: 40px;
    position: relative;
    float: right;
    margin-top: -63px;
}

.custom_media_upload {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.upload_disable {
    background: #cacaca;
    padding: 10px 15px;
}

.upload_disable.custom_media_upload .file_upload_icon {
    margin-top: -56px;
    margin-right: -15px;
    cursor: pointer;
}

.toggle_onoff .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    float: right;
    margin-top: -31px;
}

.toggle_onoff .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle_onoff .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle_onoff .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle_onoff input:checked+.slider {
    background-color: #2196F3;
}

.toggle_onoff input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle_onoff input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.toggle_onoff .slider.round {
    border-radius: 34px;
}

.toggle_onoff .slider.round:before {
    border-radius: 50%;
}

.back {
    width: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.newslatter_status {
    position: relative;
    background: white;
    padding: 13px 18px;
    border: none;
}

.newslatter_status .media_upload_label {
    padding-right: 65px;
    max-width: 315px;
    width: 100%;
}

.newslatter_toggle {
    position: absolute;
    right: 15px;
    top: 48px;
}

ol li {
    padding-left: 10px;
}

.guidelines ol p {
    padding-left: 10px;
}

.attach_cv::-webkit-file-upload-button {
    visibility: hidden;
}

.attach_cv::before {
    content: 'Attach CV';
    display: inline-block;
    -webkit-user-select: none;
    cursor: pointer;
    color: #6f6d6d;
    font-style: normal !important;
    font-size: 14px;
    padding-left: 11px;
}

.privacy ul {
    padding-left: 55px;
}

.safety_tips ul {
    padding-left: 55px;
}

.popup_btn {
    margin-top: 3px;
}

.popup_btn input {
    border: 1px solid #b3b3b3 !important;
}

.verify_img {
    margin-top: 10px;
}

.grey_bg #main #faq .card .card-header .btn-header-link.custom_bg {
    background: #ececec !important;
}

.account_footer_links.block a {
    background: white;
    padding: 10px 15px;
    margin-top: 2px;
}

.modal-content {
    border-radius: 15px !important;
    overflow: hidden;
    border: none !important;
}

.plan_compare .table thead th {
    background: #f4f5fb;
}

.plan_compare tbody th {
    font-size: 16px;
}

a.nav-item.nav-link.active {
    border-bottom: 2px solid white;
}

a.nav-item.nav-link.dropdown-toggle.active {
    border-bottom: 2px solid white;
}

.header {
    position: fixed;
    width: 100%;
    /*background: white;*/
    z-index: 9999;
    /*border-bottom: 2px solid #dedede;*/
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
}

.navbar-light .navbar-toggler-icon {
    /*background-image: url(../../assets/img/menu_blue.svg) !important;*/
}

.modal-dialog {
    margin-top: 100px !important;
}

.grey_bg #main #faq .card .card-header .btn-header-link.disabled {
    background: #6d6d6d !important;
}

.submit_form .apply_form .profile_options .disabled {
    background: #6d6d6d !important;
    opacity: 0.7
}
.submit_form .apply_form .profile_options .disabled img .po_icon {
    background: #6d6d6d !important;
    opacity: 0.7
}

.custom_margin_top{
    margin-top: 100px;
}

.custom_top_margin {
    margin-top: 80px;
}

.sticky {
    border: none !important;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.sticky+.content {
    padding-top: 102px;
}

.header_with_login a.nav-item.nav-link.active {
    border: none !important;
}

.navbar-nav.ml-auto.lang.nav_icon {
    margin-left: inherit !important;
}


.new_file_type input.file_input_replacement {
    background: white;
    padding: 10px 18px;
    border: 1px solid grey;
    padding-right: 46px;
}

.new_file_type button.file_input_replacement {
    background: #252525;
    color: #fff;
    padding: 7px 10px;
    border-radius: 20px;
    border: none;
}

input.file_input_with_replacement {
    display: none;
}

.new_file_type_media input {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: transparent;
    padding-top: 37px;
    border: none !important;
}

.for_img_1 {
    background-image: url(../../assets/img/media_icon_2.png) !important;
    background-repeat: no-repeat !important;
    background-size: 25px !important;
    background-position: right 10px bottom 18px !important;
}

.for_img_2 {
    background-image: url(../../assets/img/media_icon_1.png) !important;
    background-repeat: no-repeat !important;
    background-size: 25px !important;
    background-position: right 10px bottom 18px !important;
}

.new_upload_cv {
    position: relative;
}

.new_upload_cv .new_file_type_media {
    width: 100%;
    display: flex;
}

.new_upload_cv .new_file_type_media input {
    position: relative;
    z-index: 9999;
    width: 100%;
    background: red;
    border: none !important;
    margin: 0 15px;
}

.new_upload_cv .new_file_type_media input {
    position: relative;
    z-index: 9999;
    width: 100%;
    background: red;
    border: none !important;
    margin: 0 15px;
    background-image: url(../../assets/img/file_upload_icon.svg) !important;
    background-position-y: 8px !important;
    padding: 15px;
}

/*new css start*/
.disable_2 {
    color: grey;
    cursor: not-allowed !important;
}
.disable_2:hover {
    color: grey !important;
}


.mobile_img {
    display:none;
}
.coming_soon {
    margin-top: 80px;
}
/*new css end*/
.header_icon_blue {
    display: none;
}
.active .header_icon_blue {
    display: block !important;
}
.active .header_icon_grey {
    display: none !important;
}


.text_desktop {
    position: absolute;
    bottom: 15px;
    z-index: 9999;
    left: 0;
    right: 0;
    text-align: center;
    color: white !important;
    font-style: italic;
    font-weight: 700;
}


.tes_right img {
    position: relative;
}


.v-toast {
    z-index: 9999 !important;
}

.custom_modal_btn {
    text-align: right;
}

.custom_modal_btn a {
    color: #047aff !important;
    margin-left: 25px;
    text-transform: uppercase;
}

.custom_modal_2 {
    top: 148px;
    left: 474px;
    max-width: 400px;
    padding: 10px 5px;
    width: 100%;
}
.vm--modal {
    border-radius: 15px !important;
    overflow: hidden;
    border: none !important;
}

.vm--modal {
    height: auto !important;
}

.confirm_modal .vm--modal {
    max-width: 400px;
    width: 100%;
    height: auto !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
    top: 115px !important;
}

.custom_modal_title {
    color: gray;
}


.text_welcome {
    position: absolute;
    top: 130px;
    z-index: 9999;
    left: 0;
    right: 0;
    text-align: center;
    color: white !important;
    font-style: italic;
    font-weight: 700;
}

.header_logout {
    position: absolute;
    right: 20px;
    z-index: 9999;
}

.custom_share_button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    background-image: linear-gradient(to right, #0677FE, #6A0FF1);
    border: none;
    color: white;
    font-size: 16px;
    padding: 9px 30px;
    border-radius: 25px;
}

.dropdown-item.active, .dropdown-item:active {
    color: white !important;
}


/*#myModalSendFriendg {
    position: absolute !important;
    margin: 0 auto !important;
    z-index: 99999 !important;
}*/

#myModalStatic{
     position: absolute !important;
    margin: 0 auto !important;
    z-index: 9 !important;
    left: 0;
    right: 0;
    top: 135px;
    max-width: 420px;
    width: 100%;
}

#myModalStatic .modal-dilog.modal-md {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px !important;
    overflow: hidden;
    border: none !important;
}

.static_modal {
    background: #ccc !important;
    height: 100vh;
}

.nav-item.nav-link.login_btn.desktop:hover {
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    color: white !important;
    border: 2px solid white;
    /*background: transparent;*/
}


/*font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; */



/*custom desc heading*/
.custom_desc h1,
.custom_desc h2 ,
.custom_desc h3 ,
.custom_desc h4 {
    font-family: semiBold !important;
}


.loader{
  position: fixed;
  background:rgba(255,255,255,.8);
  width: 100%;
  height: 100%;
  z-index:99999;
}
.loader div{
  top: 40%;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #614ee8;;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 40px;
  right: 0;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom_pagination {
    margin-bottom: 70px !important;
    position: relative;
    margin: 20px 0px;
}

.page_left {
    float: left;
}

.page_left .fa {
    margin-right: 7px;
}
.page_right {
    float: right;
}

.page_right .fa {
    margin-left: 7px;
}
.custom_pagination a {
    /*border: 1px solid gray;*/
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 9;
    cursor: pointer;
    position: relative;
    user-select: none;
    /*color: gray;*/
    color: #0376fe;
    border: 1px solid #0376fe;

}
.custom_pagination a:hover {
    color: #0376fe;
    border: 1px solid #0376fe;
}

.page_label {
    position: absolute;
    left: 0;
    color: gray;
    right: 0;
    margin-top: 7px;
    text-align: center;
}



.custom_divider {
    margin: 0px 4px 0px 8px;
    width: 2px;
    height: 15px;
    background: #999;
    color: transparent;
    position: relative;
    display: inline-block;
    top: 3px;
}

.job_read_more {
    position: absolute;
    bottom: 0;
    z-index: 9998;
    font-size: 14px;
}

.short_width {
    width: 75%;
    margin: 0 auto;
}


.blog_thumb.single_page_thumb img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


/*sweet alert font size*/

#swal2-content {
    font-size: 16px !important;
}

.swal2-container {
    z-index: 99999 !important;
    position: fixed !important;
}
.swal2-confirm.swal2-styled {
    border-radius: 30px;
    padding: 11px 30px;
}


.plan_toggle .switch input { 
    display:none;
}
.plan_toggle .switch {
    display:inline-block;
    width:60px;
    height:30px;
    margin:8px;
    transform:translateY(50%);
    position:relative;
}
/* Style Wired */
.plan_toggle .slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow: 0 0 0 2px #6954ed, 0 0 4px #0973fc;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.plan_toggle .slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
    display: block;
}

.plan_toggle input:checked + .slider:before {
    transform:translateX(30px);
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
}
.plan_toggle input:checked + .slider {
    box-shadow: 0 0 0 2px #6954ed, 0 0 4px #0973fc;
}

/* Style Flat */
.plan_toggle .switch.flat .slider {
 box-shadow:none;
}
.plan_toggle .switch.flat .slider:before {
  background:#FFF;
}
.plan_toggle .switch.flat input:checked + .slider:before {
 background:white;
}
.plan_toggle .switch.flat input:checked + .slider {
  background:limeGreen;
}
.plan_toggle {
    background: #EEEEEE;
    width: 275px;
    margin: 0 auto;
    border-radius: 8px;
    height: 64px;
    margin-bottom: 12px;
}
.plan_toggle_inner {
    text-align: center;
    position: relative;
    top: -6px;
}
span.toggle_right_label {
    position: relative;
    top: -2px;
    color: grey;
}
span.toggle_left_label {
    position: relative;
    top: -2px;
    color: grey;
}

span.active_plan {
    color: #0476ff;
}

.my_margin {
    margin-top: 120px;
}
.email_done_bg {
    background: #F1F1F1;
}
.email_success {
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mail_done_logo.mt-3 {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 30px !important;
}
.mail_done_content {
    font-size: 16px;
    line-height: 20px;
    color: #525252;
    margin-top: 24px;
}

.email_login_btn {
    padding: 13px 28px 13px 30px !important;
    border-radius: 25px;
    margin-left: 23px;
    text-transform: capitalize;
    font-size: 16px;
    background: #973c3c;
    background-image: linear-gradient(to right, #6D56EF, #4A3FDA, #0277FF);
    color: white !important;
    border: 2px solid white;
}


.trust {
    margin: 20px 0px;
}
.trust .slider .single_testimonial {
    /*width: 201px !important;
    height: 115px;*/
    min-height: 115px;
}
.trust .slider .single_testimonial img {
    max-height: 100%;
    max-width: 200px; 
    width: auto !important;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 1px 8px #ececec;
    border: 1px solid #e8e8e8;
    padding: 15px;
}

.trust .slider .single_testimonial {
    border: none;
    box-shadow: none;
}


/*BEST OFFER RIBBON*/
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #7b0000;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 6px 0;
  background-color: red;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
  -webkit-animation:colorchange 5s infinite alternate;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 70px;
}
.ribbon-top-left::after {
  bottom: 70px;
  left: 0;
}
.ribbon-top-left span {
  right: 4px;
  top: 19px;
  transform: rotate(-45deg);
  font-size: 11px;
}

@-webkit-keyframes colorchange {
      0% {
        
        background-color: red;
      }
      
      10% {
        
        background-color: #8e44ad;
      }
      
      20% {
        
        background-color: #1abc9c;
      }
      
      30% {
        
        background-color: #d35400;
      }
      
      40% {
        
        background-color: blue;
      }
      
      50% {
        
        background-color: #34495e;
      }
      
      60% {
        
        background-color: blue;
      }
      
      70% {
        
        background-color: #2980b9;
      }
      80% {
     
        background-color: #f1c40f;
      }
      
      90% {
     
        background-color: #2980b9;
      }
      
      100% {
        
        background-color: pink;
      }
    }

.custom_share {
    width: 100%;
}

.custom_share .custom_social_icon {
    display: flex;
    float: right;
}

.custom_share .custom_social_icon .share {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    color: grey;
    margin-right: 1px;
    cursor: pointer;
    position: relative;
}

.custom_share .custom_social_icon .share a {
    color: grey !important;
}

.custom_share .custom_social_icon .share i {
    font-size: 20px;
}


.sharing_border {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c3c3c3;
}

.share_mobile {
    display: none;
}

.hover_share {
    display: none;
}

.custom_share .custom_social_icon .share:hover .hover_share {
    display: block !important;
    position: absolute;
    top: -21px;
    background: gray;
    line-height: 23px;
    padding: 1px 5px;
    color: white;
    border-radius: 3px;
}

.blog_short_desc p {
    font-size: 16px !important;
}

.custom_desc img {
    width: 100% !important;
    height: auto !important;
}


.disabled-link{
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    color: grey !important;
    border: 1px solid gray !important;
}

.cursor {
    cursor: pointer !important;
}
.custom_p p{
   margin-left:22px; 
}

.custom_cursor {
    cursor:pointer;
    color:white !important;
}

.custom_desc p {
    font-size:18px;
    margin-top: 0;
    margin-bottom: 0;
}
.custom_desc h1,
.custom_desc h2 ,
.custom_desc h3 ,
.custom_desc h4 {
    font-size:18px;
}


.is-invalid{
    color: #D8000C;
    background-color: #FFD2D2;
    border-color: #D8000C;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    background: transparent;
}


.disableBtn{
    opacity:0.7
}

.custom_language:hover {
    color: #fff;
    cursor: pointer;
}

/*.app_launch_image img{
    width:222px !important;
}*/

.owl-carousel .owl-item img {
    width: 30px !important;
}