<template>
	<div>
        <div class="page_header"  :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content"> 
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">      
                </div>
                <div class="page_name">{{ $t('about.title') }}</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="qoute">
                            {{ $t('about.page.title') }}
                        </div>
                        <div class="page_inner short_heading1">
                            {{ $t('about.page.desc1') }}
                            <br><br>
                            {{ $t('about.page.desc2') }} 
                            <br><br>
                            {{ $t('about.page.desc3') }}
                            <br><br>
                            {{ $t('about.page.desc4') }}
          
                            <h1 class="center bold blue" style="margin: 35px 0px;">{{ $t('about.page.welcome') }}</h1>
                            <div class="create_account center">
                                <a href="" data-toggle="modal" data-target="#myRegisterModal">{{ $t('common.register') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Testimonial/>
        <LaunchApp/>
    </div>
</template>

<script>
import Logo from '@/assets/img/logo.png'
import PageBanner from '@/assets/img/about_us_bg.webp'
import Testimonial from '@/views/Testimonial.vue';
import LaunchApp from '@/views/LaunchApp.vue';
export default {
    name:'AboutUs',
    components:{
        LaunchApp,Testimonial
    },
    data() {
        return {
            Logo,PageBanner
        }
    }
}
</script>