<template>
    <div class="grey_bg">
        <div class="user_header">    
            <div class="account_main_title">
                 {{title}}
            </div>       
        </div>        
        <div class="page mb-0 ">
        <div class="page_inner left ">
            
            <div class="container">
                <div class="submit_form">            
                    <div class="row apply_form form_bg"> 
                        <div id="main" class="no_margin"> 
                            <div class="profile_type">Account</div>                      
                            <div class="accordion" id="faq">
                                <div class="card">
                                    <div class="card-header" id="faqhead2">
                                        <router-link :to="`/${$i18n.locale}/my-profile/personal-info`" class="btn btn-header-link collapsed"
                                        aria-expanded="true" aria-controls="faq2">{{$t('personalInfo.title')}}</router-link>
                                    </div>                                
                                </div>
                                 
                                <!--div class="custom_media_upload newslatter_status">
                                    <div class="media_upload_label size_18 disabled">{{$t('personalInfo.hideme')}}</div>                       
                                    <div class="toggle_onoff newslatter_toggle ">
                                        <label class="switch">
                                          <input type="checkbox">
                                                <span class="slider round"></span>
                                         </label>
                                    </div>                    
                                </div-->   
                                <div class="card">
                                    <div class="card-header" id="faqhead3">
                                        <a href="#" class="btn btn-header-link collapsed disabled" data-toggle="collapse" data-target="#faq3"
                                        aria-expanded="true" aria-controls="faq3">{{$t('personalInfo.read_rec')}} </a>
                                    </div>

                                    <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                        <div class="card-body">
                                            <a href="">{{$t('personalInfo.manage_read')}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead4">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4"
                                        aria-expanded="true" aria-controls="faq3">{{$t('personalInfo.social')}}</a>
                                    </div>

                                    <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                                        <div class="card-body">
                                            <div class="modal-social">
                                                <a href=""><img src="@/assets/img/social_link_fb.png"></a>               
                                                <a href=""><img src="@/assets/img/social_link_in.png"></a>                                                      
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead6">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6"
                                        aria-expanded="true" aria-controls="faq3">{{$t('personalInfo.notification')}}</a>
                                    </div>

                                    <div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                                        <div class="card-body block">
                                            <a href="" class="disable_2">{{$t('personalInfo.push_notify')}} </a>
                                            <router-link :to="`/${$i18n.locale}/my-profile/recuiter-news`">{{$t('personalInfo.newsletter')}}</router-link>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead7">
                                        <a href="#" class="btn btn-header-link collapsed disabled" data-toggle="collapse" data-target="#faq7"
                                        aria-expanded="true" aria-controls="faq3">{{$t('personalInfo.payment')}}</a>
                                    </div>

                                    <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                                        <div class="card-body">
                                            <a href="" class="disable_2">{{$t('personalInfo.payment_method')}}</a> <br/>
                                            <a v-if="isRecuiter" href="" class="disable_2">{{$t('personalInfo.company_info')}}</a><br/>
                                            <a v-if="isRecuiter" href="" class="disable_2">{{$t('personalInfo.invoices')}}</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="faqhead8">
                                        <a href="" class="btn btn-header-link collapsed center no_arrow disabled"
                                        aria-expanded="true" aria-controls="faq2">{{$t('personalInfo.restore')}}</a>
                                    </div>                                
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead9" @click.prevent="openModal">
                                        <a style="cursor:pointer" class="btn btn-header-link collapsed center no_arrow"
                                        aria-expanded="true" aria-controls="faq2">{{$t('personalInfo.share_jobamax')}}</a>
                                    </div>                                
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead10">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq10"
                                        aria-expanded="true" aria-controls="faq3">{{$t('personalInfo.contact_us')}}</a>
                                    </div>

                                    <div id="faq10" class="collapse" aria-labelledby="faqhead10" data-parent="#faq">
                                        <div class="card-body">
                                            <router-link :to="`/${$i18n.locale}/support`" target="_blank">{{$t('personalInfo.help_support')}}</router-link><br/>
                                            <a href="mailto:support@jobamax.com" >{{$t('personalInfo.email_us')}}</a> <br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead11">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq11"
                                        aria-expanded="true" aria-controls="faq3">{{$t('personalInfo.community')}}</a>
                                    </div>

                                    <div id="faq11" class="collapse" aria-labelledby="faqhead11" data-parent="#faq">
                                        <div class="card-body block">
                                            <router-link :to="`/${$i18n.locale}/community-guidelines`" target="_blank">{{$t('footer.links.community_guide')}}</router-link>
                                            <router-link :to="`/${$i18n.locale}/safety-tips`" target="_blank">{{$t('footer.links.safety_tips')}}</router-link>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead12">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq12"
                                        aria-expanded="true" aria-controls="faq3">{{$t('personalInfo.legal')}}</a>
                                    </div>

                                    <div id="faq12" class="collapse" aria-labelledby="faqhead12" data-parent="#faq">
                                        <div class="card-body block">
                                            <router-link :to="`/${$i18n.locale}/privacy`" target="_blank">{{$t('personalInfo.privay')}}</router-link>
                                            <router-link :to="`/${$i18n.locale}/terms`" target="_blank">{{$t('personalInfo.terms')}}</router-link>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead9">                                    
                                        <a href="" class="btn btn-header-link collapsed center no_arrow custom_bg"
                                            aria-expanded="true" aria-controls="faq2">
                                            <div class="accordion_logo mb-2">
                                                <img src="@/assets/img/blue_logo2.png">                                        
                                            </div>
                                            <div class="grey size_18 center">Version 01.0</div>
                                        </a>
                                    </div>                                
                                </div>
                            </div>                             
                            <div class="account_footer_links block">
                                <a href="#" style="cursor:pointer" @click.prevent="onLogout()">{{$t('common.forms.logout')}}</a>
                                <a v-if="isAccountActive" @click.prevent="openAlertDisable()" style="cursor:pointer" >{{$t('common.forms.disable_account')}}</a>
                                <a v-if="!isAccountActive" @click.prevent="openAlertEnable()" style="cursor:pointer" >{{$t('common.forms.enable_account')}}</a>
                                <a style="cursor:pointer" @click.prevent="openAlert()">{{$t('common.forms.delete_account')}}</a>
                            </div>
                        </div>                    
                    </div>            
                </div>
            </div>
        </div>
    </div>

<div class="login_detail send_friend" id="myModalSendFriendg">
    <modal name="modal-sharing" :adaptive="true" :height="350" :width="400" style="margin-bottom:0px;">
    <div class="modal-dilog modal-md">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="margin-top:10px;">
            <div class="modal_logo">
                <img src="@/assets/img/blue_logo2.png">
            </div>
            </h4>
            <button @click="closeModal" type="button" id="closeModal" class="close" data-dismiss="modal">
                <img src="@/assets/img/close.svg">
            </button>
        </div> 
        <div class="modal-body" style="padding-bottom:52px;">      
            <input type="hidden" class="showSingle" data-target="1">  
            <div id="div1" class="targetDiv">
                <div class="size_22 bold center">{{$t('common.forms.send_frnd')}}</div>  
                <div class="modal-social">
                    <ShareNetwork
                        network="facebook"
                        :url="sharing.url"
                        :title="sharing.title"
                        :description="sharing.description"
                        :quote="sharing.quote"
                      >
                      <img src="@/assets/img/social_link_fb.png">
                    </ShareNetwork>  
                    <ShareNetwork
                        network="linkedin"
                        :url="sharing.url"
                        :title="sharing.title"
                        :quote="sharing.quote"
                      >
                      <img src="@/assets/img/social_link_in.png">
                    </ShareNetwork>    
                    <ShareNetwork
                        network="twitter"
                        :url="sharing.url"
                        :title="sharing.title"
                      >
                      <img src="@/assets/img/invite_link_twitter.png">
                    </ShareNetwork>  
                    <!--a href="https://www.instagram.com/" target='_blank'><img src="@/assets/img/invite_link_insta.png"></a--> 
                    <ShareNetwork
                        network="whatsapp"
                        :url="sharing.url"
                        :title="sharing.title"
                        :quote="sharing.quote"
                      >
                      <img src="@/assets/img/invite_link_whatsap.png">
                    </ShareNetwork>                       
                </div>    
                <input type="text" ref="mylink" readonly style="background:transparent" value="https://www.jobamax.com" class="send_link">      
                <div class="mt-4">
                    <div class="theme_btn" @click="copyURL">
                        <input  type="button" :value="copyButton">
                    </div>
                </div> 
            </div>
        </div>
    </div> 
     </div>
    </modal> 
</div>
<div class="confirm_modal">
    <modal name="modal-confirmation" :adaptive="true" :minHeight="150"  >
        <div class="modal-dilog modal-md">
            <div class="modal-content">
                <div class="modal-body">     
                    <div id="div1" class="targetDiv"> 
                        <h3 class="custom_modal_title">Alert</h3>  
                        <div class="mt-2">{{$t('message.alert')}}</div>
                        <div class="mt-4 mb-0">
                            <div class="custom_modal_btn">
                                <a @click.prevent="closeAlert">No</a>
                                <a @click.prevent="deleteMyAccount">Yes</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
       </div>
    </modal> 
    <modal name="modal-confirm-disable" :adaptive="true" :minHeight="150"  >
        <div class="modal-dilog modal-md">
            <div class="modal-content">
                <div class="modal-body">     
                    <div id="div1" class="targetDiv"> 
                        <h3 class="custom_modal_title">Alert</h3>  
                        <div class="mt-2">{{$t('message.alert_disable')}}</div>
                        <div class="mt-4 mb-0">
                            <div class="custom_modal_btn">
                                <a @click.prevent="closeAlertDisable">No</a>
                                <a @click.prevent="disableMyAccount">Yes</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
       </div>
    </modal> 
     <modal name="modal-confirm-enable" :adaptive="true" :minHeight="150"  >
        <div class="modal-dilog modal-md">
            <div class="modal-content">
                <div class="modal-body">     
                    <div id="div1" class="targetDiv"> 
                        <h3 class="custom_modal_title">Alert</h3>  
                        <div class="mt-2">{{$t('message.alert_enable')}}</div>
                        <div class="mt-4 mb-0">
                            <div class="custom_modal_btn">
                                <a @click.prevent="closeAlertEnable">No</a>
                                <a @click.prevent="enableMyAccount">Yes</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
       </div>
    </modal>
</div>
    </div>
</template>

<script>
import {mapState} from 'vuex';
import back4appService from '@/common/back4appService.js';
import notification from '@/common/notification.js';
export default {
    name:'Press',
    data() {
        return {
            title:this.$t('personalInfo.seeker'),
            isSeeker:false,
            isRecuiter:false,
            sharing: {
                url: 'https://www.jobamax.com',
                title: this.$t('share_slogan'),
                description: this.$t('share_slogan'),
                quote: this.$t('share_slogan')
            },
            copyButton:this.$t('common.forms.copy_url'),
            isAccountActive:true
        }
    },
    computed: {
       ...mapState(['userProfile']),

    },
    created:function(){
        this.getType()
    },
    methods:{
        onLogout(){
           this.$store.dispatch('logout')
        },
        getType(){
            let userType = localStorage.getItem('userType')
            if(userType == 1 || userType == '1') {
                this.title = this.$t('personalInfo.seeker')
                this.isSeeker = true
            } 
            if(userType == 2 || userType == '2') {
               this.title = this.$t('personalInfo.recuiter')
               this.isRecuiter = true
            } 
            if(localStorage.getItem('userStatus') == 1){
                this.isAccountActive = true
            }
            if(localStorage.getItem('userStatus') == 2){
                this.isAccountActive = false
            }
        },
        openModal(){
          this.$modal.show('modal-sharing')
        },
        closeModal(){
            this.$modal.hide('modal-sharing')
            this.copyButton = this.$t('common.forms.copy_url')
        },
        copyURL(){
            var Url = this.$refs.mylink;
            Url.innerHTML = window.location.href;
            Url.select();
            document.execCommand("copy");
            this.copyButton = this.$t('common.forms.copied')
        },
        openAlert(){
          this.$modal.show('modal-confirmation')
        },
        closeAlert(){
          this.$modal.hide('modal-confirmation')
        },
        deleteMyAccount(){
            let response =  back4appService.deleteAccount(localStorage.getItem('objectId'));
            response.then(() => {
              this.$modal.hide('modal-confirmation')
              this.$store.dispatch('logout')
              notification.sendNotificaton({msg:this.$t('message.delete_account'),type:'success'})
            },err => {
               notification.sendNotificaton({msg:err.message,type:'error'})
            })
        },
        openAlertDisable(){
            this.$modal.show('modal-confirm-disable')
        },
        closeAlertDisable(){
            this.$modal.hide('modal-confirm-disable')
        },
        disableMyAccount(){
            let response =  back4appService.updateAccountStatus(localStorage.getItem('objectId'),1);
            response.then(() => {
               this.$modal.hide('modal-confirm-disable')
               localStorage.setItem('userStatus',2)
               this.isAccountActive = false
               notification.sendNotificaton({msg:this.$t('message.disable_account'),type:'success'})
            },err => {
               notification.sendNotificaton({msg:err.message,type:'error'})
            })
        },
        openAlertEnable(){
            this.$modal.show('modal-confirm-enable')
        },
        closeAlertEnable(){
            this.$modal.hide('modal-confirm-enable')
        },
        enableMyAccount(){
            let response =  back4appService.updateAccountStatus(localStorage.getItem('objectId'),2);
            response.then(() => {
               this.$modal.hide('modal-confirm-enable')
               localStorage.setItem('userStatus',1)
               this.isAccountActive = true
               notification.sendNotificaton({msg:this.$t('message.enable_account'),type:'success'})
            },err => {
               notification.sendNotificaton({msg:err.message,type:'error'})
            })
        }
    },
}
</script>

<style lang='css' scoped>
/*@import '../assets/css/all.css';*/

::-webkit-scrollbar {
    display: none;
}    

custom_disabled a{
    background-color: #6d6d6d !important;
    
     color: red;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
</style>