<template>
	<div>
        <div class="container">
            <template v-if="isShow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page custom_margin_top">        
                            <div class="page_inner job_detail short_width">
                                <div class="blog_thumb single_page_thumb">
                                    <!--img v-if="!blog.postImage" src="@/assets/img/about_bg.jpg">
                                    <img v-if="blog.postImage" :src="blog.postImage"-->
                                    <v-lazy-image
                                        :src="blog.postImage"
                                        :src-placeholder=PlaceHolder
                                    />
                                </div> 
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="blog_detail">
                                    <div class="blog_date grey">
                                       {{blog.publishDate | formatDate}}<span class="custom_divider">|</span><time-ago refresh :datetime="blog.publishDate" :long="true "></time-ago>
                                    </div>
                                    <div class="blog_title">
                                        {{blog.title}}
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="size_18 custom_desc" v-html="blog.description"></div>
                                </div>
                                <div class="col-md-12">
                                <hr>
                                 <navigator-share
                                  :url="getUrl()"
                                  :title="blog.title"
                                  :text="blog.title"
                                ></navigator-share>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="row">
                    <div class="col-md-12">
                        <div class="page">        
                            <div class="page_inner">
                                <div class="no_blog">
                                    <img :src="NoImage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import moment from 'moment/src/moment';
import TimeAgo from "vue2-timeago";
import back4appService from '@/common/back4appService.js';
import notification from '@/common/notification.js';
import NavigatorShare from '@/components/NavigatorShare.vue';
import VLazyImage from "v-lazy-image";
import PlaceHolder from '@/assets/img/blog-placeholder.jpg';
import NoImage from '@/assets/img/blog_none.jpg';
export default {
    data(){
        return {
            blogId:this.$route.params.detailId,
            isShow:false,
            blog:{
                title:'',
                publishDate:'',
                description:'',
                postImage:''
            },
            PlaceHolder,
            NoImage
        }
    },
    components: {
        TimeAgo,NavigatorShare,VLazyImage
    },
    created() {
        this.getBlog(this.$route.params.detailId)
    },
    methods:{
        getUrl(){
           return `${window.location.href}`
        },
        getBlog(blogId){
            this.$store.dispatch('setLoadingStatus',true)
            back4appService.getBlog(blogId)
                .then((response) => {
                    if (response) {
                        this.blog.title = response.get('title');
                        this.blog.publishDate = response.get('publishDate');
                        this.blog.description = response.get('description');
                        this.blog.postImage = response.get('postImage');
                        this.isShow = true
                    } 
                    this.$store.dispatch('setLoadingStatus',false)
                })
                .catch(error => {
                    notification.sendNotificaton({msg:error.message,type:'error'})
                })
        }
    },
    filters: {
        formatDate: function (value) {
            if (value) {
               return moment(String(value)).format('DD-MM-YYYY')
            }
        }
    }
}
</script>

