<template>
	<div>
        <div class="page_header">
            <div class="page_header_content"> 
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">      
                </div>
                <div class="page_name">{{ $t('footer.links.blog') }}</div>
            </div>
        </div>
        <div class="page">        
            <div class="page_inner">
                <div class="container">
                    <template v-if="blogs.length">
                        <div class="row blog_entry" v-for="blog in blogs" :key="blog.blogId">
                            <div class="col-md-4">
                            <div class="blog_thumb">
                                <v-lazy-image
                                        :src="blog.postImage"
                                        :src-placeholder=PlaceHolder
                                />
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="blog_detail">
                                <div class="blog_date grey">
                                    {{blog.publishDate | formatDate}}<span class="custom_divider">|</span><time-ago refresh :datetime="blog.publishDate" :long="true "></time-ago>
                                </div>
                                <div class="blog_title">
                                    <a href="javascript:void(0)" @click.prevent="getMore(blog.blogId)">{{blog.title}}</a>
                                </div>
                                <div class="blog_short_desc size_18">
                                    <div v-html="getSize(blog.description)">
                                     <a href="javascript:void(0)" >read more</a>
                                     </div>
                                    <a v-if="blog.description.length > 500" class="job_read_more" href="javascript:void(0)" @click.prevent="getMore(blog.blogId)" >read more</a>
                                </div>
                                </div>
                            </div>
                            <navigator-share
                              :url="getUrl(blog.blogId)"
                              :title="blog.title"
                              :text="blog.title"
                            ></navigator-share>
                        </div>
                    </template>
                    <template v-else>
                        <div class="row">
                           <div class="col-md-12">
                               <div class="page">        
                                   <div class="page_inner">
                                       <div class="no_blog">
                                           <img src="@/assets/img/blog_none.jpg">
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </template>
                    <pagination v-if="totalBlogs" :items="totalBlogs" @changePage="onChangePage"></pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import moment from 'moment/src/moment';
import TimeAgo from "vue2-timeago";
import NavigatorShare from '@/components/NavigatorShare.vue';
import VLazyImage from "v-lazy-image";
import PlaceHolder from '@/assets/img/blog-placeholder.jpg';
import Pagination from '@/components/Pagination.vue';
export default {
    name:'Blog',
    components: {
        TimeAgo,
        NavigatorShare,
        VLazyImage,
        Pagination
    },
    data() {
        return {
           isShowBlog:false,
           PlaceHolder,
           pageOfItems: []
        }
    },
    computed: mapState(['blogs','totalBlogs']),
    created () {
        this.getBlogs(this.$route.query.page)
    },
    methods:{
        getUrl(blogId){
           return `https://www.jobamax.com/${this.$i18n.locale}/blogs/details/${blogId}`
        }, 
        getBlogs(page){
          this.$store.dispatch('setLoadingStatus',true)
          this.$store.dispatch('getBlogs',page)
        },
        getSize(value){
            if(value.length > 500){
               return value.slice(0,500) + '...'
            } else {
               return value
            }
        }, 
        getMore(blogId){
            this.$router.push({
               name: 'blog-details',
               params: { detailId: blogId}
            })
        },
        onChangePage(pager) {
            if(Number(this.$route.query.page) !== pager){
                this.$router.push({ name: 'blogs', query: { page: pager } })
            }
            this.getBlogs(pager)
        }
    },
    filters: {
        formatDate: function (value) {
            if (value) {
               return moment(String(value)).format('DD-MM-YYYY')
            }
        }
    },
    destroyed () {
       this.$store.dispatch('setLoadingStatus',false)
    }
}
</script>