<template>
    <div class="trust">
    <div class="heading">They trust us</div>
        <div class="testimonial" >
            <div class="slider trust_slider">
                <div class="single_testimonial">
                    <img src="@/assets/img/udemy.svg">
                </div>
                <!--div class="single_testimonial">
                    <img src="@/assets/img/ford.png">
                </div-->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    components: {  },
    data(){
       return {}
    }
}
</script>