<template>
	<div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content">
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">             
                </div>
                <div class="page_name">{{ $t('footer.links.community_guide') }}</div>
            </div>
        </div>
        <div class="container guidelines">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="page_title">{{ $t('community.title') }}</div>
                        <div class="page_inner custom_p">
                            {{ $t('community.description') }}
                            <br><br><br>
                            <h2 class="center blue bold mb-3">{{ $t('community.subtitle') }}</h2>
                            <h4 class="semiBold">{{ $t('community.point1.title') }} </h4> 
                                <p>{{ $t('community.point1.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point2.title') }} </h4> 
                                <p>{{ $t('community.point2.description') }}</p>           
                            <h4 class="semiBold">{{ $t('community.point3.title') }} </h4> 
                                <p>{{ $t('community.point3.description') }}</p>        
                            <h4 class="semiBold">{{ $t('community.point4.title') }} </h4> 
                                <p>{{ $t('community.point4.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point5.title') }} </h4> 
                                <p>{{ $t('community.point5.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point6.title') }} </h4> 
                                <p>{{ $t('community.point6.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point7.title') }} </h4> 
                                <p>{{ $t('community.point7.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point8.title') }} </h4> 
                                <p>{{ $t('community.point8.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point9.title') }} </h4> 
                                <p>{{ $t('community.point9.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point10.title') }} </h4> 
                                <p>{{ $t('community.point10.description') }}</p>
                                <p>{{ $t('community.point10.description1') }}</p>
                            <h4 class="semiBold">{{ $t('community.point11.title') }} </h4> 
                                <p>{{ $t('community.point11.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point12.title') }} </h4> 
                                <p>{{ $t('community.point12.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point13.title') }} </h4> 
                                <p>{{ $t('community.point13.description') }}</p>
                            <h4 class="semiBold">{{ $t('community.point14.title') }} </h4> 
                                <p>{{ $t('community.point14.description') }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageBanner from '@/assets/img/safety_security_banner.webp'
export default {
    data(){
        return {PageBanner}
    }
}
</script>
 