<template>
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page ">
                    <div class="page_title custom_margin_top">{{ $t('contact.title') }}</div>
                    <div class="page_inner">
                        {{ $t('contact.subtitle') }}
                        <br><br>
                        <h4 class="semiBold"> {{ $t('contact.point1.title') }}</h4> 
                        <span v-html="$t('contact.point1.description')"></span>
                        <br><br>
                        <h4 class="semiBold"> {{ $t('contact.point2.title') }}</h4> 
                        <span v-html="$t('contact.point2.description')"></span>
                        <br><br>
                        <h4 class="semiBold"> {{ $t('contact.point3.title') }}</h4> 
                        <span v-html="$t('contact.point3.description')"></span>
                        <br><br>
                        <h4 class="semiBold"> {{ $t('contact.point4.title') }}</h4> 
                        <span v-html="$t('contact.point4.description')"></span>
                        <br><br>
                        <h4 class="semiBold"> {{ $t('contact.point5.title') }}</h4>  
                        <span v-html="$t('contact.point5.description')"></span>
                        <br><br>
                        <h4 class="semiBold"> {{ $t('contact.point6.title') }}</h4> 
                        <span v-html="$t('contact.point6.description')"></span>
                        <!--br><br>
                        <h4 class="semiBold">{{ $t('contact.point7.title') }}</h4>  
                        {{ $t('contact.point7.subtitle') }}<br>           
                        {{ $t('contact.point7.desc1') }}<br>
                        {{ $t('contact.point7.desc2') }}<br>
                        {{ $t('contact.point7.desc3') }} <br>
                        {{ $t('contact.point7.desc4') }} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>
 