<template>
	<div>
	<div class="page custom_margin_top">
    <div class="page_inner left">

    <div class="container">
        <div class="row">
          <div class="col-md-12">
             <div class="page_title text-center">{{$t('common.forms.create_acc')}}</div>
          </div>
        </div>
        <div class="submit_form">
            <div class="container">
                <div class="row apply_form">
                    <div class="col-md-12 gendar">
                        <div class="semiBold">{{$t('common.forms.gender')}}*</div>
                        <div class="radio-toolbar">                        
                            <input type="radio" id="male" name="radioFruit" value="male" checked v-model="formModel.gender">
                            <label for="male">{{$t('common.forms.man')}}</label>
                            <input type="radio" id="female" name="radioFruit" value="female" v-model="formModel.gender">
                            <label for="female">{{$t('common.forms.woman')}}</label>
                            <input type="radio" id="more" name="radioFruit" value="other" v-model="formModel.gender">
                            <label for="more">{{$t('common.forms.more')}}</label> 
                        </div>                
                    </div>    
                    <div class="col-md-6">
                        <label class="semiBold">{{$t('common.forms.firstname')}}*</label>
                        <input type="text" :placeholder="$t('common.forms.firstname')" v-model="formModel.firstName" :class="{ 'is-invalid': submitted && $v.formModel.firstName.$error }">            
                    </div>
                    <div class="col-md-6">
                        <label class="semiBold">{{$t('common.forms.lastname')}}*</label>
                        <input type="text" :placeholder="$t('common.forms.lastname')" v-model="formModel.lastName" :class="{ 'is-invalid': submitted && $v.formModel.lastName.$error }">            
                    </div>
                     <div class="col-md-6" v-if="isRequiter">
                        <label class="semiBold">{{$t('common.forms.company_name')}}*</label>
                        <input type="text" :placeholder="$t('common.forms.placeholder.company_name')" v-model="formModel.companyName" :class="{ 'is-invalid': submitted && $v.formModel.companyName.$error }">            
                    </div>
                    <div class="col-md-6">
                        <label class="semiBold">{{$t('common.forms.email')}}*</label>
                        <input type="email" :placeholder="$t('common.forms.email')" v-model="formModel.email" :class="{ 'is-invalid': submitted && $v.formModel.email.$error }" :disabled="isEmailDisable">            
                    </div>
                    <div class="col-md-6" v-if="!isRequiter">
                        <label class="semiBold">{{$t('common.forms.birthday')}}*</label>
                        <div class="custom_date flex">
                            <input class="dd" type="number" placeholder="DD" v-model="formModel.day"  :class="{ 'is-invalid': submitted && $v.formModel.day.$error }">  
                            <input class="mm" type="number" placeholder="MM" v-model="formModel.month"  :class="{ 'is-invalid': submitted && $v.formModel.month.$error}">
                            <input class="yy" type="number" placeholder="YYYY" v-model="formModel.year"  maxLenght="4" :class="{ 'is-invalid': submitted && $v.formModel.year.$error}">  
                        </div>        
                    </div>
                    <div class="col-md-6">
                        <label class="semiBold">{{$t('common.forms.phonenumber')}}</label>
                        <div class="country_code country_code_2">
                            <select class="form-control" id="exampleFormControlSelect1"
                            @change="changeDialCode" :disabled="isPhoneNumDisable">
                                <option value="+33" :selected="+33 == formModel.dialCode">+33</option>
                                <option value="+44" :selected="+44 == formModel.dialCode">+44</option>
                                <option value="+1"  :selected="+1 == formModel.dialCode"> +1</option>
                                <option value="+91" :selected="+91 == formModel.dialCode"> +91</option>
                                <optgroup label="Other">
                                    <option v-for="(code,i) of codeList" :selected="code == formModel.dialCode" :key="i"  :value="code" >{{code}}</option> 
                                </optgroup>                    
                            </select>                                    
                            <input type="tel" :disabled="isPhoneNumDisable" placeholder="9632587410" v-model="formModel.phoneNumber" :class="{ 'is-invalid': submitted && $v.formModel.phoneNumber.$error }" >      
                        </div>                   
                    </div>
                    <div class="col-md-6" v-if="!isRequiter">
                        <label class="semiBold">{{$t('common.forms.postcode')}}</label>
                        <input type="text" placeholder="00000" v-model="formModel.postCode" :class="{ 'is-invalid': submitted && $v.formModel.postCode.$error }">                    
                    </div>
                    <div class="col-md-6">
                        <label class="semiBold">{{$t('common.forms.promoCode')}}</label>
                        <input type="text" placeholder="Jobamax123" v-model="formModel.promoCode">                    
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="theme_btn" data-toggle="modal" data-target="#myModalSendFriend">
                            <input type="button" :value="$t('common.forms.continue')" @click.prevent="onSubmit()"
                            :disabled="isDisabled" :class="{disableBtn:isDisabled}"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="login_detail send_friend" id="myModalSendFriendg">
        <modal name="modal-after-register" :adaptive="true" :height="420" :width="400" style="margin-bottom:0px;">
            <div class="modal-dilog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="margin-top:10px;">
                    <div class="modal_logo">
                        <img src="@/assets/img/blue_logo2.png">
                    </div>
                    </h4>
                    <button @click="closeModal" type="button" id="closeModal" class="close" data-dismiss="modal">
                        <img src="@/assets/img/close.svg">
                    </button>
                </div> 

                <!-- Modal body -->
                <div class="modal-body" style="padding-bottom:52px;">      
                    <input type="hidden" class="showSingle" data-target="1">  
                    <div v-if="isShareForm" id="div1" class="targetDiv">
                        <div class="size_22 bold center">{{$t('common.forms.send_frnd')}}</div>  
                        <div class="modal-social">
                            <ShareNetwork
                                network="facebook"
                                :url="sharing.url"
                                :title="sharing.title"
                                :description="sharing.description"
                                :quote="sharing.quote"
                              >
                              <img src="@/assets/img/social_link_fb.png">
                            </ShareNetwork>  
                            <ShareNetwork
                                network="linkedin"
                                :url="sharing.url"
                                :title="sharing.title"
                                :quote="sharing.quote"
                              >
                              <img src="@/assets/img/social_link_in.png">
                            </ShareNetwork>    
                            <ShareNetwork
                                network="twitter"
                                :url="sharing.url"
                                :title="sharing.title"
                              >
                              <img src="@/assets/img/invite_link_twitter.png">
                            </ShareNetwork>  
                            <!--a href="https://www.instagram.com/" target='_blank'><img src="@/assets/img/invite_link_insta.png"></a--> 
                            <a @click.prevent="shareMessenger"><img src="@/assets/img/messenger.png"></a>
                            <ShareNetwork
                                network="whatsapp"
                                :url="sharing.url"
                                :title="sharing.title"
                                :quote="sharing.quote"
                              >
                              <img src="@/assets/img/invite_link_whatsap.png">
                            </ShareNetwork>                       
                        </div>    
                        <input type="text" ref="mylink" readonly style="background:transparent"  value="https://www.jobamax.com" class="send_link">      
                        <div class="mt-4">
                            <div class="theme_btn" @click="copyURL">
                                <input  type="button" :value="copyButton">
                            </div>
                        </div> 
                        <div class="skip" @click.prevent="skipShare">
                            <a class="showSingle" data-target="2">{{$t('common.forms.skip')}}</a>
                        </div>
                    </div>
                    <div v-if="isSuccessForm" id="div2" class="targetDiv">
                        <div class="size_22 bold center">{{$t('common.forms.reg_complete')}}</div>
                        <div class="green_check">
                            <img src="@/assets/img/green_check.svg">
                        </div>
                        <div class="center">
                            <i>
                                {{$t('common.forms.success1')}}<br>
                                {{$t('common.forms.success2')}}
                            </i>
                        </div>
                        <div class="modal-social">
                            <a href="https://www.facebook.com/jobamax.company" target="_blank"><img src="@/assets/img/social_link_fb.png"></a>               
                            <a href="https://www.linkedin.com/company/jobamax/" target="_blank"><img src="@/assets/img/social_link_in.png"></a>
                            <a href="https://twitter.com/jobamax_company" target="_blank"><img src="@/assets/img/invite_link_twitter.png"></a>   
                            <a href="https://www.instagram.com/jobamax/" target="_blank"><img src="@/assets/img/invite_link_insta.png"></a>                            
                        </div>
                        <div class="mt-4">
                            <div class="theme_btn" @click.prevent="okSuccess">
                                <input type="button" :value="$t('common.forms.ok')">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
          </div>
        </modal> 
        </div>
        </div>
        </div>
        </div> 
</template>

<script>
import {mapState} from 'vuex';
import { required,minLength,email,maxLength,maxValue,minValue,requiredIf } from "vuelidate/lib/validators";
import back4appService from '@/common/back4appService.js';
//import notification from '@/common/notification.js';
import { v4 as uuidv4 } from 'uuid';
export default {
    name:'PersonalInfo',
    data() {
        return {
            sharing: {
                url: 'https://www.jobamax.com',
                title: this.$t('share_slogan'),
                description: this.$t('share_slogan'),
                quote: this.$t('share_slogan')
            },
            formModel:{
                dialCode:'+33',
                firstName:'',
                lastName:'',
                email:'',
                phoneNumber:'',
                gender:'male',
                postCode:'',
                day:'',
                month:'',
                year:'',
                companyName:'',
                promoCode:''
            },
            isDisabled:false,
            isShareForm:false,
            isSuccessForm:false,
            submitted:false,
            copyButton:this.$t('common.forms.copy_url'),
            isPhoneNumDisable:false,
            isRequiter:false,
            isEmailDisable:false,
            loginCode:'',
            userId:''
        }
    },
    validations: {
            formModel: {
                phoneNumber: { minLength: minLength(8)},
                firstName:{ required },
                lastName:{ required },
                email:{ required ,email},
                postCode:{  },
                day:{ requiredIf:requiredIf(function(){return !this.isRequiter}),minLength: minLength(1),maxLength: maxLength(2),minValue:minValue(1),maxValue:maxValue(31)},
                month:{ requiredIf:requiredIf(function(){return !this.isRequiter}),minLength: minLength(1),maxLength: maxLength(2),mminValue:minValue(1),maxValue:maxValue(12)},
                year:{ requiredIf:requiredIf(function(){return !this.isRequiter}),minLength: minLength(4),maxLength: maxLength(4),minValue:minValue(1900),maxValue:maxValue(new Date().getFullYear()-18)},
                companyName:{ requiredIf:requiredIf(function(){return this.isRequiter}) },
                promoCode:''
            }
    },
    computed: {
       ...mapState(['userProfile','isLoggedInUser','codeList','isUserProfileSetup']),
    },
    created:function(){
        this.formModel.firstName = this.userProfile.firstName;
        this.formModel.lastName = this.userProfile.lastName;
        this.formModel.email = this.userProfile.email;
        this.formModel.phoneNumber = this.userProfile.phoneNumber;
        this.getUserData();
    },
    methods:{
        getUserData(){
            var userObject = JSON.parse(localStorage.getItem('userObj'));
            if(userObject.userType === 2){ this.isRequiter = true}
            if(userObject){
                this.loginCode = userObject.loginCode
                if(userObject.displayName){
                    let fullName = userObject.displayName.split(' ');
                    if(fullName.length > 1){
                      this.formModel.firstName = fullName[0];
                      this.formModel.lastName = fullName[1];
                    } else {
                      this.formModel.firstName = (userObject.displayName)?userObject.displayName:'';
                      this.formModel.lastName = '';
                    }
                }
                if(userObject.email){
                    this.formModel.email = userObject.email;
                }
                if(userObject.phoneNumber){
                    this.formModel.phoneNumber = userObject.phoneNumber;
                    this.formModel.dialCode = userObject.dialCode;
                }
                if(userObject.loginCode == 'email'){
                   this.isEmailDisable = true;
                   this.userId = userObject.userId
                }
                if(userObject.loginCode == 'phone'){
                   this.isPhoneNumDisable = true
                }
            }
        },
        async onSubmit(){
            this.submitted = true
            this.$v.$touch(); 
            if (this.$v.$invalid) {
                return;
            }
            if(this.loginCode == 'email'){
                //const checkEmail = back4appService.checkUser(this.userId)
                //checkEmail.then(async user => {
                    /*if(user.get('emailVerified')){*/
                        this.isDisabled = true;
                        this.isShareForm = true;
                        let data = { 
                            firstName:this.formModel.firstName,
                            lastName:this.formModel.lastName,
                            email:this.formModel.email,
                            gender:this.formModel.gender,
                            postCode:this.formModel.postCode,
                            companyName:this.formModel.companyName,
                            dob:this.formModel.day+'/'+this.formModel.month+'/'+this.formModel.year,
                            loginType: this.loginCode,
                            userId: this.userId,
                            promoCode:this.formModel.promoCode
                        };
                        if(this.formModel.phoneNumber){
                            data.phoneNumber = this.formModel.dialCode+' '+this.formModel.phoneNumber
                        } else {
                            data.phoneNumber = ''
                        }
                        if(!this.isRequiter){
                            //signup data store logic
                            data.jobSeekerId = uuidv4();
                            delete data.companyName;
                            let userObj = JSON.parse(localStorage.getItem('userObj'))
                            back4appService.signUp(userObj.email,userObj.password,userObj.link)
                            .then(async response => {
                                data.userId = response.id;
                                let res = await this.$store.dispatch('saveJobSeekerInfo',data)
                                if(res) {
                                    this.isShareForm = true;
                                    this.$modal.show('modal-after-register')
                                }
                            })
                            .catch(error => {
                                console.log("error",error)
                            })
                        } else {
                            data.recruiterId = uuidv4();
                            data.dob = '';
                            data.userId = '',
                            data.isSubscriptionDone = false;
                            //new implementation
                            localStorage.setItem('profileInfo', JSON.stringify(data));
                            localStorage.setItem('userEmail', this.formModel.email)
                            this.$router.push(`/${this.$i18n.locale}/subscribe`);
                           /* let res = await this.$store.dispatch('saveRecuiterInfo',data);
                            if(res){
                                // this.isShareForm = true;
                                //this.$modal.show('modal-after-register')
                                localStorage.setItem('userEmail', this.formModel.email)
                                this.$router.push(`/${this.$i18n.locale}/subscribe`);
                            }*/
                        }
                    /*} else {
                       //email is not verified message
                       notification.errorPopup(this.$t('message.verify_email'))
                    }
                })    */            
            } else {
                this.isDisabled = true;
                this.isShareForm = true;
                let data = { 
                    firstName:this.formModel.firstName,
                    lastName:this.formModel.lastName,
                    email:this.formModel.email,
                    gender:this.formModel.gender,
                    postCode:this.formModel.postCode,
                    companyName:this.formModel.companyName,
                    dob:'',
                    phoneNumber :this.formModel.dialCode+this.formModel.phoneNumber,
                    loginType: this.loginCode,
                    userId: localStorage.getItem('uid'),
                    recruiterId: uuidv4()
                };
                let res = await this.$store.dispatch('saveRecuiterInfo',data);
                if(res){
                    this.isShareForm = true;
                    this.$modal.show('modal-after-register')
                }
            }
        },
        skipShare(){
            this.isShareForm = false;
            this.isSuccessForm = true;
        },
        okSuccess(){
            document.getElementById('closeModal').click();
            //this.$router.push(`/${this.$i18n.locale}/my-profile`);
            this.$store.dispatch('logout')
        },
        changeDialCode(event){
           this.formModel.dialCode = event.target.value
        },
        closeModal(){
            this.isSuccessForm=false,
            this.$modal.hide('modal-after-register')
            this.isDisabled = false;
        },
        copyURL(){
            var Url = this.$refs.mylink;
            Url.innerHTML = window.location.href;
            console.log(Url.innerHTML)
            Url.select();
            document.execCommand("copy");
            this.copyButton = this.$t('common.forms.copied')
        },
        shareMessenger(){
           var shareUrl = 'http://www.facebook.com/dialog/send?app_id=248651673520206&link=https%3A%2F%2Fwww.jobamax.com&redirect_uri=https%3A%2F%2Fwww.jobamax.com';
           window.open(shareUrl,"_blank");
        }
    }
}
</script>


 