<template>
    <div>
    <div class="user_header">    
        <div class="account_main_title">
            {{placeHolderName}} 
        </div>  
    </div>
 
	<div class="page">
        <div class="page_inner left">
            <div class="container">
                <div class="submit_form ">
                    <div class="form_bg form_bg_2">
                        <div class="row apply_form"> 
                            <div class="profile_type profile_type_2">{{$t('personalInfo.cv')}}</div>
                            <div class="box_heading size_20 semiBold ml-3 ml-3 mb-3 mt-5"> {{$t('common.forms.upload_resume')}}</div> 

                            <div class="col-md-12">                    
                                <div class="custom_file_upload">
                                    <div class="file_upload_label"> {{$t('common.forms.upload_resume_pre')}}</div>
                                    <input type="file" style="opacity:0" ref="resume">   
                                    <img class="file_upload_icon" src="@/assets/img/file_upload_icon.svg" @click="$refs.resume.click()" style="cursor:pointer">                    
                                </div>
                            </div>  
                            <div class="box_heading size_20 semiBold ml-3">{{$t('common.forms.educations')}}</div>
                            <div class="row m-0 append_box"  v-for="(education,k) in educations" :key="k">
                                <div v-show="k || (!k && k.length > 0)" class="cross custom_cursor" @click="removeEducation(k)">X</div>
                                <div class="col-md-12">
                                    <label>{{$t('common.forms.school')}}</label>
                                    <input type="text" v-model="education.schoolName" :placeholder="$t('common.forms.placeholder.school')">            
                                </div>
                                <div class="col-md-12">
                                    <label>{{$t('common.forms.program')}}</label>
                                    <input type="text" v-model="education.programName" :placeholder="$t('common.forms.placeholder.program')">                    
                                </div>
                                <div class="col-md-12 date_picker two_column">
                                    <div class="custom_column mr-3">
                                        <label>{{$t('common.forms.start_date')}}</label> 
                                        <input type="date" name="starDate" v-model="education.startDate"  id="starDate">
                                    </div>
                                    <div class="custom_column">
                                        <label>{{$t('common.forms.last_date')}}</label> 
                                        <input type="date" name="endDate" v-model="education.lastDate" id="endDate">
                                    </div>
                                </div>
                            </div>             
                            <a @click.prevent="addEducation" v-show="educations.length < 3" class="append custom_cursor">
                                <img src="@/assets/img/plus.svg">{{$t('common.forms.add_education')}}
                            </a>
                        </div>
                        <div class="row apply_form custom_form_top">   
                           <div class="box_heading size_20 semiBold ml-3">{{$t('common.forms.experiences')}}</div>
                            <div class="row m-0 append_box" v-for="(experience,k) in experiences" :key="k">
                                <div v-show="k || (!k && k.length > 0)" class="cross custom_cursor" @click="removeExperience(k)">X</div>
                                <div class="col-md-12">
                                    <label>{{$t('common.forms.job')}}</label>
                                    <input type="text" v-model="experience.job" :placeholder="$t('common.forms.placeholder.job')">            
                                </div>
                                <div class="col-md-12">
                                    <label>{{$t('common.forms.company_name')}}</label>
                                    <input type="text" v-model="experience.companyName" :placeholder="$t('common.forms.placeholder.name')">            
                                </div>                    
                                <div class="col-md-6 date_picker">
                                    <label>{{$t('common.forms.start_date')}}</label> 
                                    <input type="date" name="startDate" v-model="experience.startDate"  id="startDate">
                                </div>
                                <div class="col-md-6 date_picker">
                                    <label>{{$t('common.forms.last_date')}}</label> 
                                    <input type="date" name="endDate" v-model="experience.lastDate"  id="endDate">
                                </div>
                                <div class="col-md-12">                    
                                    <label>{{$t('common.forms.description')}}</label>
                                    <textarea :placeholder="$t('common.forms.placeholder.desc')" v-model="experience.description" ></textarea>                    
                                </div>
                            </div>             
                            <a @click.prevent="addExperience" v-show="experiences.length < 3" class="append custom_cursor">
                                <img src="@/assets/img/plus.svg">{{$t('common.forms.add_exp')}}
                            </a>
                        </div>
                        <div class="row apply_form custom_form_top grid">   
                            <div class="box_heading size_20 semiBold ml-3">{{$t('common.forms.skill')}}</div>
                            <div class="row m-0 append_box" v-for="(skill,k) in skills" :key="k">                    
                                <div class="col-md-12">                    
                                    <label>{{$t('common.forms.skill')}}</label>
                                    <div v-show="k || (!k && k.length > 0)" class="cross custom_cursor" @click="removeSkill(k)">X</div>
                                    <input type="text" v-model="skill.skill" :placeholder="$t('common.forms.placeholder.skill')">                    
                                </div>
                            </div>             
                            <a @click.prevent="addSkill" v-show="skills.length < 3" class="append custom_cursor">
                                <img src="@/assets/img/plus.svg">{{$t('common.forms.add_skil')}}
                            </a>
                        </div>
                        <div class="row apply_form custom_form_top grid">   
                            <div class="box_heading size_20 semiBold ml-3">{{$t('common.forms.activity')}}</div>
                            <div class="row m-0 append_box"  v-for="(activity,k) in activities" :key="k">                    
                                <div class="col-md-12">                    
                                    <label>{{$t('common.forms.activity')}}</label>
                                    <div v-show="k || (!k && k.length > 0)" class="cross custom_cursor" @click="removeActivity(k)">X</div>
                                    <input type="text" v-model="activity.activity" :placeholder="$t('common.forms.placeholder.activity')">                   
                                </div>
                            </div>             
                            <a @click.prevent="addActivity" v-show="activities.length < 3" class="append custom_cursor">
                                <img src="@/assets/img/plus.svg">{{$t('common.forms.add_activity')}}
                            </a>
                        </div>
                        <div class="row apply_form grid">                   
                            <div class="row m-0 append_box">                    
                                <div class="col-md-12">                    
                                    <label>{{$t('common.forms.aboutme')}}</label>
                                    <textarea v-model="description" :placeholder="$t('common.forms.placeholder.desc')"></textarea>                    
                                </div>
                            </div>                
                        </div>
                        <div class="row apply_form"> 
                            <div class="col-md-12">
                                <div class="theme_btn">
                                    <input type="button" @click.prevent="submitCV" :value="$t('common.forms.submit')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            isSeeker:false,
            isRecuiter:false,
            placeHolderName:this.$t('personalInfo.seeker'),
            educations:[{
                schoolName:'', 
                programName:'',
                startDate:'',
                lastDate:''
            }],
            experiences:[{
                job:'', 
                companyName: '',
                startDate:'',
                lastDate:'',
                description:''
            }],
            activities:[{activity:''}],
            skills:[{skill:''}],
            description:''
        }
    },
    created:function(){
        this.getType()
    },
    methods:{
        getType(){
            let userType = localStorage.getItem('userType')
            console.log("userType",userType)
            if(userType == 1 || userType == '1') {
                this.isSeeker = true
                this.placeHolderName = this.$t('personalInfo.seeker')
            } 
            if(userType == 2 || userType == '2') {
               this.isRecuiter = true
               this.placeHolderName = this.$t('personalInfo.recuiter')
            } 
        },
        addEducation(){
            this.educations.push({
                    schoolName: '', 
                    programName: '',
                    startDate:'',
                    lastDate:''
                })
        },
        removeEducation(k){
            this.educations.splice(k,1)
        },
        addExperience(){
            this.experiences.push({
                    job: '', 
                    companyName: '',
                    startDate:'',
                    lastDate:'',
                    description:''
                })
        },
        removeExperience(k){
            this.experiences.splice(k,1)
        },
        addActivity(){
            this.activities.push({activity:''})
        },
        removeActivity(k){
            this.activities.splice(k,1)
        },
        addSkill(){
            this.skills.push({skill:''})
        },
        removeSkill(k){
            this.skills.splice(k,1)
        },
        submitCV(){
            console.log(JSON.stringify(this.educations))
            console.log(JSON.stringify(this.experiences))
            console.log(JSON.stringify(this.skills))
            console.log(JSON.stringify(this.activities))
            console.log(this.description)
        }
    }
  
}
</script>
<style scoped>
.custom_cursor {
    cursor:pointer
}
</style>