<template>
	<div>
        <div class="page_header download" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="download_header_content ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="download_img">
                                <img src="@/assets/img/download_mobile.webp">
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="app_title"> {{ $t('home.downloadTitle') }}  <br>{{ $t('home.downloadTitle1') }}</div>
                            <div class="play_store_btn flex">
                                <a>
                                    <img src="@/assets/img/apple.png">
                                </a>
                                <a>
                                    <img src="@/assets/img/google_play.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
        <Testimonial/>
    </div>
</template>

<script>
import Testimonial from '@/views/Testimonial.vue';
import PageBanner from '@/assets/img/index_bg.webp'
export default {
    components:{
        Testimonial,
    },
    data(){
        return {PageBanner}
    }
    
}
</script>