<template>
	<div>
        <div class="scroll_header">
            <div class="main_header" :style="{ backgroundImage: `url(${backgroundUrl})` }">    
                <div class="header_title">
                    <div class="head_logo">
                        <img src="@/assets/img/logo.png">
                    </div>
                    {{ $t('home.bannerTitle') }}
                    <div class="create_account">
                        <a href="#" data-toggle="modal" data-target="#myRegisterModal">{{ $t('common.registration') }}</a>
                    </div>
                    <a href="#" class="nav-item nav-link login_btn mobile" data-toggle="modal" data-target="#myModal">{{ $t('navbar.login') }}</a>
                </div> 
            </div>
        </div>
        <BrandLogo/>
        <Testimonial/>
        <LatestBlog/>
        <LaunchApp/>
    </div>
</template>

<script>
import Testimonial from '@/views/Testimonial.vue';
import LaunchApp from '@/views/LaunchApp.vue';
import BrandLogo from '@/views/BrandLogo.vue';
import backgroundUrl from '@/assets/img/index_bg.webp';
import LatestBlog from '@/components/LatestBlog.vue';
export default {
    components:{
        Testimonial,
        LaunchApp,
        BrandLogo,
        LatestBlog
    },
    data() {
        return {
            backgroundUrl
        }
    },
    created(){
        if(localStorage.getItem("userId") && localStorage.getItem("isLoggedIn")){
            this.$router.replace(`/${this.$i18n.locale}/profile`)
            //this.$router.push(`/${this.$i18n.locale}/my-profile`)
            //this.$router.push({ name: "my-profile"})
        } 
        if(localStorage.getItem("uid")){
           this.$router.replace(`/${this.$i18n.locale}/profile`)
        }
    }
}
</script>
