<template>
	<div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page custom_margin_top">        
                        <div class="page_inner job_detail short_width">
                            <template v-if="job">
                            <div class="row job_type"> 
                                <div class="col-md-6">
                                    <div class="job_title"> {{job.title}}</div>
                                    <div class="job_designation size_18">
                                        {{job.subtitle}}
                                    </div> 
                                    <div class="job_address size_18">
                                       {{job.shortDescription}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="theme_btn" v-on:click="submitApplicationForm()">
                                        <input type="button" value="Apply">
                                    </div>
                                    </div>
                                </div>
                               <div class="size_18 custom_desc" v-html="job.description"></div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import back4appService from '@/common/back4appService.js';
import notification from '@/common/notification.js';

export default {
    data(){
        return {
            jobId:'',
            job:{
                title:'',
                subtitle:'',
                shortDescription:'',
                description:''
            }
        }
    },
    created() {
        this.getJob(this.$route.params.detailId)
        this.jobId = this.$route.params.detailId
    },
    methods:{
        submitApplicationForm(){
            localStorage.setItem('jobId',this.$route.params.detailId)
            this.$router.replace({name:'submit-application-form'})
        },
        getJob(jobId){
            this.$store.dispatch('setLoadingStatus',true)
            back4appService.getJob(jobId)
                .then((response) => {
                    this.job.title = response.get('title'),
                    this.job.subtitle = response.get('subtitle'),
                    this.job.shortDescription = response.get('shortDescription'),
                    this.job.description = response.get('description')
                    this.$store.dispatch('setLoadingStatus',false)
                })
                .catch(error => {
                    notification.sendNotificaton({msg:error.message,type:'error'})
                })
        }
    }
}
</script>
