<template>
	<div class="page custom_margin_top">
      <div class="page_inner left">
         <div class="container">
            <div class="row">
               <div class="col-md-12"> 
                  <div class="page_title center">{{ $t('jobList.title') }}</div>
               </div>
            </div>
            <template v-if="jobs.length">
               <div class="row job_type" v-for="job in jobs" :key="job.jobId">
                  <div class="col-md-6 cursor" v-on:click="goToDetailPage(job.jobId)">
                  <div class="job_title">{{job.title}}</div>
                  <div class="job_designation size_16">
                     {{job.subtitle}}
                  </div> 
                  <div class="job_address size_16">
                      {{job.shortDescription}}
                  </div>
                  </div>
                  <div class="col-md-6">
                  <div class="theme_btn">
                     <input type="button" value="Apply" v-on:click="submitApplicationForm(job.jobId)">
                  </div>
                  </div>
               </div>
               <pagination v-if="totalJobs" :pageSize="5" :items="totalJobs" @changePage="onChangePage"></pagination>
            </template>
            <template v-else>
               <div class="row">
                <div class="col-md-12">
                    <div class="page">        
                        <div class="page_inner">
                            <div class="no_blog">
                                <img src="@/assets/img/blog_none.jpg">
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </template>

         </div>
         <div class="job_apply" style="margin-bottom: -40px;">
            <div class="container">
               <div class="row apply_form">
                  <h2 class="apply_job_title">
                     {{ $t('jobList.formTitle') }}
                  </h2>
                  <div class="col-md-6">
                     <input type="text" placeholder="Enter name" v-model="formModel.name" :class="{ 'is-invalid': submitted && $v.formModel.name.$error }">            
                  </div>
                  <div class="col-md-6">
                     <input type="email" placeholder="Enter email" v-model="formModel.email" :class="{ 'is-invalid': submitted && $v.formModel.email.$error }">            
                  </div>
                  <div class="col-md-6">
                     <input type="file" ref="fileupload" class="file form-control cursor" @change="pickFile" >
                  </div>
                  <div class="col-md-6">
                     <div class="theme_btn job_list" @click.prevent="submitExtraQuery">
                        <input type="button" value="Send">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import { required,email } from "vuelidate/lib/validators";
import back4appService from '@/common/back4appService.js';
import notification from '@/common/notification.js';
import { mapState } from 'vuex';
import Pagination from '@/components/Pagination.vue';
export default {
      components:{Pagination},
      data(){
         return {
            formModel:{
               name:'',
               email:'',
               resume:'',
               fileObj:''
            },
            submitted:false,
            isLoading:true
         }
      },
      computed: mapState(['jobs','totalJobs']),
      created () {
         this.getJobs(this.$route.query.page)
         this.totalPages =  Math.ceil(this.jobs.length/this.pageSize)
      },
      validations: {
            formModel: {
                name: { required },
                email:{ required ,email},
                resume:{  }
            }
      },
      methods:{
         getJobs(page){
            this.$store.dispatch('getJobs',page)
         },
         goToDetailPage(jobId){
            //this.$router.push('job-details')
            this.$router.push({
               name: 'job-details',
               params: { detailId: jobId}
            })
         },
         pickFile(event){
            this.formModel.fileObj = event.target.files[0]
            var reader = new FileReader()
            reader.readAsDataURL(event.target.files[0])
            reader.onload = () => {
               //console.log('file to base64 result:' + reader.result)
               this.formModel.resume = reader.result
            }
            reader.onerror = function (error) {
               console.log('Error: ', error)
            }
         },

         submitApplicationForm(jobId){
            localStorage.setItem('jobId',jobId)
            this.$router.push('jobs/submit-application-form')
         },
         submitExtraQuery(){
            this.submitted = true
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }
            let response =  back4appService.saveQueries(this.formModel);
            response.then(() => {
               this.formModel = {
                  name:'',
                  email:'',
                  resume:'',
               },
               this.$refs.fileupload.value = null;
               this.submitted = false
               notification.successPopup(this.$t('message.submit_query'))
            },err => {
               notification.errorPopup(err.message)
            })
         },
         onChangePage(pager) {
            if(Number(this.$route.query.page) !== pager){
                this.$router.push({ name: 'job-list', query: { page: pager } })
            }
            this.getJobs(pager)
        }
      },
      destroyed () {
         this.$store.dispatch('setLoadingStatus',false)
      }
}
</script>
 

