<template>
    <div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content left custom_padding">
                <div class="page_name">{{$t('recruiter.title')}}</div>
                <div class="page_sub">
                    “{{$t('recruiter.subtitle')}}”
                </div>
                <div class="page_desc">
                   {{$t('recruiter.description')}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="page_inner short_heading">
                            <h1 class="center bold blue" style="margin: 35px 0px;">{{$t('recruiter.recuiterTitle')}}</h1>
                            <div class="create_account center mb-2">
                                <a href="#" data-toggle="modal" data-target="#myRegisterModal">{{$t('common.register')}}</a>
                            </div>
                            <div class="row features_single">
                                <div class="col-lg-6">
                                    <div class="feature_img_blocks">
                                        <img src="@/assets/img/feature5.png">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="features_title">{{$t('recruiter.desc1.title')}}</div>
                                    <div class="features_desc">
                                    {{$t('recruiter.desc1.description')}}</div>
                                </div>
                            </div>

                            <div class="row features_single right_blcok">                
                                <div class="col-lg-6" id="second">
                                    <div class="features_title">{{$t('recruiter.desc2.title')}}</div>
                                    <div class="features_desc">
                                    {{$t('recruiter.desc2.description')}}</div>
                                </div>
                                <div class="col-lg-6" id="first">
                                    <div class="feature_img_blocks right_block">
                                        <img src="@/assets/img/feature6.png">
                                    </div>
                                </div>
                            </div>
                            <div class="row features_single">
                                <div class="col-lg-6">
                                    <div class="feature_img_blocks">
                                        <img src="@/assets/img/feature7.png">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="features_title">{{$t('recruiter.desc3.title')}}</div>
                                    <div class="features_desc">
                                    {{$t('recruiter.desc3.description')}}</div>
                                </div>
                            </div>
                            <div class="row features_single right_blcok">                
                                <div class="col-lg-6" id="second">
                                    <div class="features_title">{{$t('recruiter.desc4.title')}}</div>
                                    <div class="features_desc">
                                    {{$t('recruiter.desc4.description')}}</div>
                                </div>
                                <div class="col-lg-6" id="first">
                                    <div class="feature_img_blocks right_block">
                                        <img src="@/assets/img/feature8.png">
                                    </div>
                                </div>
                            </div>
                            <h1 class="center bold blue have_fun">{{$t('recruiter.have_find')}}</h1>
                            <div class="create_account center">
                                <a href="#" data-toggle="modal" data-target="#myRegisterModal">{{$t('common.register')}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <Testimonial/>
        <LaunchApp/>
    </div>
</template>
<script>
import Testimonial from '@/views/Testimonial.vue';
import PageBanner from '@/assets/img/recruiter_banner.webp';
import LaunchApp from '@/views/LaunchApp.vue';
export default {
     components:{
        Testimonial,
        LaunchApp
    },
    data(){
        return {PageBanner}
    }
}
</script>
