<template>
	<div>
        <div class="page_header custom_job_seeker"  :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content left custom_padding">
                <div class="page_name">{{$t('jobseeker.title')}}</div>
                <div class="page_sub">
                    “{{$t('jobseeker.subtitle')}}”
                </div>
                <div class="page_desc">
                    {{$t('jobseeker.description')}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="page_inner short_heading">
                            <h1 class="center bold blue" style="margin: 35px 0px;">{{$t('jobseeker.featureTitle')}}</h1>
                            <div class="create_account center mb-2">
                                <a href="#" data-toggle="modal" data-target="#myRegisterModal">{{$t('common.register')}}</a>
                            </div>
                            <div class="row features_single">
                                <div class="col-lg-6">
                                    <div class="feature_img_blocks">
                                        <img src="@/assets/img/feature1.png">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="features_title">{{$t('jobseeker.desc1.title')}}</div>
                                    <div class="features_desc">
                                    {{$t('jobseeker.desc1.description')}}</div>
                                </div>
                            </div>

                            <div class="row features_single right_blcok">                
                                <div class="col-lg-6" id="second">
                                    <div class="features_title">{{$t('jobseeker.desc2.title')}}</div>
                                    <div class="features_desc">
                                    {{$t('jobseeker.desc2.description')}}</div>
                                </div>
                                <div class="col-lg-6" id="first">
                                    <div class="feature_img_blocks right_block">
                                        <img src="@/assets/img/feature2.png">
                                    </div>
                                </div>
                            </div>
                            <div class="row features_single">
                                <div class="col-lg-6">
                                    <div class="feature_img_blocks">
                                        <img src="@/assets/img/feature3.png">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="features_title">{{$t('jobseeker.desc3.title')}}</div>
                                    <div class="features_desc">
                                   {{$t('jobseeker.desc3.description')}}</div>
                                </div>
                            </div>
                            <div class="row features_single right_blcok">                
                                <div class="col-lg-6" id="second">
                                    <div class="features_title">{{$t('jobseeker.desc4.title')}}</div>
                                    <div class="features_desc">
                                   {{$t('jobseeker.desc4.description')}}</div>
                                </div>
                                <div class="col-lg-6" id="first">
                                    <div class="feature_img_blocks right_block">
                                        <img src="@/assets/img/feature4.png">
                                    </div>
                                </div>
                            </div>
                            <h1 class="center bold blue have_fun">{{$t('jobseeker.have_find')}}</h1>
                            <div class="create_account center">
                                <a href="#" data-toggle="modal" data-target="#myRegisterModal">{{$t('common.register')}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Testimonial/>
        <LaunchApp/>
    </div>
</template>

<script>
import Testimonial from '@/views/Testimonial.vue';
import PageBanner from '@/assets/img/job_seekar_banner.webp'
import LaunchApp from '@/views/LaunchApp.vue';
export default {
     components:{
        Testimonial,
        LaunchApp
    },
    data(){
        return {PageBanner}
    }
}
</script>
