<template>
    <div class="coming_soon">
        <img src="@/assets/img/jobs.jpg" class="desktop_img">
        <img src="@/assets/img/recruiter_mobile.png" class="mobile_img">
        <h4 class="text_desktop">Go in your <router-link :to="`/${$i18n.locale}/my-profile`">Account</router-link></h4>
    </div>
</template>

<script>

export default {
    name:'Press',
    data() {
        return {
        }
    }
}
</script>

<style scoped>
::-webkit-scrollbar {
    display: none;
}    
</style>