<template>
    <div class="footer_section_1">
    <div class="container">
        <div class="row">
            <div class="col-md-3 app_launch_image">
                <img src="@/assets/img/download_mobile.webp">
            </div>
            <div class="col-md-9">
                <div class="app_title">{{ $t('home.launchTitle') }}</div>
                <div class="play_store_btn flex">
                    <a>
                        <img src="@/assets/img/apple.png">
                    </a>
                    <a>
                        <img src="@/assets/img/google_play.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    
}
</script>