<template>
	<div>
        <div class="user_header">    
            <div class="account_main_title">
                {{$t('personalInfo.seeker')}} 
            </div>        
        </div>

<div class="page">
<div class="page_inner left">
 
<div class="container">
    <div class="submit_form">  
        <div class="form_bg form_bg_2">
            <div class="row apply_form">  
                <div class="profile_type profile_type_2">{{$t('personalInfo.media')}}</div>
                
                <div class="col-md-12 mt-5">                                    
                    <div class="custom_media_upload">
                        <div class="media_upload_label size_18">{{$t('common.forms.profile')}}</div>
                        <div class="media_upload_label">{{$t('common.forms.upload')}}</div>
                        <input @change="pickProfile" type="file" style="display:none" ref="profile">   
                        <img class="file_upload_icon file-cursor" src="@/assets/img/media_icon_1.png" @click="$refs.profile.click()" >                    
                    </div>                    
                </div>
                <div class="col-md-12">                                    
                    <div class="custom_media_upload upload_disable border_none">
                        <div class="media_upload_label size_18">{{$t('common.forms.personal_info')}}</div>
                        <div class="media_upload_label">{{$t('common.forms.intro_rec')}}</div>
                        <input type="file" ref="info" style="display:none">   
                        <img class="file_upload_icon" src="@/assets/img/media_icon_2.png" @click="$refs.info.click()" >                    
                    </div>                    
                </div>
                <div class="col-md-12">                                    
                    <div class="custom_media_upload upload_disable border_none">
                        <div class="media_upload_label size_18"> {{$t('common.forms.attachments')}} </div>
                        <div class="media_upload_label"><span v-html="$t('common.forms.attachments')"></span></div>
                        <input type="file" style="display:none"  ref="cv">   
                        <img class="file_upload_icon" src="@/assets/img/media_icon_1.png" @click="$refs.cv.click()">                    
                    </div>                    
                </div>                           
               
            </div>

            <div class="row apply_form">                 
                <div class="col-md-12">
                    <div class="theme_btn" @click.prevent="submitProfile"> 
                        <input type="button" :value="btnText">
                    </div>
                </div>
            </div>
        </div>          
    </div>
</div>

</div>
</div>
    </div>
</template>

<script>
import {mapState} from 'vuex';
import back4appService from '@/common/back4appService'
export default {
    data() {
        return {
            profilePic:'',
            fileObj:'',
            btnText:this.$t('common.forms.submit')
        }
    },
    computed: {
       ...mapState(['userProfile']),
    },
    methods:{
        pickProfile(event){
            this.fileObj = event.target.files[0]
            var reader = new FileReader()
            reader.readAsDataURL(event.target.files[0])
            reader.onload = () => {
              /// console.log('file to base64 result:' + reader.result)
               this.profilePic = reader.result
            }
            reader.onerror = function (error) {
               console.log('Error: ', error)
            }
        },
        submitProfile(){
            this.btnText = this.$t('common.forms.isloading')
            var objectId = localStorage.getItem('objectId');
            back4appService.uploadProfile(objectId,this.profilePic,this.fileObj);
            this.btnText = this.$t('common.forms.submit')
        }
    }
}
</script>
<style>
.file-cursor{
    cursor:pointer;
}
</style>