<template>
    <div class="email_done_bg">
        <div class="container email_done">
            <div class="row">
                <div class="col-md-12">
                    <div class="page my_margin">
                        <div class="page_inner">
                            <div class="email_success">
                                <div class="center size_18 semiBold">Email Verified</div>
                                <img class="mt-3" src="@/assets/img/email_done.svg">
                                <img class="mail_done_logo mt-3" src="@/assets/img/blue_logo2.png">
                                <div class="mail_done_content">
                                    Thank you, your email has been verified.  
                                </div>
                                <div class="center size_18 semiBold mt-3"> <a href="https://jobamax.page.link/jbmx"  class="email_login_btn" >Login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <LaunchApp/>
    </div>
</template>

<script>
import LaunchApp from '@/views/LaunchApp.vue';
import back4appService from '@/common/back4appService.js';
export default {
    components:{
        LaunchApp
    },
    created() {
        back4appService.editUserProperty(this.$route.params.objectId)
        .then(() => {
            window.location.replace("https://jobamax.page.link/jbmx")
        })
    },
}
</script>


