<template>
    <div>
        <div class="user_header">    
            <div class="account_main_title">
                {{title}}
            </div>
            <div class="profile_type white mt-5">{{ $t('personalInfo.title') }}</div>       
        </div>        


        <div class="page">
<div class="page_inner left">

<div class="submit_form">
        <div class="container">
            <div class="row apply_form"> 
                <div class="col-md-12 gendar mt-3">
                    <div class="semiBold">{{ $t('common.forms.gender') }}*</div>
                    <div class="radio-toolbar">                        
                        <input type="radio" id="male" name="radioFruit" value="male" checked v-model="formModel.gender">
                        <label for="male">{{ $t('common.forms.man') }}</label>
                        <input type="radio" id="female" name="radioFruit" value="female" v-model="formModel.gender">
                        <label for="female">{{ $t('common.forms.woman') }}</label>
                        <input type="radio" id="more" name="radioFruit" value="more" v-model="formModel.gender">
                        <label for="more">{{ $t('common.forms.more') }}</label> 
                    </div>                 
                </div>                  
                <div class="col-md-6">
                    <label class="semiBold">{{ $t('common.forms.firstname') }}*</label>
                    <input type="text" :placeholder="$t('common.forms.firstname')" v-model="formModel.firstName" :class="{ 'is-invalid': submitted && $v.formModel.firstName.$error }">            
                </div>
                <div class="col-md-6">
                    <label class="semiBold">{{ $t('common.forms.lastname') }}*</label>
                    <input type="text" :placeholder="$t('common.forms.lastname')" v-model="formModel.lastName" :class="{ 'is-invalid': submitted && $v.formModel.lastName.$error }">            
                </div>
                 <div class="col-md-6">
                    <label class="semiBold">{{ $t('common.forms.email') }}*</label>
                    <input type="email" :placeholder="$t('common.forms.email')" v-model="formModel.email" disabled >            
                </div>
                <div class="col-md-6">
                    <label class="semiBold">{{ $t('common.forms.birthday') }}*</label>
                    <div class="custom_date flex">
                        <input class="dd" type="number" placeholder="DD" v-model="formModel.day"  :class="{ 'is-invalid': submitted && $v.formModel.day.$error }">  
                        <input class="mm" type="number" placeholder="MM" v-model="formModel.month"  :class="{ 'is-invalid': submitted && $v.formModel.month.$error }">
                        <input class="yy" type="number" placeholder="YYYY" v-model="formModel.year"  maxLenght="4" :class="{ 'is-invalid': submitted && $v.formModel.year.$error }">  
                    </div>        
                </div>
                <div class="col-md-6">
                    <label class="semiBold">{{ $t('common.forms.phonenumber') }}*</label>
                    <div class="country_code country_code_2">
                        <select class="form-control" id="exampleFormControlSelect1" disabled>
                            <option value="+33" >{{formModel.dialCode}}</option>                  
                        </select>                                    
                        <input type="tel" placeholder="9632587410" v-model="formModel.phoneNumber" disabled >      
                    </div>                   
                </div>
                <div class="col-md-6">
                    <label class="semiBold">{{ $t('common.forms.postcode') }}</label>
                    <input type="tel" placeholder="00000" v-model="formModel.postalCode" :class="{ 'is-invalid': submitted && $v.formModel.postalCode.$error }">                    
                </div>
                <div class="col-md-12 mt-4">
                    <div class="theme_btn" data-toggle="modal" data-target="#myModalSendFriend">
                        <input type="button" :value="btnText"  @click.prevent="onSubmit()">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>    
</div>


    </div>
</template>

<script>
import {mapState} from 'vuex';
import back4appService from '@/common/back4appService.js';
import { required,minLength,maxLength } from "vuelidate/lib/validators";
import notification from '@/common/notification.js';
export default {
    data() {
        return {
            title: this.$t('personalInfo.seeker'),
            formModel:{
                dialCode:'+33',
                firstName:'',
                lastName:'',
                email:'',
                phoneNumber:'',
                gender:'male',
                postalCode:'',
                day:'',
                month:'',
                year:'',
            },
            submitted:false,
            btnText: this.$t('common.forms.submit')
        }
    },
    computed: {
       ...mapState(['userProfile']),

    },
    created:function(){
            let userType = localStorage.getItem('userType')
            if(userType == 1 || userType == '1') {
                this.title = this.$t('personalInfo.seeker')
            } 
            if(userType == 2 || userType == '2') {
               this.title = this.$t('personalInfo.recuiter')
            } 
        this.fetchItems();
    },
    validations: {
            formModel: {
                phoneNumber: { required ,minLength: minLength(8)},
                firstName:{ required },
                lastName:{ required },
                postalCode:{ required },
                day:{ required ,minLength: minLength(1),maxLength: maxLength(2)},
                month:{ required ,minLength: minLength(1),maxLength: maxLength(2)},
                year:{ required ,minLength: minLength(4),maxLength: maxLength(4)},
            }
    },
    methods: {
        async fetchItems(){
            let response = await back4appService.getUserByObjectId(localStorage.getItem('objectId'));
            if(response){
                this.formModel.phoneNumber = response.get('phoneNumber');
                this.formModel.dialCode = response.get('dialCode');
                this.formModel.email = response.get('email');
                this.formModel.firstName = response.get('firstName');
                this.formModel.lastName = response.get('lastName');
                this.formModel.postalCode = response.get('postalCode');
                this.formModel.day = response.get('day');
                this.formModel.month = response.get('month');
                this.formModel.year = response.get('year');
                this.formModel.gender = response.get('gender');
            }
        },
        onSubmit(){
            this.submitted = true;
            this.btnText = this.$t('common.forms.isloading')
            this.$v.$touch(); 
            if (this.$v.$invalid) {
                return;
            }
            let response =  back4appService.updateProfile(
                                localStorage.getItem('objectId'),
                                this.formModel);
            response.then(() => {
              this.btnText = this.$t('common.forms.submit')
              notification.sendNotificaton({msg:this.$t('message.profile_update'),type:'success'})
            },err => {
               console.log(err)
            })
        },
    }
}
</script>

<style scoped>
::-webkit-scrollbar {
    display: none;
}    
</style>