<template>
    <div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PressBanner + ')'}">
            <div class="page_header_content"> 
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">      
                </div>
                <div class="page_name">{{ $t('footer.links.press') }}</div>
            </div>
        </div>
        <div class="page">        
            <div class="page_inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="no_blog">
                                <img src="@/assets/img/blog_none.jpg">
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</template>

<script>
import PressBanner from '@/assets/img/press_banner.webp'
export default {
    name:'Press',
    data(){
        return {PressBanner}
    }
}
</script>