<template>
	<div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
    <div class="page_header_content">
        <div class="phc_logo">
            <img src="@/assets/img/logo.png">            
        </div>
        <div class="page_name">{{ $t('footer.links.privacy') }}</div>
    </div>
</div>
<div class="container privacy"> 
<div class="row">
<div class="col-md-12">
    <div class="page">        
        <div class="page_inner">
            <div class="page_title">{{ $t('privacy.title') }}</div>
            <h4 class="semiBold">{{ $t('privacy.heading1.title') }}</h4>
            <ul>
                <li> {{ $t('privacy.heading1.point1') }}</li>
                <li> {{ $t('privacy.heading1.point2') }}</li>
                <li> {{ $t('privacy.heading1.point3') }}</li>
                <li> {{ $t('privacy.heading1.point4') }}</li>
            </ul>          
            <h4 class="semiBold">{{ $t('privacy.heading2.title') }}</h4>
            <ul>
                <li> {{ $t('privacy.heading2.point1') }}</li>
                <li><span v-html="$t('privacy.heading2.point2')"></span> </li>
                <li><span v-html="$t('privacy.heading2.point3')"></span> </li>
                <li><span v-html="$t('privacy.heading2.point4')"></span> </li>  
            </ul>
            <h4 class="semiBold">{{ $t('privacy.heading3.title') }}</h4>
            <ul>
                <li>
                    {{ $t('privacy.heading3.subtitle') }}
                    <ol>
                        <li><span v-html="$t('privacy.heading3.point1')"></span> </li>
                        <li><span v-html="$t('privacy.heading3.point2')"></span> </li>
                        <li><span v-html="$t('privacy.heading3.point3')"></span> </li>
                        <li><span v-html="$t('privacy.heading3.point4')"></span> </li>
                        <li><span v-html="$t('privacy.heading3.point5')"></span> </li>
                        <li><span v-html="$t('privacy.heading3.point6')"></span> </li>
                    </ol>
                </li>
            </ul>
            <h4 class="semiBold">{{ $t('privacy.heading4.title') }}</h4>
            <ul>
                <li> {{ $t('privacy.heading4.point1') }}</li>
                <li> {{ $t('privacy.heading4.point2') }}</li>
                <li> {{ $t('privacy.heading4.point3') }}</li>
            </ul>  
            <h4 class="semiBold">{{ $t('privacy.heading5.title') }}</h4>
            <ul>
                <li> {{ $t('privacy.heading5.point1') }}</li>
                <li> {{ $t('privacy.heading5.point2') }}</li>
                <li> {{ $t('privacy.heading5.point3') }}</li>
                <li> {{ $t('privacy.heading5.point4') }}</li>
                <li> {{ $t('privacy.heading5.point5') }}</li>
            </ul>  
            <h4 class="semiBold">{{ $t('privacy.heading6.title') }}</h4>
            <ul>
                <li>                    
                    {{ $t('privacy.heading6.point1') }}
                </li>
                <li>                    
                    {{ $t('privacy.heading6.point2.title') }}
                    <ul>
                        <li><span v-html="$t('privacy.heading6.point2.point1')"></span></li>
                    </ul>
                    <ul>
                        <li><span v-html="$t('privacy.heading6.point2.point2')"></span></li>
                    </ul>
                    <ul>
                        <li><span v-html="$t('privacy.heading6.point2.point3')"></span></li>
                    </ul>
                    <ul>
                       <li><span v-html="$t('privacy.heading6.point2.point4')"></span></li>
                    </ul>
                    <ul>
                        <li><span v-html="$t('privacy.heading6.point2.point5')"></span></li>
                    </ul>
                    <ul>
                        <li><span v-html="$t('privacy.heading6.point2.point6')"></span></li>
                    </ul>
                    <ul>
                       <li><span v-html="$t('privacy.heading6.point2.point7')"></span></li>
                    </ul>
                    <ul>
                        <li><span v-html="$t('privacy.heading6.point2.point8')"></span></li>
                    </ul>
                </li>
                <li> <span v-html="$t('privacy.heading6.point3')"></span></li>
                <li> {{ $t('privacy.heading6.point4') }}</li>
            </ul>    
            <h4 class="semiBold">{{ $t('privacy.heading7.title') }}</h4>
            <ul>
                <li>                    
                    {{ $t('privacy.heading7.point1') }}
                </li>
                <li>                    
                    {{ $t('privacy.heading7.point2') }}
                </li>
                <li>                    
                    {{ $t('privacy.heading7.point3') }}
                </li>
            </ul>
            <h4 class="semiBold">{{ $t('privacy.heading8.title') }}</h4>
            <ul>
                <li>                    
                    <span v-html="$t('privacy.heading8.point1')"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
    </div>
</template>

<script>
import PageBanner from '@/assets/img/safety_security_banner.webp'
export default {
    data(){
        return {PageBanner}
    }
}
</script>
