<template>
    <div>
        <div class="user_header">    
            <div class="user_image">
                <img :src="userProfile">
            </div>
            <div class="user_name">{{profileName}}</div>    
        </div>        

        <div class="page">
            <div class="page_inner left">
                <div class="submit_form">
                    <div class="container">
                        <div class="row apply_form"> 
                            <div class="profile_options">
                                <router-link :to="`/${$i18n.locale}/my-profile/account`"> 
                                    <div class="profile_option">
                                        <img class="po_icon" src="@/assets/img/icon_1.svg">
                                             {{$t('personalInfo.account')}} 
                                        <img class="po_arrow" src="@/assets/img/arrow.svg">
                                    </div>
                                </router-link>
                                <router-link v-if="isSeeker && !isRecuiter" :to="`/${$i18n.locale}/my-profile/cv`"> 
                                    <div class="profile_option">
                                        <img class="po_icon" src="@/assets/img/icon_6.svg">
                                             {{$t('personalInfo.cv')}}
                                        <img class="po_arrow" src="@/assets/img/arrow.svg">
                                    </div>
                                </router-link>
                                <a v-if="isSeeker && !isRecuiter">
                                    <div class="profile_option disabled">
                                        <img class="po_icon" src="@/assets/img/icon_basket.svg">
                                            {{$t('personalInfo.job_search')}}  
                                        <img class="po_arrow" src="@/assets/img/arrow.svg">
                                    </div>
                                </a>
                                <a v-if="!isSeeker && isRecuiter">
                                    <div class="profile_option disabled" >
                                        <img class="po_icon" src="@/assets/img/icon_basket.svg">
                                             {{$t('personalInfo.job_offer')}} 
                                        <img class="po_arrow" src="@/assets/img/arrow.svg">
                                    </div>
                                </a>
                                <router-link :to="`/${$i18n.locale}/my-profile/media`" v-if="isSeeker && !isRecuiter">
                                    <div class="profile_option">
                                        <img class="po_icon" src="@/assets/img/icon_3.svg">
                                            {{$t('personalInfo.media')}}
                                        <img class="po_arrow" src="@/assets/img/arrow.svg">
                                    </div>
                                </router-link>
                                <router-link :to="`/${$i18n.locale}/my-profile/recuiter-media`"  v-if="!isSeeker && isRecuiter">
                                    <div class="profile_option">
                                        <img class="po_icon" src="@/assets/img/icon_3.svg">
                                            {{$t('personalInfo.media')}}
                                        <img class="po_arrow" src="@/assets/img/arrow.svg">
                                    </div>
                                </router-link> 
                                <div v-if="!isSeeker && isRecuiter">
                                    <a @click="onSubscription" class="theme_btn account_btn">
                                       <input type="button" :value="$t('personalInfo.subscriptions')"> 
                                    </a>
                                    <br><br>
                                    <a @click="onSponsorship" class="theme_btn account_btn">
                                       <input type="button" :value="$t('personalInfo.sponsorship')"> 
                                    </a>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Menu from '@/assets/img/menu.svg';
import DefaultProfile from '@/assets/img/user.jpg';
import back4appService from '@/common/back4appService.js';
export default {
    name:'Press',
    data() {
        return {
            Menu,
            profileName:'',
            isSeeker:false,
            isRecuiter:false,
            userProfile:DefaultProfile
        }
    },

    mounted(){
         this.fetchProfileData()
    },

    created:function(){
        this.fetchProfileData(),
        this.getType()
    },

    methods:{
        async fetchProfileData(){
            let response = await back4appService.getUserByObjectId(localStorage.getItem('objectId'));
            if(response){
                this.profileName = response.get('firstName') +' '+ response.get('lastName')
                if(response.get('Image')){
                    this.userProfile = response.get('Image').url()
                }
            }
        },
        getType(){
            let userType = localStorage.getItem('userType')
            if(userType == 1 || userType == '1') {
                this.isSeeker = true
            } 
            if(userType == 2 || userType == '2') {
               this.isRecuiter = true
            } 
        },
        onSubscription(){
            alert("Subscription button was clicked")
        },
        onSponsorship(){
            alert("Sponsorship button was clicked")
        }
    }
}
</script>

<style scoped>
  .submit_form .apply_form .account_btn input {
    max-width: 232px;
    height:55px;
}

</style>