<template>
    <div>
        <div class="user_header">    
            <div class="account_main_title">
                 Recuiter           
            </div>
            <div class="profile_type white mt-5">My Personal Information</div>       
        </div>        


        <div class="page">
<div class="page_inner left">

<div class="submit_form">
        <div class="container">
            <div class="row apply_form"> 
                <div class="col-md-12 gendar mt-3">
                    <div>Gender*</div>
                    <div class="radio-toolbar">                        
                        <input type="radio" id="radioApple" name="radioFruit" value="apple" checked>
                        <label for="radioApple">Man</label>
                        <input type="radio" id="radioBanana" name="radioFruit" value="banana">
                        <label for="radioBanana">Woman</label>
                        <input type="radio" id="radioOrange" name="radioFruit" value="orange">
                        <label for="radioOrange">More</label> 
                    </div>                
                </div>                  
                <div class="col-md-6">
                    <label>First Name*</label>
                    <input type="text" placeholder="First name">            
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last name">            
                </div>
                 
                <div class="col-md-6">
                    <label>Email*</label>
                    <input type="email" placeholder="Enter email">            
                </div>
                <div class="col-md-6">
                    <label>Birthday*</label>
                    <div class="custom_date flex">
                        <input class="dd" type="number" placeholder="DD">  
                        <input class="mm" type="number" placeholder="MM">
                        <input class="yy" type="number" placeholder="YYYY">  
                    </div>        
                </div>
                <div class="col-md-6">
                    <label>Phone Number*</label>
                    <div class="country_code country_code_2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>+33</option>
                        <option>+91</option>
                        <option>+91</option>
                        <option>+93</option>                       
                      </select>                                    
                      <input type="number" placeholder="9876543210">  
                    </div>                    
                </div>
                <div class="col-md-6">
                    <label>Post Code</label>
                    <input type="number" placeholder="00000">                    
                </div>
                <div class="col-md-12 mt-4">
                    <div class="theme_btn" data-toggle="modal" data-target="#myModalSendFriend">
                        <input type="button" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>    
</div>


    </div>
</template>

<script>

export default {
    name:'Press',
    data() {
        return {
        }
    }
}
</script>

<style scoped>
::-webkit-scrollbar {
    display: none;
}    
</style>