<template>
	<div>
        <div class="user_header">    
            <div class="account_main_title">
                 {{title}} 
            </div>        
        </div>

<div class="page">
<div class="page_inner left">

<div class="container">
    <div class="submit_form">  
        <div class="form_bg form_bg_2">
            <div class="row apply_form">  
            <div @click.prevent="goBack" style="cursor:pointer">
                <img src="@/assets/img/back.svg" class="back">
            </div>
                <div class="profile_type profile_type_2">{{$t('footer.newslatter')}}</div>                
                <div class="col-md-12 mt-5">                                    
                    <div class="custom_media_upload newslatter_status">
                        <div class="media_upload_label size_18">{{$t('footer.newslatter')}}</div>
                        <div class="media_upload_label">{{$t('personalInfo.i_want_to')}}</div>                        
                        <div class="toggle_onoff newslatter_toggle">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>                    
                    </div>                    
                </div>
            </div>           
        </div>          
        
    </div>

</div>

</div>
</div>
    </div>
</template>

<script>
export default {
    date(){
       return {
           title: this.$t('personalInfo.seeker')
       }
    },
    created:function(){
            let userType = localStorage.getItem('userType')
            if(userType == 1 || userType == '1') {
                this.title = this.$t('personalInfo.seeker')
            } 
            if(userType == 2 || userType == '2') {
               this.title = this.$t('personalInfo.recuiter')
            } 
    },
    methods:{
        goBack(){
            this.$router.replace(`/${this.$i18n.locale}/my-profile`)
        }
    }
}
</script>