<template>
	<div>
        <div class="user_header">    
            <div class="account_main_title">
                {{$t('personalInfo.recuiter')}} 
            </div>        
        </div>

<div class="page">
<div class="page_inner left">

<div class="container">
    <div class="submit_form">  
        <div class="form_bg form_bg_2">
            <div class="row apply_form">  
                <div class="profile_type profile_type_2"> {{$t('personalInfo.media')}} </div>
                
                <div class="col-md-12 mt-5">                                    
                    <div class="custom_media_upload">
                        <div class="media_upload_label size_18">{{$t('common.forms.company')}}</div>
                        <div class="media_upload_label">{{$t('common.forms.logo_upload')}}</div>
                        <input type="file" ref="logo" style="display:none">   
                        <img class="file_upload_icon file-cursor" src="@/assets/img/media_icon_1.png" @click="$refs.logo.click()" >                    
                    </div>                    
                </div>
                <div class="col-md-12">                                    
                    <div class="custom_media_upload upload_disable border_none">
                        <div class="media_upload_label size_18">{{$t('common.forms.video')}}</div>
                        <div class="media_upload_label">{{$t('common.forms.introduction')}}</div>
                        <input type="file" ref="video" style="display:none;">   
                        <img class="file_upload_icon" src="@/assets/img/media_icon_2.png" @click="$refs.video.click()">                    
                    </div>                    
                </div>                                         
               
            </div>

            <div class="row apply_form">                 
                <div class="col-md-12">
                    <div class="theme_btn">
                        <input type="button" :value="$t('common.forms.submit')">
                    </div>
                </div>
            </div>
        </div>          
    </div>
</div>
</div>
</div>
</div>
</template>

<script>
export default {
    
}
</script>
<style>
.file-cursor{
    cursor:pointer;
}
</style>