<template>
	<div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content">
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">            
                </div>
                <div class="page_name">{{ $t('footer.links.safety_tips') }}</div>
            </div>
        </div>
        <div class="container safety_tips">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="page_title">{{ $t('safety_tips.title') }}</div>
                        <div class="page_inner custom_p">
                           {{ $t('safety_tips.description') }}
                           <br><br><br>
                            <h2 class="bold mb-3">{{ $t('safety_tips.subtitle') }}</h2>
                            <h4 class="semiBold">{{ $t('safety_tips.point1.title') }}</h4> 
                                <p>{{ $t('safety_tips.point1.description') }}</p>
                            <h4 class="semiBold">{{ $t('safety_tips.point2.title') }}</h4> 
                                <p>{{ $t('safety_tips.point2.description') }}</p>          
                            <h4 class="semiBold">{{ $t('safety_tips.point3.title') }}</h4> 
                                <p>{{ $t('safety_tips.point3.description') }}</p>          
                            <h4 class="semiBold">{{ $t('safety_tips.point4.title') }}</h4> 
                                <p v-html="$t('safety_tips.point4.description')"></p>
                            <h4 class="semiBold">{{ $t('safety_tips.point5.title') }}</h4> 
                                <p v-html="$t('safety_tips.point5.description')"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageBanner from '@/assets/img/safety_security_banner.webp'
export default {
    data(){
        return {PageBanner}
    }
}
</script>
