<template>
	<div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content">
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">            
                </div>
                <div class="page_name">{{ $t('footer.links.security') }}</div>
            </div>
        </div>
        <div class="container">
            <div class="row"> 
                <div class="col-md-12">
                    <div class="page">
                        <div class="page_title">{{ $t('footer.links.security') }}:</div>
                        <div class="page_inner">
                            <span v-html=" $t('security.desc1')"></span>
                            <br><br>
                            <h4 class="semiBold"> {{ $t('security.subtitle') }}</h4> 
                            {{ $t('security.desc2') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageBanner from '@/assets/img/safety_security_banner.webp'
export default {
    data(){
        return {PageBanner}
    }
}
</script>