<template>
	<div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + IdeaPageBanner + ')'}">
            <div class="page_header_content">
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">            
                </div>
                <div class="page_name">{{ $t('idea.title') }}</div>
            </div>
        </div>
        <div class="page">
            <div class="page_inner left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_title text-center">{{ $t('idea.subtitle') }}</div>
                        </div>
                    </div>
                    <div class="submit_form">
                        <div class="container">
                            <div class="row apply_form">                
                                <div class="col-md-6">
                                    <label class="semiBold">{{ $t('common.forms.name') }}</label>
                                    <input type="text" :placeholder="$t('common.forms.placeholder.name')" v-model="formModel.name" :class="{ 'is-invalid': submitted && $v.formModel.name.$error }" >            
                                </div>
                                <div class="col-md-6">
                                    <label class="semiBold">{{ $t('common.forms.email') }}*</label>
                                    <input type="email" :placeholder="$t('common.forms.placeholder.email')" v-model="formModel.email" :class="{ 'is-invalid': submitted && $v.formModel.email.$error }" >            
                                </div>
                                <div class="col-md-6">
                                    <label class="semiBold">{{ $t('common.forms.your_idea') }} : *</label>                    
                                    <div class="custom_radio">                        
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customRadio" name="example1" checked value="A new suggestion or idea" v-model="formModel.idea">
                                            <label class="custom-control-label" for="customRadio">{{ $t('idea.option.option1') }}</label>
                                        </div>   
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="An imporovement to existing product" v-model="formModel.idea">
                                            <label class="custom-control-label" for="customRadio1">{{ $t('idea.option.option2') }}</label>
                                        </div>                                
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom_radio radio_2"> 
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customRadio3" name="example1" value="A request to bring back a product" v-model="formModel.idea">
                                            <label class="custom-control-label" for="customRadio3">{{ $t('idea.option.option3') }}</label>
                                        </div>   
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customRadio4" name="example1" value="Other" v-model="formModel.idea">
                                            <label class="custom-control-label" for="customRadio4">{{ $t('idea.option.option4') }}</label>
                                        </div>                                            
                                    </div>             
                                </div>                

                                <div class="col-md-12">                    
                                     <label class="semiBold">{{ $t('common.forms.description') }}</label>
                                     <textarea :placeholder="$t('common.forms.placeholder.desc')" v-model="formModel.description" :class="{ 'is-invalid': submitted && $v.formModel.description.$error }" ></textarea>  
                                     <div class="form-check custom_checkbox">
                                         <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="" v-model="formModel.isTermsOfCondition">
                                            {{ $t('idea.agreement') }} <router-link :to="`/${$i18n.locale}/terms`" target="_blank"><u>{{ $t('idea.link') }}</u></router-link>
                                         </label>
                                     </div>                  
                                </div>
                                <div class="col-md-12">
                                    <div class="theme_btn" @click.prevent="submitIdeaForm">
                                        <input type="button" :value="$t('common.forms.btnText')">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import IdeaPageBanner from '@/assets/img/idea_page_banner.webp';
import { required,email } from "vuelidate/lib/validators";
import back4appService from '@/common/back4appService.js';
import notification from '@/common/notification.js';
export default {
    data(){
        return {
            IdeaPageBanner,
            formModel:{
                name:'',
                email:'',
                idea:'A new suggestion or idea',
                description:'',
                isTermsOfCondition:false,
            },
            submitted:false
        }
    },
    validations: {
            formModel: {
                name: {  },
                email:{ required ,email},
                idea:{ required },
                description:{ },
                isTermsOfCondition:{ },
            }
    },
    methods:{
        submitIdeaForm(){
            this.submitted = true
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }
            //this.$store.dispatch('saveSubmitYourIdea',this.formModel)
            let response =  back4appService.saveIdea(this.formModel);
            response.then(() => {
                this.formModel = {
                    name:'',
                    email:'',
                    idea:'A new suggestion or idea',
                    description:'',
                    isTermsOfCondition:false
                }
               this.submitted = false;
               notification.successPopup(this.$t('message.submit_idea'))
            },err => {
               notification.errorPopup(err.message)
            })
        }
    }
}
</script>

 