<template>
	<div class="page custom_margin_top">
        <div class="page_inner left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page_title text-center">{{$t('home.submit_application')}}</div>
                    </div>
                </div>
                <div class="submit_form">
                    <div class="container">
                        <div class="row apply_form">                
                            <div class="col-md-6">
                                <label class="semiBold">{{ $t('common.forms.firstname') }}*</label>
                                <input type="text" :placeholder="$t('common.forms.placeholder.name')" v-model="formModel.name" :class="{ 'is-invalid': submitted && $v.formModel.name.$error }">            
                            </div>
                            <div class="col-md-6">
                                <label class="semiBold">{{ $t('common.forms.email') }}*</label>
                                <input type="email" :placeholder="$t('common.forms.placeholder.email')" v-model="formModel.email" :class="{ 'is-invalid': submitted && $v.formModel.email.$error }">            
                            </div>
                            <div class="col-md-6">
                                <label class="semiBold">{{ $t('common.forms.phonenumber') }}*</label>
                                <input type="tel" placeholder="+919876543210" v-model="formModel.phoneNumber" :class="{ 'is-invalid': submitted && $v.formModel.phoneNumber.$error }">       
                            </div>
                            <div class="col-md-6">
                                <label class="semiBold">Resume/CV*</label>
                                <input type="file" ref="file"  id="myFile" name="filename" @change="pickFile" class="file_input_with_replacement" :class="{ 'is-invalid': submitted && $v.formModel.resume.$error }"  >  
                                <input type="text" @click="$refs.file.click()" name="new_file" value="" class="file_input_replacement attach_cv" :placeholder="$t('common.forms.attach_cv')" readonly style="cursor:pointer">                      
                            </div>
                            <div class="col-md-12">                    
                                <label class="semiBold">{{ $t('common.forms.additional_info') }}</label>
                                <textarea :placeholder="$t('common.forms.placeholder.desc')" v-model="formModel.additionalInformation" :class="{ 'is-invalid': submitted && $v.formModel.additionalInformation.$error }"></textarea>                    
                            </div>
                            <div class="col-md-12">
                                <div class="theme_btn" @click.prevent="submitApplicationForm">
                                    <input type="button" :value="$t('common.forms.submit')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import { required,email } from "vuelidate/lib/validators";
import {mapState} from 'vuex';
import back4appService from '@/common/back4appService.js';
import notification from '@/common/notification.js';
export default {
    data(){
        return {
            formModel:{
                name:'',
                email:'',
                phoneNumber:'',
                additionalInformation:'',
                resume:'',
                dialCode:'+33',
                fileObj:''
            },
            submitted:false
        }
    },
    computed:mapState(['codeList']),
    validations: {
            formModel: {
                name: { required },
                email:{ required ,email},
                phoneNumber:{ required },
                additionalInformation:{ },
                resume:{ },
            }
    },
    methods:{
        submitApplicationForm(){
            this.submitted = true
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }
            this.$store.dispatch('setLoadingStatus',true)
            let data = { ...this.formModel}
            data.jobId = localStorage.getItem('jobId');
            let response =  back4appService.saveJobApplied(data);
            response.then(() => {
                this.$store.dispatch('setLoadingStatus',false)
                this.formModel = {
                    name:'',
                    email:'',
                    phoneNumber:'',
                    additionalInformation:'',
                    resume:''
                }
                this.$refs.file.value = null;
                this.submitted = false;
                localStorage.removeItem('jobId');
                notification.successPopup(this.$t('message.submit_application'))
                this.$router.push({ name: 'job-list'})
            },err => {
               notification.errorPopup(err.message)
            })
        },
        pickFile(event){
            this.formModel.fileObj = event.target.files[0];
            var reader = new FileReader()
            reader.readAsDataURL(event.target.files[0])
            reader.onload = () => {
               //console.log('file to base64 result:' + reader.result)
               this.formModel.resume = reader.result
            }
            reader.onerror = function (error) {
               console.log('Error: ', error)
            }
         },
        changeDialCode(event){
            this.formModel.dialCode = '+'+event.target.value
        },
    }
}
</script>