<template>
	<div class="page custom_margin_top">
        <div class="page_inner left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page_title center">{{$t('subscription.mainTitle')}}</div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12">            
                        <h4 class="blue bold center mb-3">{{$t('subscription.title')}}</h4>
                        <div class="plans">
                            <div class="single_plan free_plan">
                                <div class="plan_inner">
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_jobseeker">
                                            {{$t('subscription.plan.jobseeker')}}
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                        0$ / {{$t('subscription.plan.month')}}
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.unlimited_matches')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_chat')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.go_back')}}</div>
                                        <div class="single_point" v-html="$t('subscription.plan.every_3_day')"></div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>                        
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">            
                        <h4 class="blue bold center mb-3">{{$t('subscription.subtitle')}}</h4>
                        <div class="plan_toggle">
                            <div class="plan_toggle_inner">
                                <span class="toggle_left_label" :class="{'active_plan':!isToggled}">Monthly Plan</span>
                                <label class="switch" >
                                    <input type="checkbox" :checked="isToggled" @click="isToggled = !isToggled">
                                    <span class="slider"></span>
                                </label> 
                                <span class="toggle_right_label" :class="{'active_plan':isToggled}">Yearly Plan</span>
                            </div>
                        </div>
                        <div class="plans">
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_basic">
                                            Basic
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                       <span v-if="!isToggled">0$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">0$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.source_one')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <a  data-toggle="modal" data-target="#myRegisterModal" class="plan_btn custom_cursor">                                
                                            free                           
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_standard">
                                            {{$t('subscription.plan.type.standard')}}
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                       <span v-if="!isToggled">99$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">999$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.15_matches')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.1_job_offer')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_chat')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.source_one')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <a  data-toggle="modal" data-target="#myRegisterModal" class="plan_btn custom_cursor">                                
                                            <template v-if="!isToggled">1 month free trial</template>
                                            <template v-if="isToggled">subscribe</template>                  
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div v-if="!isToggled" class="ribbon ribbon-top-left"><span>Discount Offer</span></div>
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_premium">
                                            {{$t('subscription.plan.type.premium')}}
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                        <span v-if="!isToggled">249$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">2399$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.unlimited_matches')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.3_job_offer')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_chat')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.go_back')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.source_ten')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <a  data-toggle="modal" data-target="#myRegisterModal" class="plan_btn custom_cursor"  >                                
                                            <template v-if="!isToggled">1 month free trial</template>
                                            <template v-if="isToggled">subscribe</template>                           
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_experience">
                                            {{$t('subscription.plan.type.experience')}}
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                        <span v-if="!isToggled">399$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">3499$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.unlimited_matches')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_job_offer')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_chat')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.go_back')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_sourcing')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <a  data-toggle="modal" data-target="#myRegisterModal" class="plan_btn custom_cursor">                                
                                            subscribe                             
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="bold mt-5 mb-4 center">{{$t('subscription.table.title')}}</h2>
                    </div>
                    <div class="plan_compare">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="table_desc">{{$t('subscription.table.features')}}</th>
                                    <th scope="col">                        
                                        <div class="plan_table_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_basic">
                                            Basic
                                        </div>                        
                                    </th>
                                    <th scope="col">                        
                                        <div class="plan_table_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_standard">
                                            {{$t('subscription.plan.type.standard')}}
                                        </div>                        
                                    </th>
                                    <th scope="col">                        
                                        <div class="plan_table_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_premium">
                                           {{$t('subscription.plan.type.premium')}} 
                                        </div>                        
                                    </th>
                                    <th scope="col">                        
                                        <div class="plan_table_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_experience">
                                            {{$t('subscription.plan.type.experience')}} 
                                        </div>                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.match_chat')}}</th>
                                    <td></td>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.15_matches')}}</th>
                                    <td></td>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.1_job_offer')}}</th>
                                    <td></td>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.source_one')}}</th>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.unlimited_access')}}</th>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.passport')}}</th>
                                    <td></td>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.video_presentation')}}</th>
                                    <td></td>
                                    <td><img src="@/assets/img/check_grey.svg"></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.unlimited_matches')}}</th>
                                    <td></td><td></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.3_job_offer')}}</th>
                                    <td></td><td></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.source_ten')}}</th>
                                    <td></td><td></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.go_back')}}</th>
                                    <td></td><td></td>
                                    <td><img src="@/assets/img/check_orange.svg"></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.unlimited_job_offer')}}</th>
                                    <td></td><td></td>
                                    <td></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{$t('subscription.table.unlimited_source')}}</th>
                                    <td></td><td></td>
                                    <td></td>
                                    <td><img src="@/assets/img/check_blue.svg"></td>
                                </tr>                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <Testimonial/>
    </div>
</template>

<script>
import Testimonial from '@/views/Testimonial.vue';
export default {
    components:{
        Testimonial
    },
    data() {
        return {
            isToggled:false
        }
    }
}
</script>

 