<template>
	<div class="page custom_margin_top">
        <div class="page_inner left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">            
                        <h4 class="blue bold center mb-3">{{$t('subscribe_msg')}}</h4>
                        <div class="plan_toggle">
                            <div class="plan_toggle_inner">
                                <span class="toggle_left_label" :class="{'active_plan':!isToggled}">Monthly Plan</span>
                                <label class="switch" >
                                    <input type="checkbox" :checked="isToggled" @click="isToggled = !isToggled">
                                    <span class="slider"></span>
                                </label> 
                                <span class="toggle_right_label" :class="{'active_plan':isToggled}">Yearly Plan</span>
                            </div>
                        </div>
                        <div class="plans">
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_basic">
                                            Basic
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                       <span v-if="!isToggled">0$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">0$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.source_one')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <a  v-on:click="submitBasic" class="plan_btn custom_cursor">                                
                                            free                           
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_standard">
                                            {{$t('subscription.plan.type.standard')}}
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                       <span v-if="!isToggled">99$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">999$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.15_matches')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.1_job_offer')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_chat')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.source_one')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <template v-if="!isToggled">
                                            <a  v-on:click="submitFreeTrial('standard-month')" class="plan_btn custom_cursor">                                
                                                1 month free trial              
                                            </a>
                                        </template>
                                        <template v-if="isToggled">
                                            <a  v-on:click="submitStandard" class="plan_btn custom_cursor">                                
                                                subscribe              
                                            </a>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div  v-if="!isToggled" class="ribbon ribbon-top-left"><span>Discount Offer</span></div>
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_premium">
                                            {{$t('subscription.plan.type.premium')}}
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                        <span v-if="!isToggled">249$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">2399$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.unlimited_matches')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.3_job_offer')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_chat')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.go_back')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.source_ten')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <template v-if="!isToggled">
                                            <a  v-on:click="submitFreeTrial('premium-month')" class="plan_btn custom_cursor">                                
                                                1 month free trial              
                                            </a>
                                        </template>
                                        <template v-if="isToggled">
                                            <a  v-on:click="submitPremium" class="plan_btn custom_cursor">                                
                                                subscribe              
                                            </a>
                                        </template>    
                                    </div>
                                </div>
                            </div>
                            <div class="single_plan">
                                <div class="plan_inner">
                                    <div class="plan_header">
                                        <div class="plan_company_logo">
                                            <img src="@/assets/img/blue_logo2.png">
                                        </div>
                                        <div class="plan_type plan_experience">
                                            {{$t('subscription.plan.type.experience')}}
                                        </div>
                                    </div>
                                    <div class="plan_price">
                                        <span v-if="!isToggled">399$ / {{$t('subscription.plan.month')}}</span>
                                        <span v-if="isToggled">3499$ / {{$t('subscription.plan.year')}}</span> 
                                    </div>
                                    <div class="plan_poins">
                                        <div class="single_point">{{$t('subscription.plan.unlimited_matches')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_job_offer')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_chat')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.go_back')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_sourcing')}}</div>
                                        <div class="single_point">{{$t('subscription.plan.unlimited_access')}}</div>
                                    </div>
                                    <div class="plan_button">
                                        <a  v-on:click="submitExperience" class="plan_btn custom_cursor">                                
                                            subscribe 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <stripe-checkout
                    ref="checkoutRef"
                    mode="subscription"
                    :pk="publishableKey"
                    :line-items="lineItems"
                    :success-url="successURL"
                    :cancel-url="cancelURL"
                    :customerEmail="customerEmail"
                    @loading="v => loading = v"
                    @error="error"
                />
            </div>
        </div>
    </div>
</template>
 
<script>
import { StripeCheckout } from '@vue-stripe/vue-stripe';
import notification from '@/common/notification.js';

import back4appService from '@/common/back4appService.js';
export default {
    components:{
        StripeCheckout
    },
    data() {
        this.publishableKey = 'pk_live_51IYTBnCnZpFbP8B6oSh6JYjk8mJBcb3DYw82hrfqLeFeT5rqCa31FBpXvVw6vazfLptq7wKqPmzyLXHvCQo2eBxj00HQCiNOFf'
        return {
            isToggled:false,
            loading: false,
            customerEmail:'',
            successURL: 'https://www.jobamax.com/en/success-payment/?state=success',
            cancelURL: 'https://www.jobamax.com/en/subscribe/?state=cancel',
            lineItems: [
                {
                   price:'price_1IlYr5CnZpFbP8B6VvkXLQrt',// The id of the one-time price you created in your Stripe dashboard
                   quantity: 1
                }
            ]
        }
    },
    created(){
        this.cancelURL = `https://www.jobamax.com/${this.$i18n.locale}/subscribe/?state=cancel`;
        this.successURL = `https://www.jobamax.com/${this.$i18n.locale}/success-payment/?state=success`;
        let user = localStorage.getItem('userEmail')
        if(user){
            this.customerEmail = user;
        }
    },
    methods:{
        submitCheckout(){
           this.$refs.checkoutRef.redirectToCheckout();
        },
        submitStandard(){
            this.lineItems[0]['price'] = !this.isToggled ? 'price_1IlYr5CnZpFbP8B6VvkXLQrt':'price_1IlUlSCnZpFbP8B67VirotAs';
            this.submitCheckout()
            localStorage.setItem('planType','standard-year')
        },
        submitPremium(){
            this.lineItems[0]['price'] = !this.isToggled ? 'price_1IlYsACnZpFbP8B6etz3Jl6Y':'price_1IlUmcCnZpFbP8B6AsK1GtRm';
            this.submitCheckout()
            localStorage.setItem('planType','premium-year')
        },
        submitExperience(){
            this.lineItems[0]['price'] = !this.isToggled ? 'price_1IlUnXCnZpFbP8B6AcVsofw0':'price_1IlUnrCnZpFbP8B6qOb2zJh5';
            this.submitCheckout()
            var selectedPlan = !this.isToggled ? 'experience-month' : 'experience-year';
            localStorage.setItem('planType',selectedPlan)
        },
        error(event){
          notification.errorPopup(event.message)
        },
        generateEmail(){
            var chars = '1234567890';
            var string = '';
            for(var i=0; i<5; i++){
                string += chars[Math.floor(Math.random() * chars.length)];
            }
            this.customerEmail = 'test'+ string + '@gmail.com';
        },
        submitBasic(){
            /*let userObjectId = localStorage.getItem('objectId')
            back4appService.updateRecuiter(userObjectId,'isFreeSubscriptionDone')
            .then(() => {
                localStorage.removeItem('userEmail');
                this.$router.replace(`/${this.$i18n.locale}/success-account`)
            })
            .catch(error => {
                console.log("error",error)
            })*/
            //new implementation
            this.$store.dispatch('setLoadingStatus',true)
            let userObj = JSON.parse(localStorage.getItem('userObj'))
            let profileInfo = JSON.parse(localStorage.getItem('profileInfo'))
            profileInfo.isFreeSubscriptionDone = true;
            back4appService.signUp(userObj.email,userObj.password,userObj.link)
            .then(async response => {
                profileInfo.userId = response.id;
                let res = await this.$store.dispatch('saveRecuiterInfo',profileInfo);
                if(res) {
                    this.$store.dispatch('setLoadingStatus',false)
                    this.$router.replace(`/${this.$i18n.locale}/success-account`)
                } 
            })
            .catch(error => {
                console.log("error",error)
            })
        },
        //for standard and premimum monthly plan only
        submitFreeTrial(subscribePlan){
            /*let userObjectId = localStorage.getItem('objectId')
            back4appService.updatePlanRecuiter(userObjectId,subscribePlan)
            .then(() => {
                localStorage.removeItem('userEmail');
                this.$router.replace(`/${this.$i18n.locale}/success-account`)
            })
            .catch(error => {
                console.log("error",error)
            })*/
            //new implementation
            this.$store.dispatch('setLoadingStatus',true)
            let userObj = JSON.parse(localStorage.getItem('userObj'))
            let profileInfo = JSON.parse(localStorage.getItem('profileInfo'))
            const time = Math.round(new Date().getTime()/1000) + (30 * 24 * 60 * 60);
            profileInfo.subscriptionPlan = subscribePlan;
            profileInfo.paymentRecievedTime = time;
            back4appService.signUp(userObj.email,userObj.password,userObj.link)
            .then(async response => {
                profileInfo.userId = response.id;
                let res = await this.$store.dispatch('saveRecuiterInfo',profileInfo);
                if(res) {
                    this.$store.dispatch('setLoadingStatus',false)
                    this.$router.replace(`/${this.$i18n.locale}/success-account`)
                }
            })
            .catch(error => {
                console.log("error",error)
            })
        },
    },
    destroyed () {
        this.$store.dispatch('setLoadingStatus',false)
    }
}
</script>


