<template>
    <div class="static_modal">
        <div class="login_detail send_friend" id="myModalStatic" v-if="isNotify">
            <div class="modal-dilog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-top:10px;">
                        <div class="modal_logo">
                            <img src="@/assets/img/blue_logo2.png">
                        </div>
                        </h4>
                    </div> 
                    <div class="modal-body" style="padding-bottom:52px;">      
                        <div id="div2" class="targetDiv">
                            <div class="green_check">
                                <img src="@/assets/img/green_check.svg">
                            </div>
                            <div class="center">
                                <i>
                                    The app will be available before September. Due to delay, refund will be systematically approved.
                                </i>
                            </div>
                            <div class="mt-4">
                                <div class="theme_btn" @click.prevent="okayAfterPayment">
                                    <input type="button" :value="$t('common.forms.ok')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="login_detail send_friend" id="myModalSendFriendg">
        <modal name="modal-after-register" :adaptive="true" :height="420" :width="400" style="margin-bottom:0px;">
            <div class="modal-dilog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="margin-top:10px;">
                    <div class="modal_logo">
                        <img src="@/assets/img/blue_logo2.png">
                    </div>
                    </h4>
                    <button @click="closeModal" type="button" id="closeModal" class="close" data-dismiss="modal">
                        <img src="@/assets/img/close.svg">
                    </button>
                </div> 

                <!-- Modal body -->
                <div class="modal-body" style="padding-bottom:52px;">      
                    <input type="hidden" class="showSingle" data-target="1">  
                    <div v-if="isShareForm" id="div1" class="targetDiv">
                        <div class="size_22 bold center">{{$t('common.forms.send_frnd')}}</div>  
                        <div class="modal-social">
                            <ShareNetwork
                                network="facebook"
                                :url="sharing.url"
                                :title="sharing.title"
                                :description="sharing.description"
                                :quote="sharing.quote"
                              >
                              <img src="@/assets/img/social_link_fb.png">
                            </ShareNetwork>  
                            <ShareNetwork
                                network="linkedin"
                                :url="sharing.url"
                                :title="sharing.title"
                                :quote="sharing.quote"
                              >
                              <img src="@/assets/img/social_link_in.png">
                            </ShareNetwork>    
                            <ShareNetwork
                                network="twitter"
                                :url="sharing.url"
                                :title="sharing.title"
                              >
                              <img src="@/assets/img/invite_link_twitter.png">
                            </ShareNetwork>  
                            <!--a href="https://www.instagram.com/" target='_blank'><img src="@/assets/img/invite_link_insta.png"></a--> 
                            <a @click.prevent="shareMessenger"><img src="@/assets/img/messenger.png"></a>
                            <ShareNetwork
                                network="whatsapp"
                                :url="sharing.url"
                                :title="sharing.title"
                                :quote="sharing.quote"
                              >
                              <img src="@/assets/img/invite_link_whatsap.png">
                            </ShareNetwork>                       
                        </div>    
                        <input type="text" ref="mylink" readonly style="background:transparent"  value="https://www.jobamax.com" class="send_link">      
                        <div class="mt-4">
                            <div class="theme_btn" @click="copyURL">
                                <input  type="button" :value="copyButton">
                            </div>
                        </div> 
                        <div class="skip" @click.prevent="skipShare">
                            <a class="showSingle" data-target="2">{{$t('common.forms.skip')}}</a>
                        </div>
                    </div>
                    <div v-if="isSuccessForm" id="div2" class="targetDiv">
                        <div class="size_22 bold center">{{$t('common.forms.reg_complete')}}</div>
                        <div class="green_check">
                            <img src="@/assets/img/green_check.svg">
                        </div>
                        <div class="center">
                            <i>
                                {{$t('common.forms.success1')}}<br>
                                {{$t('common.forms.success2')}}
                            </i>
                        </div>
                        <div class="modal-social">
                            <a href="https://www.facebook.com/jobamax.company" target="_blank"><img src="@/assets/img/social_link_fb.png"></a>               
                            <a href="https://www.linkedin.com/company/jobamax/" target="_blank"><img src="@/assets/img/social_link_in.png"></a>
                            <a href="https://twitter.com/jobamax_company" target="_blank"><img src="@/assets/img/invite_link_twitter.png"></a>   
                            <a href="https://www.instagram.com/jobamax/" target="_blank"><img src="@/assets/img/invite_link_insta.png"></a>                            
                        </div>
                        <div class="mt-4">
                            <div class="theme_btn" @click.prevent="okSuccess">
                                <input type="button" :value="$t('common.forms.ok')">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
          </div>
        </modal> 
        </div>
    </div>
</template>

<script>
//import back4appService from '@/common/back4appService.js';
export default {
    data() {
        return {
            sharing: {
                url: 'https://www.jobamax.com',
                title: this.$t('share_slogan'),
                description: this.$t('share_slogan'),
                quote: this.$t('share_slogan')
            },
            copyButton:this.$t('common.forms.copy_url'),
            isShareForm:false,
            isSuccessForm:false,
            isNotify:true
        }
    },
    created(){
        /*let userObjectId = localStorage.getItem('objectId')
        if(userObjectId){
            back4appService.updateRecuiter(userObjectId,'isFreeSubscriptionDone')
            .then(() => {
                localStorage.removeItem('userEmail');
            })
            .catch(error => {
                console.log("error",error)
            })
        } */
    },
    methods:{
        okayAfterPayment(){
            this.isShareForm = true;
            this.isNotify = false;
            this.$modal.show('modal-after-register')
        },
        skipShare(){
            this.isShareForm = false;
            this.isSuccessForm = true;
        },
        closeModal(){
            this.isSuccessForm=false,
            this.isNotify = true;
            this.$modal.hide('modal-after-register')
        },
        okSuccess(){
            this.$store.dispatch('logout')
        },
        copyURL(){
            var Url = this.$refs.mylink;
            Url.innerHTML = window.location.href;
            console.log(Url.innerHTML)
            Url.select();
            document.execCommand("copy");
            this.copyButton = this.$t('common.forms.copied')
        },
        shareMessenger(){
           var shareUrl = 'http://www.facebook.com/dialog/send?app_id=248651673520206&link=https%3A%2F%2Fwww.jobamax.com&redirect_uri=https%3A%2F%2Fwww.jobamax.com';
           window.open(shareUrl,"_blank");
        }
    },
}
</script>