<template>
    <div class="static_modal">
        <div class="login_detail send_friend" id="myModalStatic">
            <div class="modal-dilog modal-md">
                <div class="modal-content"> 
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-top:10px;">
                        <div class="modal_logo">
                            <img src="@/assets/img/blue_logo2.png">
                        </div>
                        </h4>
                    </div> 
                    <div class="modal-body" style="padding-bottom:52px;">      
                        <div id="div2" class="targetDiv">
                            <div class="green_check">
                                <img src="@/assets/img/green_check.svg">
                            </div>
                            <div class="center">
                                <i>
                                    The app will be available before September. Due to delay, refund will be systematically approved.
                                </i>
                            </div>
                            <div class="mt-4">
                                <div class="theme_btn" @click.prevent="okayAfterPayment">
                                    <input type="button" :value="$t('common.forms.ok')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>

export default {
    created(){
        /*let userObjectId = localStorage.getItem('objectId')
        if(userObjectId){
            back4appService.updateRecuiter(userObjectId,'isFreeSubscriptionDone')
            .then(() => {
                localStorage.removeItem('userEmail');
            })
            .catch(error => {
                console.log("error",error)
            })
        } */
    },
    methods:{
        okayAfterPayment(){
            this.$router.push(`/${this.$i18n.locale}/profile`);
        }
    },
}
</script>
