<template>
	<div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content">
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">            
                </div>
                <div class="page_name">{{ $t('footer.links.support') }}</div>
            </div>
        </div>
        <div class="page">
            <div class="page_inner left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_title">{{ $t('faq.title') }}</div>
                        </div>
                    </div>
                    <div class="submit_form">
                        <div class="container">
                            <div class="row apply_form"> 
                                <div id="main">                    
                                    <div class="accordion" id="faq">   
                                        <h4 class="blue bold mb-3">{{ $t('faq.heading1.title') }}</h4>                 
                                        <div class="card">
                                            <div class="card-header" id="faqhead2">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">{{ $t('faq.heading1.point1.subtitle') }}</a>
                                            </div>
                                            <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading1.point1.list1')"></p>
                                                    <p v-html="$t('faq.heading1.point1.list2')"></p> 
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="card">
                                            <div class="card-header" id="faqhead3">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading1.point2.subtitle') }}</a>
                                            </div>
                                            <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                                <div class="card-body">
                                                    <p>{{$t('faq.heading1.point2.list1')}}</p>
                                                    <p v-html="$t('faq.heading1.point2.list2')"></p>
                                                    <p>{{$t('faq.heading1.point2.list3')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead4">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading1.point3.subtitle') }}</a>
                                            </div>

                                            <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                                                <div class="card-body">
                                                    <p>{{$t('faq.heading1.point3.list1')}}</p>
                                                    <p>{{$t('faq.heading1.point3.list2')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="accordion accordion_margin" id="faq">   
                                        <h4 class="blue bold mb-3">{{ $t('faq.heading2.title') }}</h4>                 
                                        <div class="card">
                                            <div class="card-header" id="faqhead5">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq5"
                                                aria-expanded="true" aria-controls="faq2"> {{ $t('faq.heading2.point1.subtitle') }} </a>
                                            </div>

                                            <div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading2.point1.list1')"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead6">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6">{{ $t('faq.heading2.point2.subtitle') }} </a>
                                            </div>

                                            <div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading2.point2.list1')"></p>
                                                    <p v-html="$t('faq.heading2.point2.list2')"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead7">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq7"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading2.point3.subtitle') }} </a>
                                            </div>

                                            <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                                                <div class="card-body">
                                                   <p v-html="$t('faq.heading2.point3.list1')"></p>
                                                   <p v-html="$t('faq.heading2.point3.list2')"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead71">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq71"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading2.point4.subtitle') }} </a>
                                            </div>

                                            <div id="faq71" class="collapse" aria-labelledby="faqhead71" data-parent="#faq">
                                                <div class="card-body">
                                                   <p v-html="$t('faq.heading2.point4.list1')"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead72">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq72"
                                                aria-expanded="true" aria-controls="faq3">  {{ $t('faq.heading2.point5.subtitle') }} </a>
                                            </div>

                                            <div id="faq72" class="collapse" aria-labelledby="faqhead72" data-parent="#faq">
                                                <div class="card-body">
                                                    <p>{{$t('faq.heading2.point5.list1')}}</p>
                                                    <p v-html="$t('faq.heading2.point5.list2')"></p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead73">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq73"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading2.point6.subtitle') }} </a>
                                            </div>

                                            <div id="faq73" class="collapse" aria-labelledby="faqhead73" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading2.point6.list1')"></p>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead74">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq74"
                                                aria-expanded="true" aria-controls="faq3"> {{ $t('faq.heading2.point7.subtitle') }}  </a>
                                            </div>

                                            <div id="faq74" class="collapse" aria-labelledby="faqhead74" data-parent="#faq">
                                                <div class="card-body">
                                                    <p>{{$t('faq.heading2.point7.list1')}}</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead75">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq75"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading2.point8.subtitle') }}  </a>
                                            </div>

                                            <div id="faq75" class="collapse" aria-labelledby="faqhead75" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading2.point8.list1')"></p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead76">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq76"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading2.point9.subtitle') }}</a>
                                            </div>

                                            <div id="faq76" class="collapse" aria-labelledby="faqhead76" data-parent="#faq">
                                                <div class="card-body"> 
                                                    <p v-html="$t('faq.heading2.point9.list1')"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead77">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq77"
                                                aria-expanded="true" aria-controls="faq3"> {{ $t('faq.heading2.point10.subtitle') }} </a>
                                            </div>

                                            <div id="faq77" class="collapse" aria-labelledby="faqhead77" data-parent="#faq">
                                                <div class="card-body">
                                                     <p v-html="$t('faq.heading2.point10.list1')"></p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead78">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq78"
                                                aria-expanded="true" aria-controls="faq3">  {{ $t('faq.heading2.point11.subtitle') }} </a>
                                            </div>

                                            <div id="faq78" class="collapse" aria-labelledby="faqhead78" data-parent="#faq">
                                                <div class="card-body">
                                                    <p>{{$t('faq.heading2.point11.list1')}}</p>  
                                                    <p v-html="$t('faq.heading2.point11.list2')"></p>
                                                    <p v-html="$t('faq.heading2.point11.list3')"></p>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead79">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq79"
                                                aria-expanded="true" aria-controls="faq3">  {{ $t('faq.heading2.point12.subtitle') }}</a>
                                            </div>

                                            <div id="faq79" class="collapse" aria-labelledby="faqhead79" data-parent="#faq">
                                                <div class="card-body">
                                                    <p>{{$t('faq.heading2.point12.list1')}}</p>  
                                                    <p>{{$t('faq.heading2.point12.list2')}}</p>  
                                                    <p v-html="$t('faq.heading2.point12.list3')"></p>    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead81">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq81"
                                                aria-expanded="true" aria-controls="faq3">  {{ $t('faq.heading2.point13.subtitle') }}</a>
                                            </div>

                                            <div id="faq81" class="collapse" aria-labelledby="faqhead81" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading2.point13.list1')"></p>  
                                                    <p v-html="$t('faq.heading2.point13.list2')"></p> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="accordion accordion_margin" id="faq">   
                                        <h4 class="blue bold mb-3">{{ $t('faq.heading3.title') }}</h4>                 
                                        <div class="card">
                                            <div class="card-header" id="faqhead8">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq8"
                                                aria-expanded="true" aria-controls="faq2">{{ $t('faq.heading3.point1.subtitle') }}</a>
                                            </div>

                                            <div id="faq8" class="collapse" aria-labelledby="faqhead8" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading3.point1.list1')"></p> 
                                                    <p>{{$t('faq.heading3.point1.list2')}}</p>  
                                                    <p>{{$t('faq.heading3.point1.list3')}}</p>  
                                                    <p v-html="$t('faq.heading3.point1.list4',{ locale: $i18n.locale })"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead9">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq9"
                                                aria-expanded="true" aria-controls="faq3">{{ $t('faq.heading3.point2.subtitle') }}</a>
                                            </div>

                                            <div id="faq9" class="collapse" aria-labelledby="faqhead39" data-parent="#faq">
                                                <div class="card-body">
                                                    <p>{{$t('faq.heading3.point2.list1')}}</p>
                                                    <p v-html="$t('faq.heading3.point2.list2')"></p> 
                                                    <p v-html="$t('faq.heading3.point2.list3')"></p> 
                                                    <p v-html="$t('faq.heading3.point2.list4')"></p> 
                                                    <p v-html="$t('faq.heading3.point2.list5')"></p> 
                                                    <p v-html="$t('faq.heading3.point2.list6')"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="accordion accordion_margin" id="faq">   
                                        <h4 class="blue bold mb-3">{{ $t('faq.heading4.title') }}</h4>                 
                                        <div class="card">
                                            <div class="card-header" id="faqhead91">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq91"
                                                aria-expanded="true" aria-controls="faq2">{{ $t('faq.heading4.point1.subtitle') }}</a>
                                            </div>

                                            <div id="faq91" class="collapse" aria-labelledby="faqhead91" data-parent="#faq">
                                                <div class="card-body">
                                                   <p v-html="$t('faq.heading4.point1.list1')"></p>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>  
                                    <div class="accordion accordion_margin" id="faq">   
                                        <h4 class="blue bold mb-3">{{ $t('faq.heading5.title') }}</h4>                 
                                        <div class="card">
                                            <div class="card-header" id="faqhead92">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq92"
                                                aria-expanded="true" aria-controls="faq2">{{ $t('faq.heading5.point1.subtitle') }}</a>
                                            </div>

                                            <div id="faq92" class="collapse" aria-labelledby="faqhead92" data-parent="#faq">
                                                <div class="card-body">
                                                   <p v-html="$t('faq.heading5.point1.list1')"></p> 
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="card">
                                            <div class="card-header" id="faqhead93">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq93"
                                                aria-expanded="true" aria-controls="faq2">{{ $t('faq.heading5.point2.subtitle') }}</a>
                                            </div>

                                            <div id="faq93" class="collapse" aria-labelledby="faqhead93" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading5.point2.list1')"></p> 
                                                    <p>{{$t('faq.heading5.point2.list2')}}</p>
                                                    <p>{{$t('faq.heading5.point2.list3')}}</p>
                                                    <p>{{$t('faq.heading5.point2.list4')}}</p>
                                                    <p>{{$t('faq.heading5.point2.list5')}}</p>
                                                    <p>{{$t('faq.heading5.point2.list6')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead94">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq94"
                                                aria-expanded="true" aria-controls="faq2"> {{ $t('faq.heading5.point3.subtitle') }}</a>
                                            </div>

                                            <div id="faq94" class="collapse" aria-labelledby="faqhead94" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading5.point3.list1')"></p> 
                                                    <p>{{$t('faq.heading5.point3.list2')}}</p>
                                                    <p>{{$t('faq.heading5.point3.list3')}}</p>
                                                    <p>{{$t('faq.heading5.point3.list4')}}</p>
                                                    <p>{{$t('faq.heading5.point3.list5')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqhead95">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq95"
                                                aria-expanded="true" aria-controls="faq2">  {{ $t('faq.heading5.point4.subtitle') }}</a>
                                            </div>

                                            <div id="faq95" class="collapse" aria-labelledby="faqhead95" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading5.point4.list1')"></p> 
                                                    <p>{{$t('faq.heading5.point4.list2')}}</p>
                                                    <p v-html="$t('faq.heading5.point4.list3')"></p> 
                                                    <p>{{$t('faq.heading5.point4.list4')}}</p>
                                                    <p>{{$t('faq.heading5.point4.list5')}}</p>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="card">
                                            <div class="card-header" id="faqhead96">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq96"
                                                aria-expanded="true" aria-controls="faq2"> {{ $t('faq.heading5.point5.subtitle') }}</a>
                                            </div>

                                            <div id="faq96" class="collapse" aria-labelledby="faqhead96" data-parent="#faq">
                                                <div class="card-body">
                                                     <p v-html="$t('faq.heading5.point5.list1')"></p>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="card">
                                            <div class="card-header" id="faqhead97">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq97"
                                                aria-expanded="true" aria-controls="faq2">  {{ $t('faq.heading5.point6.subtitle') }}</a>
                                            </div>

                                            <div id="faq97" class="collapse" aria-labelledby="faqhead97" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading5.point6.list1')"></p>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="card">
                                            <div class="card-header" id="faqhead98">
                                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq98"
                                                aria-expanded="true" aria-controls="faq2">  {{ $t('faq.heading5.point7.subtitle') }}</a>
                                            </div>

                                            <div id="faq98" class="collapse" aria-labelledby="faqhead98" data-parent="#faq">
                                                <div class="card-body">
                                                    <p v-html="$t('faq.heading5.point7.list1')"></p> 
                                                </div>
                                            </div>
                                        </div>      
                                    </div>                    
                                </div>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageBanner from '@/assets/img/safety_security_banner.webp'
export default {
    data(){
        return {PageBanner}
    }
}
</script>

