<template>
	<div>
        <div class="page_header" :style="{ backgroundImage: 'url(' + PageBanner + ')'}">
            <div class="page_header_content">
                <div class="phc_logo">
                    <img src="@/assets/img/logo.png">            
                </div>
                <div class="page_name">{{ $t('home.termsTitle') }}</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">        
                        <div class="page_inner">
                            <div class="page_title">{{ $t('terms_cond.title') }}</div>
                           <h2 class="bold center blue mb-3">"{{ $t('terms_cond.welcome') }}"</h2>
                           {{ $t('terms_cond.intro.line1') }}<br>
                           {{ $t('terms_cond.intro.line2') }}<br>
                           {{ $t('terms_cond.intro.line3') }}<br>
                           {{ $t('terms_cond.intro.line4') }}
                            <br><br>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading1.title')}} </h4>
                                <span v-html="$t('terms_cond.heading1.point1')"></span>
                                <router-link :to="`/${$i18n.locale}/privacy`" target="_blank"> Privacy Policy</router-link>
                                 and 
                                <router-link :to="`/${$i18n.locale}/safety-tips`" target="_blank"> Safety Tips</router-link>,
                                {{ $t('terms_cond.heading1.point2') }}
                                <p v-html="$t('terms_cond.heading1.point3')"></p>
                           <h4 class="semiBold"> {{ $t('terms_cond.heading2.title') }}</h4>
                                <p>{{ $t('terms_cond.heading2.subtitle') }}</p>
                                <ul>
                                   <li>{{ $t('terms_cond.heading2.point1') }}</li>
                                   <li>{{ $t('terms_cond.heading2.point2') }}</li>
                                   <li>{{ $t('terms_cond.heading2.point3') }}</li>
                                   <li>{{ $t('terms_cond.heading2.point4') }}</li>
                                </ul>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading3.title') }}</h4>
                               <p v-html="$t('terms_cond.heading3.point1', { locale: $i18n.locale })"></p>

                            <h4 class="semiBold"> {{ $t('terms_cond.heading4.title') }}</h4>
                               <p>{{ $t('terms_cond.heading4.point1') }}</p>

                            <h4 class="semiBold"> {{ $t('terms_cond.heading5.title') }}</h4>
                              <p v-html="$t('terms_cond.heading5.point1', { locale: $i18n.locale })"></p>
                              <p>{{ $t('terms_cond.heading5.point2') }}</p>

                            <h4 class="semiBold"> {{ $t('terms_cond.heading6.title') }}</h4>
                                <p>{{ $t('terms_cond.heading6.subtitle') }}</p>
                                <ul>
                                    <li>{{ $t('terms_cond.heading6.point1') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point2') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point3') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point4') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point5') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point6') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point7') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point8') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point9') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point10') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point11') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point12') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point13') }}</li>
                                    <li>{{ $t('terms_cond.heading6.point14') }}</li>
                                </ul>
                                <p>{{ $t('terms_cond.heading6.subtitle1') }}</p>
                                <p>{{ $t('terms_cond.heading6.subtitle2') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading7.title') }}</h4>
                               <p>{{ $t('terms_cond.heading7.point1') }}</p>
                               <p>{{ $t('terms_cond.heading7.point2') }}</p>
                               <p>{{ $t('terms_cond.heading7.point3') }}</p>
                               <p>{{ $t('terms_cond.heading7.point4') }}</p>
                               <p>{{ $t('terms_cond.heading7.point5') }}</p>
                               <p>{{ $t('terms_cond.heading7.point6') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading8.title') }}</h4>
                                <p>{{ $t('terms_cond.heading8.subtitle') }}</p>
                                <ul>
                                    <li>{{ $t('terms_cond.heading8.point1') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point2') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point3') }}</li>
                                    <li><span v-html="$t('terms_cond.heading8.point4',{ locale: $i18n.locale })"></span></li>
                                    <li>{{ $t('terms_cond.heading8.point5') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point6') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point7') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point8') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point9') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point10') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point11') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point12') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point13') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point14') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point15') }}</li>
                                    <li>{{ $t('terms_cond.heading8.point16') }}</li>
                                </ul>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading9.title') }}</h4>
                               <p v-html="$t('terms_cond.heading9.point1',{ locale: $i18n.locale })"></p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading10.title') }}</h4>
                               <p v-html="$t('terms_cond.heading10.point1')"></p>
                               <p v-html="$t('terms_cond.heading10.subtitle')"></p>
                               <p>{{ $t('terms_cond.heading10.point2') }}</p>
                               <p v-html="$t('terms_cond.heading10.point3')"></p>
                               <p>{{ $t('terms_cond.heading10.point4') }}</p>
                               <p>{{ $t('terms_cond.heading10.point5') }}</p>      
                               <p v-html="$t('terms_cond.heading10.point6')"></p>
                               <p v-html="$t('terms_cond.heading10.point7')"></p>
                               <p>{{ $t('terms_cond.heading10.point8') }}</p>
                               <p v-html="$t('terms_cond.heading10.point9')"></p>
                               <p v-html="$t('terms_cond.heading10.point10')"></p>
                               <p>{{ $t('terms_cond.heading10.point11') }}</p>
                               <p>{{ $t('terms_cond.heading10.point12') }}</p>
                               <p v-html="$t('terms_cond.heading10.point13')"></p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading11.title') }}</h4>
                                 <p>{{ $t('terms_cond.heading11.subtitle') }}</p>
                                <ul>
                                    <li>{{ $t('terms_cond.heading11.point1') }}</li>
                                    <li>{{ $t('terms_cond.heading11.point2') }}</li>
                                    <li>{{ $t('terms_cond.heading11.point3') }}</li>
                                    <li>{{ $t('terms_cond.heading11.point4') }}</li>
                                    <li>{{ $t('terms_cond.heading11.point5') }}</li>
                                    <li><span v-html="$t('terms_cond.heading11.point6')"></span></li>
                               </ul>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading12.title') }}</h4>
                               <p>{{ $t('terms_cond.heading12.point1') }}</p>
                               <p>{{ $t('terms_cond.heading12.point2') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading13.title') }}</h4>
                              <p>{{ $t('terms_cond.heading13.point1') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading14.title') }}</h4>
                               <p>{{ $t('terms_cond.heading14.point1') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading15.title') }}</h4>
                                <p>{{ $t('terms_cond.heading15.subtitle') }}</p>
                                <ol>
                                    <li>{{ $t('terms_cond.heading15.point1') }}</li>
                                    <li>{{ $t('terms_cond.heading15.point2') }}</li>
                                    <li>{{ $t('terms_cond.heading15.point3') }}</li>
                                    <li><span v-html="$t('terms_cond.heading15.point4')"></span></li>
                                </ol>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading16.title') }}</h4>
                                <p>{{ $t('terms_cond.heading16.point1') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading17.title') }}</h4>
                                <p>{{ $t('terms_cond.heading17.point1') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading18.title') }}</h4>
                                <p>{{ $t('terms_cond.heading18.point1') }}</p>
                            <h4 class="semiBold"> {{ $t('terms_cond.heading19.title') }}</h4>
                                <p v-html="$t('terms_cond.heading19.point1',{ locale: $i18n.locale })"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageBanner from '@/assets/img/safety_security_banner.webp'
export default {
    data(){
        return {PageBanner}
    }
}
</script>

