<template>
    <div class="testimonial" >
        <carousel :autoplay="false" :nav="false" :items="3" class="slider" :loop=false :dots=false :responsive="{0:{items:1,nav:false},576:{items:2,nav:false},600:{items:1,nav:false},700:{items:2,nav:false},800:{items:3,nav:false}}">
            <div class="single_testimonial">
                <div class="tes_header flex">
                    <div class="tes_left">
                        {{ $t('testimonial.box1.name') }}
                        <div class="designation">{{ $t('testimonial.box1.designation') }}</div>
                    </div>
                <div class="tes_right"><img class="qoutee" src="@/assets/img/quoted.png" /></div>
                </div>
                <div class="tes_desc">
                    {{ $t('testimonial.box1.description') }}
                </div>
            </div> 
            <div class="single_testimonial">
                <div class="tes_header flex">
                    <div class="tes_left">
                        {{ $t('testimonial.box2.name') }}
                        <div class="designation">{{ $t('testimonial.box2.designation') }}</div>
                    </div>
                <div class="tes_right"><img class="qoutee" src="@/assets/img/quoted.png" /></div>
                </div>
                <div class="tes_desc">
                   <span v-html="$t('testimonial.box2.description')"></span>
                </div>
            </div>
            <div class="single_testimonial">
                <div class="tes_header flex">
                    <div class="tes_left">
                        {{ $t('testimonial.box3.name') }}
                        <div class="designation">{{ $t('testimonial.box3.designation') }}</div>
                    </div>
                <div class="tes_right"><img class="qoutee" src="@/assets/img/quoted.png" /></div>
                </div>
                <div class="tes_desc">
                     <span v-html="$t('testimonial.box3.description')"></span>
                </div>
            </div>
        </carousel>
    </div>
</template>

<script>
import carousel from 'vue-owl-carousel/dist/vue-owl-carousel.js'
export default {
    components: { carousel },
    data(){
       return {}
    }
}
</script>