<template>
    <div class="static_modal">
          <div class="login_detail send_friend" id="myModalStatic">
              <div class="modal-dilog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="margin-top:10px;">
                    <div class="modal_logo">
                        <img src="@/assets/img/blue_logo2.png">
                    </div>
                    </h4>
                    <button @click.prevent="onLogout" type="button" id="closeModal" class="close" data-dismiss="modal">
                        <img src="@/assets/img/close.svg">
                    </button>
                </div> 
                <div class="modal-body" style="padding-bottom:52px;">      
                     <div id="div2" class="targetDiv">
                        <div class="green_check">
                            <img src="@/assets/img/green_check.svg">
                        </div>
                        <div class="center">
                            <i>
                                {{$t('welcome')}}<br>
                                {{$t('common.forms.success2')}}
                            </i>
                        </div>
                        <div class="modal-social">
                            <a href="https://www.facebook.com/jobamax.company" target="_blank"><img src="@/assets/img/social_link_fb.png"></a>               
                            <a href="https://www.linkedin.com/company/jobamax/" target="_blank"><img src="@/assets/img/social_link_in.png"></a>
                            <a href="https://twitter.com/jobamax_company" target="_blank"><img src="@/assets/img/invite_link_twitter.png"></a>   
                            <a href="https://www.instagram.com/jobamax/" target="_blank"><img src="@/assets/img/invite_link_insta.png"></a>                            
                        </div>
                        <div class="mt-4">
                            <div class="theme_btn" @click.prevent="onLogout">
                                <input type="button" :value="$t('common.forms.ok')">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
             </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            sharing: {
                url: 'https://www.jobamax.com',
                title: this.$t('share_slogan'),
                description: this.$t('share_slogan'),
                quote: this.$t('share_slogan')
            },
            copyButton:this.$t('common.forms.copy_url'),
        }
    },
    methods:{
        onLogout(){
           this.$store.dispatch('logout')
        },
    },
    created(){
        if(!localStorage.getItem("userId") && !localStorage.getItem("isLoggedIn")){
            this.$router.replace(`/${this.$i18n.locale}`)
        } 
    }
}
</script>