<template>
    <div>
        <div class="coming_soon">
            <h1 class="text_welcome">"{{$t('welcome')}}"</h1>
            <img src="@/assets/img/welcome.png" class="desktop_img">
            <img src="@/assets/img/welcome_mobile.png" class="mobile_img">
            <button class="custom_share_button" @click.prevent="openModal">{{$t('personalInfo.share_jobamax')}}</button>
        </div>
          <div class="login_detail send_friend" id="myModalSendFriendg">
    <modal name="modal-sharing" :adaptive="true" :height="350" :width="400" style="margin-bottom:0px;">
    <div class="modal-dilog modal-md">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="margin-top:10px;">
            <div class="modal_logo">
                <img src="@/assets/img/blue_logo2.png">
            </div>
            </h4>
            <button @click="closeModal" type="button" id="closeModal" class="close" data-dismiss="modal">
                <img src="@/assets/img/close.svg">
            </button>
        </div> 
        <div class="modal-body" style="padding-bottom:52px;">      
            <input type="hidden" class="showSingle" data-target="1">  
            <div id="div1" class="targetDiv">
                <div class="size_22 bold center">{{$t('common.forms.send_frnd')}}</div>  
                <div class="modal-social">
                    <ShareNetwork
                        network="facebook"
                        :url="sharing.url"
                        :title="sharing.title"
                        :description="sharing.description"
                        :quote="sharing.quote"
                      >
                      <img src="@/assets/img/social_link_fb.png">
                    </ShareNetwork>  
                    <ShareNetwork
                        network="linkedin"
                        :url="sharing.url"
                        :title="sharing.title"
                        :quote="sharing.quote"
                      >
                      <img src="@/assets/img/social_link_in.png">
                    </ShareNetwork>    
                    <ShareNetwork
                        network="twitter"
                        :url="sharing.url"
                        :title="sharing.title"
                      >
                      <img src="@/assets/img/invite_link_twitter.png">
                    </ShareNetwork>  
                    <a @click.prevent="shareMessenger"><img src="@/assets/img/messenger.png"></a>
                    <ShareNetwork
                        network="whatsapp"
                        :url="sharing.url"
                        :title="sharing.title"
                        :quote="sharing.quote"
                      >
                      <img src="@/assets/img/invite_link_whatsap.png">
                    </ShareNetwork>                       
                </div>    
                <input type="text" ref="mylink" readonly style="background:transparent" value="https://www.jobamax.com" class="send_link">      
                <div class="mt-4">
                    <div class="theme_btn" @click="copyURL">
                        <input  type="button" :value="copyButton">
                    </div>
                </div> 
            </div>
        </div>
    </div> 
     </div>
    </modal> 
</div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            sharing: {
                url: 'https://www.jobamax.com',
                title: this.$t('share_slogan'),
                description: this.$t('share_slogan'),
                quote: this.$t('share_slogan')
            },
            copyButton:this.$t('common.forms.copy_url'),
        }
    },
    methods:{
        openModal(){
          this.$modal.show('modal-sharing')
        },
        closeModal(){
            this.$modal.hide('modal-sharing')
            this.copyButton = this.$t('common.forms.copy_url')
        },
        copyURL(){
            var Url = this.$refs.mylink;
            Url.innerHTML = window.location.href;
            Url.select();
            document.execCommand("copy");
            this.copyButton = this.$t('common.forms.copied')
        },
        shareMessenger(){
           var shareUrl = 'http://www.facebook.com/dialog/send?app_id=248651673520206&link=https%3A%2F%2Fwww.jobamax.com&redirect_uri=https%3A%2F%2Fwww.jobamax.com';
           window.open(shareUrl,"_blank");
        }
    }
}
</script>

<style scoped>
::-webkit-scrollbar {
    display: none;
}    
</style>