<template>
	<div class="site_header_2">
            <div class="header">
                <div class="header_inner">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="index.php" class="site_logo navbar-brand desktop">
                        <img src="@/assets/img/blue_logo2.png">
                    </a>
                    <a href="index.php" class="site_logo navbar-brand mobile">
                        <img src="@/assets/img/logo.png">
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                     <span class="navbar-toggler-icon" style="background-image: url('@/assets/img/menu.svg');"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ml-auto lang nav_icon">
                            <!--<a href="#" class="nav-item nav-link active">About</a>-->
                            <a href="training.php" class="nav-item nav-link">
                                <img src="@/assets/img/traning_blue.svg">
                            </a>                    
                            <a href="jobs.php" class="nav-item nav-link">
                                <img src="@/assets/img/job_blue.svg">
                            </a>                   
                            <a href="chat.php" class="nav-item nav-link">
                                <img src="@/assets/img/chat_blue2.svg">
                            </a>
                            <a href="profile.php" class="nav-item nav-link">
                                <img src="@/assets/img/user_blue.svg">
                            </a> 
                        </div>
                    </div>           
                </nav>
                </div>
            </div>
        </div>
</template>
<script>
export default {

}
</script>
<style scoped>
.active {
    color:'red'
}
</style>