<template>
	<div class="footer" :class="{'grey_bg':isGrey}">    
        <div class="footer_section_2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="footer_heading">{{ $t('footer.company') }}</div>
                        <div class="footer_links">
                            <router-link :to="`/${$i18n.locale}/job-list`">{{ $t('footer.links.jobs') }}</router-link>
                            <router-link :to="`/${$i18n.locale}/contact-us`">{{ $t('footer.links.contact') }}</router-link>
                            <router-link :to="`/${$i18n.locale}/security`">{{ $t('footer.links.security') }}</router-link>
                            <router-link :to="`/${$i18n.locale}/subscription`">{{ $t('footer.links.subscription_tiers') }}</router-link>
                            <router-link :to="`/${$i18n.locale}/submit-your-idea`">{{ $t('footer.links.submit_your_idea') }}</router-link>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer_heading">{{ $t('footer.community') }} </div>
                        <div class="footer_links">
                            <router-link :to="`/${$i18n.locale}/blogs?page=1`">{{ $t('footer.links.blog') }} </router-link>
                            <router-link :to="`/${$i18n.locale}/press`">{{ $t('footer.links.press') }} </router-link>
                            <router-link :to="`/${$i18n.locale}/support`">{{ $t('footer.links.support') }} </router-link>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer_heading custom_top">{{ $t('footer.legal') }}  </div>
                        <div class="footer_links">
                            <router-link :to="`/${$i18n.locale}/privacy`">{{ $t('footer.links.privacy') }}</router-link>
                            <router-link :to="`/${$i18n.locale}/terms`">{{ $t('footer.links.terms') }} </router-link>
                            <router-link :to="`/${$i18n.locale}/safety-tips`">{{ $t('footer.links.safety_tips') }}</router-link>
                            <router-link :to="`/${$i18n.locale}/community-guidelines`">{{ $t('footer.links.community_guide') }}</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_section_3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading heading_width">
                            {{ $t('footer.news_title') }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="link_heading">{{ $t('footer.follow_us') }} :</div>
                            <div class="social_icon">
                            <a href="https://www.facebook.com/jobamax.company" target="_blank">
                                <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                            <a href="https://www.linkedin.com/company/jobamax/" target="_blank">
                                <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                            <a href="https://twitter.com/jobamax_company" target="_blank">
                                <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                            <a href="https://www.instagram.com/jobamax/" target="_blank">
                                <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                            </div>
                    </div>
                    <div class="col-md-7 custom_top2">
                        <div class="link_heading custom_top2">{{ $t('footer.newslatter') }}</div>
                        <div class="subscribe_section">
                            <div class="newsletter">
                                <input type="email" :placeholder="$t('footer.email_seeker')" v-model="seekerEmail" @click="changeFieldSeeker">                        
                            </div>
                            <div class="or">{{ $t('footer.or') }}</div>
                                <div class="newsletter">
                                <input type="email" :placeholder="$t('footer.email_recuiter')" v-model="recuiterEmail" @click="changeFieldRecuiter">                        
                            </div>
                            <div class="email_submit" @click.prevent="subscribeNews()">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_section_4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        &copy;  2021 Jobamax, Inc
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
//import axios from 'axios';
import notification from '@/common/notification.js';

export default {
    props:['isGrey'],
    data(){
        return {
            seekerEmail:'',
            recuiterEmail:'',
            value:1
        }
    },
    methods:{
        subscribeNews(){
            if(this.value == 1 && this.seekerEmail == '' ){
                //notification.sendNotificaton({msg:this.$t('message.seeker'),type:'error'})
                notification.errorPopup(this.$t('message.seeker'))
                return
            }
            if(this.value == 2 && this.recuiterEmail == '' ){
                //notification.sendNotificaton({msg:this.$t('message.recuiter'),type:'error'})
                notification.errorPopup(this.$t('message.recuiter'))
                return
            }
            var tags = [];
            var email ='';
            if(this.value == 1) {
                if(this.$i18n.locale == 'fr'){
                   tags = [{ name: "Subs-Seeker-FR" , status: "active"},{ name: "French" , status: "active"}]
                } else {
                  tags = [{ name: "Subs-Seeker-EN" , status: "active"},{ name: "English" , status: "active"}]
                }
                email = this.seekerEmail
            } 
            if(this.value == 2) {
                if(this.$i18n.locale == 'fr'){
                   tags = [{ name: "Subs-Recruiter-FR" , status: "active"},{ name: "French" , status: "active"}]
                } else {
                  tags = [{ name: "Subs-Recruiter-EN" , status: "active"},{ name: "English" , status: "active"}]
                }
                email = this.recuiterEmail
            } 
            this.$store.dispatch('submitSubscribeNews',{email,tags})
            this.recuiterEmail = ''
            this.seekerEmail = ''
        },
        changeFieldSeeker(event){
            this.value = 1
              console.log(event.target.value)
        },
        changeFieldRecuiter(event){
            this.value = 2
            console.log(event.target.value)
        }
    }
}
</script>
<style scoped>
.active{
    color: #0875fe;
    cursor: pointer;
}
</style> 