<template>
    <div :class="{'site_header_2':isClass}"> 
	<div :class="{'grey_bg':isGrey,'sticky':scrolled }" class="header header_with_login" id="myHeader" >
        <div class="header_inner">
           <nav class="navbar navbar-expand-lg navbar-light custom_header">
                <a  @click="goToHomePage" class="site_logo navbar-brand" >
                    <img src="@/assets/img/logo.png"> 
                </a>
                <!--a @click="goToHomePage" class="site_logo navbar-brand mobile">
                    <img src="@/assets/img/logo.png">
                </a-->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon" style="background-image: url(Menu);"   v-bind:style="{ backgroundImage: 'url(' + Menu + ')'}"></span>
                </button> 
                <!---- temporarily change !isSecond ---->
                <template v-if="isSecond">
                    <!--div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ml-auto lang nav_icon w-100 d-flex justify-content-end">
                            <router-link :to="`/${$i18n.locale}/training`" class="nav-item nav-link menu_training">
                                <img class="header_icon_blue" src="@/assets/img/traning_blue.svg">
                                <img class="header_icon_grey" src="@/assets/img/training_grey.svg">
                            </router-link>                    
                            <router-link :to="`/${$i18n.locale}/jobs`" class="nav-item nav-link menu_job">
                                <img class="header_icon_blue" src="@/assets/img/job_blue.svg">
                                <img class="header_icon_grey" src="@/assets/img/job_grey.svg">
                            </router-link>                   
                            <router-link :to="`/${$i18n.locale}/chat`" class="nav-item nav-link menu_chat">
                                <img class="header_icon_blue" src="@/assets/img/chat_blue2.svg">
                                <img class="header_icon_grey" src="@/assets/img/chat_grey.svg">
                            </router-link>
                            <router-link :to="`/${$i18n.locale}/my-profile`" class="nav-item nav-link menu_account">
                                <img class="header_icon_blue" src="@/assets/img/user_blue.svg">
                                <img class="header_icon_grey" src="@/assets/img/user_grey.svg">
                            </router-link> 
                        </div>
                    </div--> 
                    <!--a style="cursor:pointer" @click.prevent="onLogout" class="nav-item nav-link login_btn desktop header_logout">{{ $t('common.forms.logout') }}</a--> 
                </template> 
                <template v-if="!isSecond">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ml-auto lang">    
                        <router-link tag="li"  :to="`/${$i18n.locale}/about-us`" class="nav-item nav-link">{{ $t('navbar.aboutus') }}</router-link>                     
                        <a href="#" tag="li"  class="nav-item nav-link dropdown-toggle" :class="{'active_featuer':isFeature}" data-toggle="dropdown">{{ $t('navbar.features') }}</a>
                        <div class="features dropdown-menu">
                            <router-link :to="`/${$i18n.locale}/job-seeker`" class="dropdown-item ">{{ $t('feature-category.job-seeker') }}</router-link>
                            <router-link :to="`/${$i18n.locale}/professional`" class="dropdown-item">{{ $t('feature-category.job-recruiter') }}</router-link>
                        </div>                    
                        <router-link  tag="li" :to="`/${$i18n.locale}/download`" class="nav-item nav-link">{{ $t('navbar.download') }}</router-link>                 
                    </div>
                </div>     
                <span class="lang">
                    <LanguageSwitcher/>
                </span>
                <login-modal v-show="!isLogin" btxText="Login"></login-modal>
                <RegisterModal/>
                </template>
            </nav>
        </div>
    </div>
    </div>
</template>
<script>
import LanguageSwitcher from './LanguageSwitcher.vue';
import Menu from '@/assets/img/menu.svg'
import RegisterModal from './RegisterModal.vue';
import LoginModal from './LoginModal.vue';
import {mapState} from 'vuex';
export default {
    components:{LanguageSwitcher,RegisterModal,LoginModal},
    props:['isLogin','isClass','isSecond','isGrey'],
    data(){
      return {
        Menu,
        isFeature:false,
        scrolled: false
      }
    },
    computed:mapState(['isLoggedInUser']),
    methods:{
        goToHomePage(){
            if(this.isLoggedInUser && localStorage.getItem("isLoggedIn")){
                //this.$router.replace(`/${this.$i18n.locale}/my-profile`)
                this.$router.replace(`/${this.$i18n.locale}/profile`)
            } else {
                this.$router.replace(`/${this.$i18n.locale}`)
            }
        },
        onLogout(){
           this.$store.dispatch('logout')
        },
        handleScroll () {
            this.scrolled = window.scrollY > 0;
        }
    },
    created () {
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
      window.removeEventListener('scroll', this.handleScroll);
    }
}
</script>
<style scoped>
.site_logo {
    cursor:pointer
}
/*
.router-link-active,
.router-link-exact-active {
   border-bottom: 2px solid blue;
   cursor: pointer;
 }
a.nav-item.nav-link.active {
    border-bottom: 2px solid #0875fe;
}
a.nav-item.nav-link.dropdown-toggle.active {
    border-bottom: 2px solid #0875fe;
}*/

nav li:hover,
nav li:active{
    border-bottom: 2px solid #0875fe;
    cursor: pointer;
}
.active{
    border-bottom: 2px solid white !important;
    cursor: pointer;
    /*display: none;*/
}
.nav-item.nav-link {
    border-bottom: 0px;
}
.features .dropdown-menu:hover {
    border-bottom: 2px solid #0875fe;
}
.active_featuer {
     border-bottom: 2px solid #0875fe;
}
.active_featuer:hover {
     border-bottom: 2px solid #0875fe;
}
.my_logic_class{
    border: none !important;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background:none;
}
.my_logic_class img {
    height: 48px;
    margin-top: -20px;
    margin-bottom: 3px;
    background:none;
}
.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #257942;
  }
</style>
