<template>
   <div class="lang">
        <a  class="nav-item nav-link dropdown-toggle custom_language" data-toggle="dropdown"><i class="fa fa-language" aria-hidden="true"></i>{{ $t('navbar.language') }} ({{$i18n.locale | uppercase}})</a>
        <div class="dropdown-menu">
            <a 
                class="dropdown-item" href="#" 
                @click.prevent="setLocale('en')"
            >English</a>
            <a 
                class="dropdown-item" href="#" 
                @click.prevent="setLocale('fr')"
            >French</a>
        </div>
   </div>
</template>
<script>
export default {
    methods:{
        setLocale(locale){
            this.$i18n.locale = locale
            this.$router.push({
                params: { lang: locale }
            })
            localStorage.setItem('countryCode',locale)
            //window.location.reload()
            this.$forceUpdate();

        }
	},
    filters: {
        uppercase: function(v) {
           return v.toUpperCase();
        }
    }
}
</script>