<template>
	<div>
      <div class="heading" v-if="blog.title">Our Latest Post</div>  
        <div class="page">      
            <div class="page_inner">
                <div class="container">
                    <template v-if="blog.title">
                        <div class="row">
                            <div class="col-md-4">
                            <div class="blog_thumb">
                                <!--img v-if="!blog.postImage" src="@/assets/img/about_bg.jpg">
                                <img v-if="blog.postImage" :src="blog.postImage"-->
                                 <v-lazy-image
                                    :src="blog.postImage"
                                    :src-placeholder=PlaceHolder
                                  />
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="blog_detail">
                                <div class="blog_date grey">
                                    {{blog.publishDate | formatDate}}<span class="custom_divider">|</span><time-ago refresh :datetime="blog.publishDate" :long="true "></time-ago>
                                </div>
                                <div class="blog_title">
                                    <a href="javascript:void(0)" @click.prevent="getMore(blog.blogId)">{{blog.title}}</a>
                                </div>
                                <div class="blog_short_desc size_18">
                                    <div v-html="getSize(blog.description,blog.blogId)">
                                        <a href="javascript:void(0)" >read more</a>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <navigator-share
                              :url="getUrl(blog.blogId)"
                              :title="blog.title"
                              :text="blog.title"
                            ></navigator-share>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment/src/moment';
import TimeAgo from "vue2-timeago";
import NavigatorShare from '@/components/NavigatorShare.vue';
import VLazyImage from "v-lazy-image";
import PlaceHolder from '@/assets/img/blog-placeholder.jpg';
import back4appService from '@/common/back4appService.js';
export default {
    name:'LatestBlog',
    components: {
        TimeAgo,
        NavigatorShare,
        VLazyImage
    },
    data() {
        return {
           PlaceHolder,
           blog:{
                blogId:'',
                title:'',
                publishDate:'',
                description:'',
                postImage:''
            },
        }
    },
    created () {
        this.getLatestBlog()
    },
    methods:{
        getUrl(blogId){
           return `${window.location.href+'/blogs/details/'+blogId}`
        },
        getSize(value,blogId){
            if(value.length > 450){
               //var URL = `/${this.$i18n.locale}/blogs/blog-details/${blogId}`
               return value.slice(0,450) + '...'
            } else {
               console.log(blogId)
               return value
            }
        }, 
        getMore(blogId){
            this.$router.push({
               name: 'blog-details',
               params: { detailId: blogId}
            })
        },
        getLatestBlog(){
           // this.$store.dispatch('setLoadingStatus',true)
            back4appService.getLatestBlog()
                .then((response) => {
                    this.blog.blogId = response.id
                    this.blog.title = response.get('title'),
                    this.blog.publishDate = response.get('publishDate'),
                    this.blog.description = response.get('description'),
                    this.blog.postImage = response.get('postImage')
                    this.$store.dispatch('setLoadingStatus',false)
                })
                .catch(error => {
                    console.log(error)
                })
        }
    },
    filters: {
        formatDate: function (value) {
            if (value) {
               return moment(String(value)).format('DD-MM-YYYY')
            }
        }
    },
    destroyed () {
       this.$store.dispatch('setLoadingStatus',false)
    }
}
</script>



