<template>
    <div>
        <div v-if="isShowLoginBtn">
            <a href="#"  class="nav-item nav-link login_btn desktop" data-toggle="modal" data-target="#myModal">{{ $t('navbar.login') }}</a>
                <div class="modal fade login_detail" id="myModal">
                    <div class="modal-dialog modalmd">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <div class="modal_logo mb-3">
                                        <img src="@/assets/img/logo.png">
                                    </div>
                                </h4>
                                <button type="button" @click.prevent="closeLogin" id="close" class="close" data-dismiss="modal">
                                    <img src="@/assets/img/close.svg">
                                </button>
                            </div> 
                            <div class="modal-body">  
                                <div v-if="isShowAmForm" id="div1" class="targetDiv step_1">
                                    <div class="size_40 bold white">{{ $t('common.i_am') }}</div>
                                    <a class="showSingle" data-target="2">
                                        <div class="job_image" @click="iAmForm(1)">
                                            <img src="@/assets/img/job_seeker.svg">
                                        </div>
                                        <div class="size_18 semiBold">{{ $t('common.job_seeker') }}</div>
                                    </a>  
                                    <a class="showSingle" data-target="2">
                                        <div class="job_image mt-5" @click="iAmForm(2)">
                                            <img src="@/assets/img/job_recruiter.svg">
                                        </div>
                                        <div class="size_18 semiBold">{{ $t('common.recruiter') }}</div>
                                    </a>
                                </div> 

                                <div v-if="showLoginForm" id="div4" class="targetDiv step_4">
                                    <div class="modal_form login">
                                        <div class="register_img">
                                            <img src="@/assets/img/login.png">
                                        </div>
                                        <div class="size_22 center semiBold white">{{ $t('common.login') }} </div>
                                    <template v-if="isSeeker"> 
                                        <input type="email" :placeholder="$t('common.forms.placeholder.seekerEmail')" v-model="formModel.email" :class="{ 'is-invalid': submitted && $v.formModel.email.$error }" >
                                        <div class="error" v-if="submitted && $v.formModel.email.$error">Email address extension must be .edu</div>

                                        <input type="password" placeholder="******" v-model="formModel.password" :class="{ 'is-invalid': submitted && $v.formModel.password.$error }" >   
                                        <div class="theme_btn showSingle popup_btn" data-target="3">
                                            <input type="button" :value="sendButtonText" @click.prevent="seekerLogIn"  :disabled="isDisabled" :class="{disableBtn:isDisabled}">
                                        </div>
                                        <div class="modal_share">
                                            <div class="modal-social">
                                                <div class="mt-3">
                                                    <a @click="showForgotPass" class="blue"> 
                                                        {{ $t('common.forgot_pass') }}
                                                    </a>
                                                </div>
                                                <div class="grey mt-3">
                                                    {{ $t('common.dont_have_acc') }}
                                                   <a @click="showReg" data-toggle="modal" data-target="#myRegisterModal"  class="showSingle blue"> 
                                                        {{ $t('common.register') }}
                                                    </a>
                                                </div>
                                            </div> 
                                        </div>
                                    </template>
                                    <template v-else>
                                        <input type="email" :placeholder="$t('common.forms.placeholder.recuiterEmail')" v-model="formModel.remail" :class="{ 'is-invalid': submitted && $v.formModel.remail.$error }" >

                                        <input type="password" placeholder="******" v-model="formModel.password" :class="{ 'is-invalid': submitted && $v.formModel.password.$error }" >   
                                        <div class="theme_btn showSingle popup_btn" data-target="3">
                                            <input type="button" :value="sendButtonText" @click.prevent="recuiterLogIn"  :disabled="isDisabled" :class="{disableBtn:isDisabled}">
                                        </div>

                                        <div class="modal_share">
                                            <div class="mt-3">
                                                <a @click="showForgotPass" class="blue"> 
                                                    {{ $t('common.forgot_pass') }}
                                                </a>
                                            </div>
                                            <!--div class="grey mt-2 mb-2"> {{ $t('common.or') }}</div-->
                                            <div class="modal-social">
                                                <!--a href="#" @click="faceBookLogin"><img src="@/assets/img/social_link_fb.png"></a-->                        
                                                <!--a href="#" @click="linkedInLogin"><img src="@/assets/img/social_link_in.png"></a-->
                                                <!--a href="#" @click="googleLogin"><img src="@/assets/img/social_link_mail.png"></a>
                                                <a href="#" @click="appleLogin"><img src="@/assets/img/social_link_mac.png"></a-->
                                                <div class="grey mt-3">
                                                    {{ $t('common.dont_have_acc') }}
                                                   <a @click="showReg" data-toggle="modal" data-target="#myRegisterModal"  class="showSingle blue"> 
                                                        {{ $t('common.register') }}
                                                    </a>
                                                </div>
                                            </div> 
                                        </div>
                                    </template>
                                    </div>
                                </div> 
                                 <div v-if="showForgotPassword" id="div4" class="targetDiv step_4">
                                    <div class="modal_form bg_none">
                                        <div style="margin-top: -32px;">
                                            <div class="register_img verify_img">
                                                <img src="@/assets/img/register_img.png">
                                            </div> 
                                        </div> 
                                        <div class="size_22 center white">{{ $t('common.forgot') }}</div>                     
                                        <div class="white mt-2">{{ $t('common.forgot_msg') }}</div> 
                                        
                                        <div class="white mt-1">
                                            <input type="email" placeholder="xyz@example.com" v-model="forgotEmail" required >
                                        </div> 


                                        <div class="theme_btn popup_btn" @click.prevent="resetPassword"> 
                                                <input type="button" value="Forgot Password">
                                        </div>                 
                                    </div>
                                </div>
                                <div id="recaptcha-container"></div>
                                <div v-if="showLoginOtpForm" id="div3" class="targetDiv step_3">
                                    <div class="modal_form bg_none">
                                        <div class="size_22 center white">{{ $t('common.verify') }}</div>                    
                                        <div class="white size_18 mt-3 mb-2">{{ $t('common.enter_verify') }}</div>  
                                        <div class="white">{{ $t('common.verification_code') }}<br> {{ $t('common.send_to') }} : {{formModel.dialCode+formModel.phoneNumber}}</div> 
                                        <v-otp-input @on-complete="handleOnComplete" class="verity_code"/>
                                        <div class="white"> {{ $t('common.did_get_code') }} <a @click.prevent="resendOtp" href="" class="white"><u> {{ $t('common.resend') }}</u></a> </div>
                                        <div class="theme_btn popup_btn" @click.prevent="verifyOtp"> 
                                                <input type="button" value="Verify OTP">
                                        </div>
                                        <div class="register_img verify_img">
                                            <img src="@/assets/img/register_img.png">
                                        </div>                   
                                    </div>
                                </div>
                            </div>
                        </div> 
                   </div>
                </div> 
        </div>
        <div class="login_detail send_friend" id="myModalSendFriendg">
            <modal name="modal-after-login" :adaptive="true" :width="400" >
                <div class="modal-dilog modal-md">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-top:10px;">
                        <div class="modal_logo">
                            <img src="@/assets/img/blue_logo2.png">
                        </div>
                        </h4>
                        <button @click="closeModal" type="button" id="closeModal" class="close" data-dismiss="modal">
                            <img src="@/assets/img/close.svg">
                        </button>
                    </div> 
                    <div class="modal-body" style="padding-bottom:52px;">      
                        <input type="hidden" class="showSingle" data-target="1">  
                        <div id="div2" class="targetDiv">
                            <div class="size_22 bold center">{{$t('common.forms.reg_complete')}}</div>
                            <div class="green_check">
                                <img src="@/assets/img/green_check.svg">
                            </div>
                            <div class="center">
                                <i>
                                    {{$t('common.forms.success1')}}<br>
                                    {{$t('common.forms.success2')}}
                                </i>
                            </div>
                            <div class="modal-social">
                                <a href="https://www.facebook.com/jobamax.company" target="_blank"><img src="@/assets/img/social_link_fb.png"></a>               
                                <a href="https://www.linkedin.com/company/jobamax/" target="_blank"><img src="@/assets/img/social_link_in.png"></a>
                                <a href="https://twitter.com/jobamax_company" target="_blank"><img src="@/assets/img/invite_link_twitter.png"></a>   
                                <a href="https://www.instagram.com/jobamax/" target="_blank"><img src="@/assets/img/invite_link_insta.png"></a>                            
                            </div>
                            <div class="mt-4">
                                <div class="theme_btn" @click.prevent="okSuccess">
                                    <input type="button" :value="$t('common.forms.ok')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
              </div>

            </modal> 
        </div>
    </div>
</template>
<script>
import OtpInput from './custom';
import { required,requiredIf,helpers,email,minLength } from "vuelidate/lib/validators";
const emailChecker = helpers.regex('emailChecker', /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu$/);
import back4appService from '@/common/back4appService.js';
import {mapState} from 'vuex';
import notification from '@/common/notification.js';
const currentTime = Math.round(new Date().getTime()/1000);
export default {
    components:{
        'v-otp-input': OtpInput,
    },
    data(){
        return{ 
            isShowLoginBtn:true,
            isShowAmForm:true,
            showLoginForm:false,
            showLoginOtpForm:false,
            showForgotPassword:false,
            userType:1,
            formModel:{
                dialCode:'+33',
                phoneNumber:'',
                email:'',
                password:'',
                remail:''
            },
            appVerifier : '',
            submitted: false,
            otpCode:'',
            sendButtonText:this.$t('common.login'),
            isDisabled:false,
            dynamicText:this.$t('common.login'),
            isClose:false,
            isSeeker:true,
            forgotEmail:'',
            isForgotEmailValid:false,
            check:false
        }
	},
    computed: {
       ...mapState(['isUserProfileSetup','codeList'])
    },
	validations: {
            formModel: {
                /*phoneNumber: { requiredIf:requiredIf(function(){return !this.isSeeker}) ,minLength: minLength(9)},*/
                email:{ requiredIf:requiredIf(function(){return this.isSeeker}) ,emailChecker},
                password:{ required,minLength: minLength(6) },
                remail: { requiredIf:requiredIf(function(){return !this.isSeeker}),email},
            },
    },
	methods:{
        showLogin(){
        this.showRegForm = false;
        this.sendButtonText = this.$t('common.login');
        this.dynamicText = 'Login';
        this.showLoginForm = true;
	},
    showReg(){
       document.getElementById('close').click();
    },
    showForgotPass(){
        this.showLoginForm = false;
        this.showForgotPassword = true;
    },
    iAmForm(val){
        this.userType = val;
        localStorage.setItem('userType', val);
        this.isShowAmForm = false; 
        this.showLoginForm = true;
        if(val == 2){
           this.isSeeker = false
        }
    },
    closeLogin(){
        this.isClose = true
        this.isShowAmForm = true;
        this.showLoginForm = false;
        this.showLoginOtpForm = false;
        this.showForgotPassword = false;
        this.formModel = {
            dialCode:'+33',
            phoneNumber:'',
        },
        this.sendButtonText = this.$t('common.login');
        this.isDisabled = false;
        this.submitted = false
        //this.$router.reload;
        if(this.userType == 2){
           this.isSeeker = true
        }
    },
    resetPassword(){
        if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.forgotEmail)){
           back4appService.resetPassword(this.forgotEmail)
           .then(() => {
                this.showLoginForm = true;
                this.showForgotPassword = false;
                this.forgotEmail = '';
                notification.successPopup(this.$t('message.reset_msg'))
            })
            .catch(error => {
                notification.errorPopup(error.message)
            })
        } else {
            notification.errorPopup(this.$t('message.valid_email'))
        }
    },
    seekerLogIn(){
        this.submitted = true
        this.$v.$touch();
        if (this.$v.$invalid) {
            return;
        }
        this.sendButtonText = this.$t('common.isloading');
        this.isDisabled = true;
        back4appService.logIn(this.formModel.email,this.formModel.password)
        .then(response => {
            this.isShowLoginBtn = false;
            document.getElementById('close').click();
            this.$store.dispatch('fetchSeekerProfile', response.id)
            localStorage.setItem('userId', response.id);
            this.$router.push(`/${this.$i18n.locale}/profile`);
        })
        .catch(error => {
            this.sendButtonText = this.dynamicText;
            this.isDisabled = false;
            notification.errorPopup(error.message)
        })
    },
    recuiterLogIn(){
        this.submitted = true
        this.$v.$touch();
        if (this.$v.$invalid) {
            return;
        }
        this.sendButtonText = this.$t('common.isloading');
        this.isDisabled = true;
        back4appService.logIn(this.formModel.remail,this.formModel.password)
        .then(response => {
            this.isShowLoginBtn = false;
            document.getElementById('close').click();
            let user = { uid: response.id }
            this.$store.dispatch('fetchRecuiterProfile',user)
            localStorage.setItem('userId', response.id);
            back4appService.isRecuiterExist('userId',response.id)
            .then(response => {
                if(response.length && (response[0].get('isSubscriptionDone') || response[0].get('isFreeSubscriptionDone'))){
                    this.$router.push(`/${this.$i18n.locale}/profile`);
                } else {
                    if(response.length && (response[0].get('paymentRecievedTime') > currentTime)  && ((response[0].get('subscriptionPlan') === 'standard-month') || response[0].get('subscriptionPlan') === 'premium-month') ){
                       this.$router.push(`/${this.$i18n.locale}/profile`);
                    } else {
                        /*if(response.length && (response[0].get('paymentRecievedTime') < currentTime) ){
                            console.log("now time is payment ")
                        } else {*/
                            this.isShowLoginBtn = false;
                            localStorage.setItem('userEmail', response[0].get('email'))
                            this.$router.push(`/${this.$i18n.locale}/subscribes`);
                        /*}*/
                    }
                }
            })
            .catch(error => {
                this.sendButtonText = this.dynamicText;
                this.isDisabled = false;
                notification.errorPopup(error.message)
            })
        })
        .catch(error => {
            this.sendButtonText = this.dynamicText;
            this.isDisabled = false;
            notification.errorPopup(error.message)
        })
    },
        handleOnComplete(value) {
          this.otpCode = value
          console.log('OTP completed: ', value);
        },
        changeDialCode(event){
           this.formModel.dialCode = event.target.value
        },
        closeModal(){
            this.$modal.hide('modal-after-login')
        },
        okSuccess(){
            this.$store.dispatch('logout')
        },
	}
}
</script>
<style lang="css">
.disableBtn{
	opacity:0.7 
}
.is-invalid{
	color: #D8000C;
    background-color: #FFD2D2;
    border-color: #D8000C;
}
.country_code input[type="tel"] {
    padding-left: 58px;
}
</style>


