<template>
	<div>
        <div class="modal fade login_detail" id="myModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
      
        <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">
                <div class="modal_logo mb-3">
                    <img src="@/assets/img/logo.png">
                </div>
              </h4>
              <button type="button" class="close" data-dismiss="modal">
                <img src="@/assets/img/close.svg">
              </button>
            </div> 

        <!-- Modal body -->
            <div class="modal-body">    
              <input type="hidden" class="showSingle" data-target="1"> 
              <div id="div1" class="targetDiv step_1">
                <div class="size_40 bold white">I am a</div>
                <a class="showSingle" data-target="2">
                    <div class="job_image">
                        <img src="@/assets/img/job_seeker.svg">
                    </div>
                    <div class="size_18 semiBold white">Job Seeker</div>
                </a>  
             
                <div class="size_40 bold mt-4">I am a</div>
                <a class="showSingle" data-target="2">
                    <div class="job_image">
                        <img src="@/assets/img/job_recruiter.svg">
                    </div>
                    <div class="size_18 semiBold">Job Recruiter</div>
                </a>
              </div> 
              <div id="div2" class="targetDiv step_2">
                <div class="modal_form">
                  <div class="size_22 center bold">Register</div>                    
                    <input type="number" placeholder="Phone number">  
                    <input type="password" placeholder="Password">     
                    <div class="theme_btn showSingle" data-target="3">
                        <input type="button" value="Register">
                    </div>   
                    <div class="register_img">
                      <img src="@/assets/img/register_img2.png">
                    </div>  
                    <div class="modal_share">
                      <div class="grey mt-2 mb-2">OR</div>
                      <div class="modal-social">
                        <a href=""><img src="@/assets/img/social_link_fb.png"></a>
                        <a href=""><img src="@/assets/img/social_link_google.png"></a>
                        <a href=""><img src="@/assets/img/social_link_in.png"></a>
                        <a href=""><img src="@/assets/img/social_link_mac.png"></a>
                        <div class="grey mt-3">
                          Already have an account?
                          <a class="showSingle blue" data-target="4"> 
                            Login
                          </a>
                        </div>
                      </div> 
                    </div>
                </div>
              </div> 
              <div id="div3" class="targetDiv step_3">
                <div class="modal_form bg_none">
                  <div class="size_22 center white">Verify</div>                    
                  <div class="white size_18 mt-3 mb-2">Enter verification code</div>  
                  <div class="white">Please enter the verification code<br>sent to : 033 00000000</div>  
                  <div class="verity_code">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                  </div>
                  <div class="white">Didn't get the code? <a href="" class="white"><u>Resend</u></a> </div>
                  <a href="create_account.php">
                    <div class="theme_btn mt-5">
                        <input type="button" value="Send">
                    </div>
                  </a>
                  <div class="register_img">
                    <img src="@/assets/img/register_img.png">
                  </div>                   
                </div>
              </div>
              <div id="div4" class="targetDiv step_4">
                <div class="modal_form login">
                  <div class="register_img">
                    <img src="@/assets/img/login.png">
                  </div>
                  <div class="size_22 center bold white">Login</div>                    
                    <input type="number" placeholder="Phone number">  
                    <input type="password" placeholder="Password">  
                    <a href="" class="forgot_link">In case you forgot password?</a>   
                    <a href="profile.php" class="theme_btn">
                        <input type="button" value="Login">
                    </a> 
                    <div class="modal_share">
                      <div class="grey mt-2 mb-2">OR</div>
                      <div class="modal-social">
                        <a href=""><img src="@/assets/img/social_link_fb.png"></a>                        
                        <a href=""><img src="@/assets/img/social_link_in.png"></a>
                        <a href=""><img src="@/assets/img/social_link_mail.png"></a>
                        <a href=""><img src="@/assets/img/social_link_mac.png"></a>
                        <div class="grey mt-3">
                          Don't have an account?
                          <a class="showSingle blue" data-target="2"> 
                            Register
                          </a>
                        </div>
                      </div> 
                    </div>
                </div>
              </div> 
                                
            </div>
    </div> 
  </div>
  </div>
    </div>
</template>
<script>

export default {
    
}
</script>
<style scoped>
.active {
    color:'red'
}
</style>