<template>
	<div class="custom_share">
        <div class="custom_social_icon">
            <div @click="share" class="share share_mobile"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
            <div class="share share_web"><ShareNetwork
                                network="facebook"
                                :url="url"
                                :title="title"
                                :description="text"
                                :quote="text"
                              ><i class="fa fa-facebook" aria-hidden="true">
                </i> </ShareNetwork> 
                <div class="hover_share">Share</div>
            </div>
            <div class="share share_web"><ShareNetwork
                                network="twitter"
                                :url="url"
                                :title="title"
                                :description="text"
                                :quote="text"
                              ><i class="fa fa-twitter" aria-hidden="true"></i> </ShareNetwork> 
                <div class="hover_share">Share</div>
            </div>
            <div class="share share_web"><ShareNetwork
                                network="linkedin"
                                :url="url"
                                :title="title"
                                :description="text"
                                :quote="text"
                              ><i class="fa fa-linkedin" aria-hidden="true">
                </i> </ShareNetwork> 
                <div class="hover_share">Share</div>
            </div>
            <div class="share share_web"><ShareNetwork
                                network="whatsapp"
                                :url="url"
                                :title="title"
                              ><i class="fa fa-whatsapp" aria-hidden="true">
                </i> </ShareNetwork> 
                <div class="hover_share">Share</div>
            </div>
        </div>
	</div>
</template>
<script>
export default {
	props:{
		title: String,
        text: String,
        url: {
            type: String,
            required: true
        },
        onError: Function,
        onSuccess: Function,
	},
	methods:{
		share() {
			const data = {
                title: this.title,
                text: this.text,
                url: this.url
            };
            if (navigator.share) {
                navigator.share(data)
                .then((success) => {
                    if (success) {
                        this.onSuccess(success);
                    }
                })
                .catch((err) => {if (err) {this.onError(err);}
                })
            } /*else {
	          if (this.onError) {
	            this.onError('Device not supported!');
	          }
	        }*/
		}
	}
}
</script>