<template>
    <div class="custom_pagination" v-if="pager.pages && pager.pages.length > 1">
        <a class="page_left" :class="{'disabled-link': pager.currentPage === 1}" @click="setPage(pager.currentPage - 1)" >
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous
        </a>
        <div class="page_label" >Page {{pager.currentPage}} of {{pager.totalPages}}</div>
        <a class="page_right" :class="{'disabled-link': pager.currentPage === pager.totalPages}"   @click="setPage(pager.currentPage + 1)">
            Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</template> 

<script>
    import paginate from 'jw-paginate';
    export default {
        props: {
            items: {
                type: Number,
                required: true
            },
            initialPage: {
                type: Number,
                default: 1
            },
            pageSize: {
                type: Number,
                default: 3
            },
            maxPages: {
                type: Number,
                default: 10
            },
        },
        data () {
            return {
                pager: {},
            }
        },
        created () {           
            // set page if items array isn't empty
            if (this.items) {
                this.setPage(this.initialPage);
            }
        },
        methods: {
            setPage(page=1) {
                const { items, pageSize, maxPages } = this;

                // get new pager object for specified page
                const pager = paginate(items, page, pageSize, maxPages);

                // get new page of items from items array
                //const pageOfItems = items.slice(pager.startIndex, pager.endIndex + 1);

                // update pager
                this.pager = pager;

                // emit change page event to parent component
                this.$emit('changePage',pager.currentPage);
            }
        }
    }
</script>