<template>
    <div v-if="isShowRegisterBtn">
            <div class="modal fade login_detail" id="myRegisterModal">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <div class="modal_logo mb-3">
                                    <img src="@/assets/img/logo.png">
                                </div>
                            </h4>
                            <button type="button" @click.prevent="closeFuncion" id="closeRegister" class="close" data-dismiss="modal">
                                <img src="@/assets/img/close.svg"> 
                            </button>
                        </div> 
                        <div class="modal-body">    
                            <div v-if="isShowAmForm" id="div1" class="targetDiv step_1">
                                <div class="size_40 bold white">{{ $t('common.i_am') }}</div>
                                <a class="showSingle" data-target="2">
                                    <div class="job_image" @click="iAmForm(1)">
                                        <img src="@/assets/img/job_seeker.svg">
                                    </div>
                                    <div class="size_18 semiBold">{{ $t('common.job_seeker') }}</div>
                                </a>  
                                <a class="showSingle" data-target="2">
                                    <div class="job_image mt-5" @click="iAmForm(2)">
                                        <img src="@/assets/img/job_recruiter.svg">
                                    </div>
                                    <div class="size_18 semiBold">{{ $t('common.recruiter') }}</div>
                                </a>
                            </div>   

                            <div v-if="showRegForm" id="div2" class="targetDiv step_2">
                                <div class="modal_form">
                                    <div class="register_img">
                                        <img src="@/assets/img/register_img2.png">
                                    </div>
                                    <div class="size_22 center semiBold white">{{ $t('common.register') }} </div>
                                    <template v-if="isSeeker"> 
                                        <input type="email" :placeholder="$t('common.forms.placeholder.seekerEmail')" v-model="formModel.email" :class="{ 'is-invalid': submitted && $v.formModel.email.$error }" >
                                        <div class="error" v-if="submitted && $v.formModel.email.$error">Email address extension must be .edu</div>

                                        <input type="password" placeholder="******" v-model="formModel.password" :class="{ 'is-invalid': submitted && $v.formModel.password.$error }" >   
                                        <div class="theme_btn showSingle popup_btn" data-target="3">
                                            <input type="button" :value="sendButtonText" @click.prevent="signUp"  :disabled="isDisabled" :class="{disableBtn:isDisabled}">
                                        </div>
                                        <div class="modal_share">
                                            <div class="modal-social">
                                                <div class="grey mt-3">
                                                    {{ $t('common.already_have_acc') }}
                                                    <a @click.prevent="showLogin" data-toggle="modal"  data-target="#myModal" class="showSingle blue" > 
                                                         {{ $t('common.login') }}
                                                    </a>
                                                </div>
                                            </div> 
                                        </div>
                                    </template> 
                                    <template v-else>
                                        <!--div class="country_code">
                                            <select class="form-control" id="exampleFormControlSelect1"
                                            @change="changeDialCode"
                                            >
                                                <option value="+33" Selected>+33</option>
                                                <option value="+44">+44</option>
                                                <option value="+1"> +1</option>
                                                <option value="+91"> +91</option>
                                                <optgroup label="Other">
                                                    <option v-for="(code,i) of codeList" :key="i" :value="code" >{{code}}</option> 
                                                </optgroup>                    
                                            </select>                                    
                                            <input type="tel" placeholder="9632587410" v-model="formModel.phoneNumber" :class="{ 'is-invalid': submitted && $v.formModel.phoneNumber.$error }" >  
                                        </div> 
                                                        
                                        <div class="theme_btn showSingle popup_btn" data-target="3">
                                            <input type="button" :value="sendButtonText" @click.prevent="submitRegister"  :disabled="isDisabled" :class="{disableBtn:isDisabled}">
                                        </div--> 
                                        <input type="email" :placeholder="$t('common.forms.placeholder.recuiterEmail')" v-model="formModel.remail" :class="{ 'is-invalid': submitted && $v.formModel.remail.$error }" >

                                        <input type="password" placeholder="******" v-model="formModel.password" :class="{ 'is-invalid': submitted && $v.formModel.password.$error }" >   
                                        <div class="theme_btn showSingle popup_btn" data-target="3">
                                            <input type="button" :value="sendButtonText" @click.prevent="recuiterSignUp"  :disabled="isDisabled" :class="{disableBtn:isDisabled}">
                                        </div>
                                          
                                        <div class="modal_share">
                                            <!--div class="grey mt-2 mb-2">{{ $t('common.or') }}</div-->
                                            <div class="modal-social">
                                                <!--a href="#" @click="faceBookRegister"><img src="@/assets/img/social_link_fb.png"></a>
                                                <a href="#" @click="googleRegister"><img src="@/assets/img/social_link_google.png"></a-->
                                                <!--a href="#" @click="linkedInLogin"><img src="@/assets/img/social_link_in.png"></a-->
                                                <!--a href="#" @click="appleLogin"><img src="@/assets/img/social_link_mac.png"></a-->
                                                <div class="grey mt-3">
                                                    {{ $t('common.already_have_acc') }}
                                                    <a @click.prevent="showLogin" data-toggle="modal"  data-target="#myModal" class="showSingle blue" > 
                                                         {{ $t('common.login') }}
                                                    </a>
                                                </div>
                                            </div> 
                                        </div>
                                    </template>
                                </div>
                            </div>       
                            <div id="recaptcha-container"></div>
                            <div v-if="showRegOtpForm" id="div3" class="targetDiv step_3">
                                <div class="modal_form bg_none">
                                    <div class="size_22 center white"> {{ $t('common.verify') }} </div>                    
                                    <div class="white size_18 mt-3 mb-2"> {{ $t('common.enter_verify') }} </div>  
                                    <div class="white">{{ $t('common.verification_code') }} <br> {{ $t('common.send_to') }}  : {{formModel.dialCode+formModel.phoneNumber}}</div> 
                                    <v-otp-input @on-complete="handleOnComplete" class="verity_code"/>
                                    <div class="white">{{ $t('common.did_get_code') }} <a @click.prevent="resendOtp" href="" class="white"><u> {{ $t('common.resend') }} </u></a> </div>
                                    <div class="theme_btn popup_btn" @click.prevent="verifyOtp"> 
                                            <input type="button" value="Verify OTP">
                                    </div>
                                    <div class="register_img verify_img">
                                        <img src="@/assets/img/register_img.png">
                                    </div>                   
                                </div>
                            </div>
                        </div>
                    </div> 
               </div>
            </div> 
    </div>
</template>
<script>

import OtpInput from './custom';
import { required,requiredIf,helpers,email,minLength } from "vuelidate/lib/validators";
import back4appService from '@/common/back4appService.js';
import {mapState} from 'vuex';
import notification from '@/common/notification.js';
const emailChecker = helpers.regex('emailChecker', /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu$/);
const host = 'https://www.jobamax.com/';

export default {
    components:{
        'v-otp-input': OtpInput,
    },
    data(){
        return{ 
            isShowRegisterBtn:true,
            isShowAmForm: true,
            showRegForm:false,
            showRegOtpForm:false,
            showLoginForm:false,
            userType:1,
            formModel:{
                dialCode:'+33',
                phoneNumber:'',
                email:'',
                password:'',
                remail:''
            },
            appVerifier : '',
            submitted: false,
            otpCode:'',
            sendButtonText:this.$t('common.register'),
            isDisabled:false,
            dynamicText:this.$t('common.register'),
            isCloseProcess:false,
            isSeeker:true 
        }
    },
    computed: {
       ...mapState(['isUserProfileSetup','codeList'])
    },
    validations: {
            formModel: {
                /*phoneNumber: { requiredIf:requiredIf(function(){return !this.isSeeker}) ,minLength: minLength(9)},*/
                email:{ requiredIf:requiredIf(function(){return this.isSeeker}) ,emailChecker},
                password:{ required,minLength: minLength(6) },
                remail: { requiredIf:requiredIf(function(){return !this.isSeeker}),email}
            }
    },
    methods:{
        showLogin(){
            document.getElementById('closeRegister').click();
        },
        showReg(){
            this.isShowAmForm = false;
            this.sendButtonText = this.$t('common.register'),
            this.showRegForm = true;
        },
        iAmForm(val){
            this.userType = val;
            localStorage.setItem('userType', val);
            localStorage.setItem('iAmForm', true);
            this.isShowAmForm = false; 
            this.showRegForm = true;
            if(val == 2){
                this.isSeeker = false
            }
        },
        closeFuncion(){
            this.isCloseProcess = true
            this.isShowRegisterBtn = true;
            this.isShowAmForm = true;
            this.showRegForm = false;
            this.showRegOtpForm = false;
            this.formModel = {
                dialCode:'+33',
                phoneNumber:'',
            },
            this.sendButtonText = this.$t('common.register');
            this.isDisabled = false;
            this.submitted = false;
            if(this.userType == 2){
                this.isSeeker = true
            } 
        },
        signUp(){
            const link = `${host}${this.$i18n.locale}/verify-email-success/`;
            this.submitted = true
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }
            this.sendButtonText = this.$t('common.isloading');
            this.isDisabled = true;
            /*back4appService.signUp(this.formModel.email,this.formModel.password,link)
            .then(response => {
                var userObj = { 
                    userType: this.userType,
                    loginCode: 'email',
                    userId:response.id,
                    email:this.formModel.email
                }
                this.isShowRegisterBtn = false;
                document.getElementById('closeRegister').click();
                localStorage.setItem('userType', this.userType);
                localStorage.setItem('userObj', JSON.stringify(userObj));
                this.$router.push(`/${this.$i18n.locale}/create-account`);
            })*/
            back4appService.isEmailExist(this.formModel.email)
            .then(() => {
                var userObj = { 
                    userType: this.userType,
                    loginCode: 'email',
                    //userId:response.id,
                    email:this.formModel.email,
                    password:this.formModel.password,
                    link:link
                }
                this.isShowRegisterBtn = false;
                document.getElementById('closeRegister').click();
                localStorage.setItem('userType', this.userType);
                localStorage.setItem('userObj', JSON.stringify(userObj));
                this.$router.push(`/${this.$i18n.locale}/create-account`);
            })
            .catch(error => {
                this.sendButtonText = this.dynamicText;
                this.isDisabled = false;
                notification.errorPopup(error.message)
            })
        },
        recuiterSignUp(){
            const link = `${host}${this.$i18n.locale}/verify-email-success/`;
            console.log(link)
            this.submitted = true
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }
            this.sendButtonText = this.$t('common.isloading');
            this.isDisabled = true;
            /*back4appService.signUp(this.formModel.remail,this.formModel.password,link)
            .then(response => {
                var userObj = { 
                    userType: this.userType,
                    loginCode: 'email',
                    userId:response.id,
                    email:this.formModel.remail
                }
                this.isShowRegisterBtn = false;
                document.getElementById('closeRegister').click();
                localStorage.setItem('userType', this.userType);
                localStorage.setItem('userObj', JSON.stringify(userObj));
                this.$router.push(`/${this.$i18n.locale}/create-account`);
            })*/
            back4appService.isEmailExist(this.formModel.remail)
            .then(() => {
                var userObj = { 
                    userType: this.userType,
                    loginCode: 'email',
                    //userId:response.id,
                    email:this.formModel.remail,
                    password:this.formModel.password,
                    link:link
                }
                this.isShowRegisterBtn = false;
                document.getElementById('closeRegister').click();
                localStorage.setItem('userType', this.userType);
                localStorage.setItem('userObj', JSON.stringify(userObj));
                this.$router.push(`/${this.$i18n.locale}/create-account`);
            })
            .catch(error => {
                this.sendButtonText = this.dynamicText;
                this.isDisabled = false;
                notification.errorPopup(error.message)
            })
        }, 
        handleOnComplete(value) {
            this.otpCode = value
        },
        changeDialCode(event){
            this.formModel.dialCode = event.target.value
        },
    }
}
</script>
<style lang="css">
.disableBtn{
    opacity:0.7 
}
.is-invalid{
    color: #D8000C;
    background-color: #FFD2D2;
    border-color: #D8000C;
}
.error {
    color: #D8000C;
}
.country_code input[type="tel"] {
    padding-left: 58px;
}
</style>

