<template>
  <div>
    <div v-if="isLoading" class="loader"><div></div></div>
    <transition name="fade">
    <div v-show="loader" class="blue_bg">
        <div class="landing_page"><img src="@/assets/img/logo.png"></div>
    </div>
    </transition>
    <Header :isLogin="isLoggedInUser" :isClass="isHeaderClass" :isSecond="isSecondHeader" :isGrey="isGreyColorClass"/>
    <transition name="fade">
        <router-view></router-view>
    </transition>
    <Footer v-show="isShowFooter" :isGrey="isGreyColorClass"/>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import {mapState} from 'vuex';
export default {
  name: 'App',
  metaInfo: {
    meta: [
      { name: 'description', content: 'Jobamax helps you find your ideal company. Apply for job offers all over US, grow your network and make your career ambition a reality on Jobamax.' },
      { name: 'keywords', content: 'jobamax, jobamax job, jobamax jobs' },
      { name: 'viewport', content: 'width=device-width,initial-scale=1.0' }
    ]
  },
  computed: {
      ...mapState(['isLoggedInUser','isHeaderClass','isSecondHeader','isGreyColorClass','isShowFooter','isLoading']),
  },
  data(){
   return {
      loader:true
    }
  },
  created:function(){
      window.scrollTo(0, 0);
      if(localStorage.getItem("userId") && localStorage.getItem("isLoggedIn")){
        this.$store.dispatch('showFooter',false)
        this.$store.dispatch('changeHeader',true) 
      }
      if(localStorage.getItem("uid") && localStorage.getItem("isLoggedIn")){
        this.$store.dispatch('showFooter',false)
        this.$store.dispatch('changeHeader',true) 
      }
  },
  mounted() {
    setTimeout(() => {
      this.loader = false 
    }, 1000)
  },
  components: {
    Header,
    Footer
  },
}
</script>

<style>
 .fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

</style>

